<template>
	<select>
		<slot></slot>
	</select>
</template>

<script>
// selector.append($('<option>', {value:'', text:'--'}))
import $ from 'jquery'
import 'select2'

export default {
	name: 'ajax-select2',
	props:{
		options: Array,
		value: Object,
		url: String,
		dataType: {
			type: String,
			default: 'json'
		},
		respVar: {
			type: String,
			default: ''
		},
		queryParameter: {
			type: String,
			default: 'q'
		},
		placeholder: String,
		allowClear: {
			type: Boolean,
			default: false
		}
	},
	data(){
		return {
			results: []
		}
	},
	
	mounted: function () {
		var vm = this
		let value = this.value.hasOwnProperty('id') ? this.value.id : ''

		console.log('ajax-select2', this.value, value)
		$(this.$el)
			.val(value)
			// init select2
			.select2({
				placeholder: this.placeholder,
				allowClear: this.allowClear, 
				ajax: {
					url: vm.url,
					dataType: vm.default,
					headers: {Accept : 'application/json'},
					delay: 250,
					data: function (params) {
						let q = {}
						q[vm.queryParameter] = params.term
						return q
					},
					processResults: function (data) {
						// parse the results into the format expected by Select2
						// since we are using custom formatting functions we do not need to
						// alter the remote JSON data, except to indicate that infinite
						// scrolling can be used
						if (vm.respVar)
							data = data[vm.respVar]
						vm.results = data
						var formatted_data = data.map( data => {
							return {id: data.id, text: data.text}
						})
						return {
							results: formatted_data,
						}

					},
					cache: true
				},
				escapeMarkup: function (markup) {	return markup }, // let our custom formatter work
				minimumInputLength: 2,
				// templateResult: formatRepo, // omitted for brevity, see the source of this page
				// templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
			})
			// emit event on change.
			.on('change', function () {
				console.log(this.value)
				vm.$emit('input', vm.results.find( result => result.id == this.value) )
			})

	},
	watch: {
		value: function (value) {
			console.log(value)
			if (value != undefined && value.id){
			// update value
				this.results.push(this.value)
				var opt = document.createElement('option')
				opt.value = value.id
				opt.text = value.name
				this.$el.add(opt)
				$(this.$el).val(value.id).trigger('change')
				// $(this.$el).select2('val', value.id)
			}
		},

		options: function (options) {
			// update options
			console.log(options)
			if (options.length){

				var select_box = $(this.$el)
				for (var i = options.length - 1; i >= 0; i--) {
					select_box.append($('<option>', options[i]))
				}
			}
		},

		destroyed: function () {
			$(this.$el).off().select2('destroy')
		}
	}
}

</script>