<template>
		<input type="text" class="form-control datepicker">
</template>

<script>
// selector.append($('<option>', {value:'', text:'--'}));
import $ from 'jquery'
import 'bootstrap-daterangepicker'

export default {
	props: {
		options: Array,
		value: null, 
		timePicker: {
			type: Boolean,
			default: false,
		},
		format: {
			type: String,
			default: 'YYYY-MM-DD'
		}
	},
	name: 'datepicker',
	// template: '#select2-template',
	mounted: function () {
		var vm = this
		$(this.$el)
			.val(this.value)
			// init select2
			.daterangepicker({
				'singleDatePicker': true,
				'timePicker': this.timePicker,
				'timePicker24Hour': true,
				'autoUpdateInput': true,
				'autoApply': true,
				locale: {
					format: this.format
					// 'YYYY-MM-DD H:mm'
				},
				// calender_style: 'picker_4',
				'showDropdowns': true
			}, function(start, end, label) {
				console.log(start.toISOString(), end.toISOString(), label)
			})
			// emit event on change.
			.on('change', function () {
				vm.$emit('input', this.value)
			})

	},
	watch: {
		// value: function (value) {
			// if (value != undefined && value.id){
			// // update value
			//   var opt = document.createElement('option')
			//   opt.value = value.id
			//   opt.text = value.name
			//   this.$el.add(opt)
			//   $(this.$el).val(value.id).trigger('change')
				// $(this.$el).select2('val', value.id)
			// }
		// },

		// options: function (options) {
			// update options
			// console.log(options)
			// if (options.length){

			//   var select_box = $(this.$el)
			//   for (var i = options.length - 1 i >= 0 i--) {
			//     select_box.append($('<option>', options[i]))
			//   }
			// }
		// },

		// destroyed: function () {
			// $(this.$el).off().select2('destroy')
		// }
	}
}

</script>