<template id="edit-quotation">

	<div class="block">
			<div class="row show-grid">
					<div class="col-sm-12">
							<form role="form" method="post" class="form-horizontal"   @submit.prevent="saveQuotation($event)">
									<div class="form-group has-error has-success">
											<label class="col-sm-2 control-label" for="exampleInputEmail3">Code:</label>
											<div class="col-sm-10">
													<input type="text"  class="form-control" v-model="newQuotation.code">
											</div>
									</div>
									<div class="form-group has-error has-success">
											<label class="col-sm-2 control-label" for="exampleInputEmail3">Enquiry</label>
											<div class="col-sm-10">

												 <select  class="form-control" v-model="newQuotation.enquiry">
														<option v-for="enquiry in new_quotation_options.enquiries" :value="enquiry.id">
															{{ enquiry.customer.name }}
														</option>
													</select>
																								
											</div>
									</div>
									<div class="form-group has-error has-success">
											<label class="col-sm-2 control-label" for="exampleInputEmail3">Status</label>
											<div class="col-sm-10">
													<select  class="form-control" v-model="newQuotation.status">
														<option v-for="option in new_quotation_options.statuses" :value="option[0]">
															{{ option[1] }}
														</option>
													</select>
											</div>
									</div>
									
								

									<button type="submit" class="btn btn-default">Save</button>
							</form>
					</div>
			</div>
	</div>
	
</template>

<script>

// import { ErrorBag } from "vee-validate"

export default {
	// delimiters: ["{{", "}}"],
	template: '#edit-quotation',
	props: ['formAction', 'newQuotation'],
	// name: 'edit-quotation',
	data() {
		return {
			editModal: this.show,
			// new_quotation: {},
			// new_quotation: {
			//   code: '',
			//   type: '',
			//   status: '',      
			// },
			new_quotation_options: {
				statuses: [],
				enquiries: [],
				
				
			},
		}
	},
	

	created(){
		console.log('created edit-quotation')
		this.get_quotation_options()
		console.log('edit-quotation')

	},

	

	methods: {
		get_quotation_options: function(){
			// this.new_quotation = Object.assign({}, this.new_quotation, quotation) 
			var self = this
			this.$http.get('/api/quotations/choices')
			.then(function (response) {
				console.log(response)
				self.new_quotation_options = response.data
			})
			.catch(function (error) {
				console.log(error)
			})

			// if (this.newEnquiry.id){
			//   console.log(this.newQuotation)
		
			// }
				// 
		},
		
		saveQuotation: function(event){
			var self = this
			console.log(event)
			var method = 'POST'
			var url = this.formAction
			if (this.newQuotation.id){
				url += this.newQuotation
				method = 'PUT'
			}
			
			this.$http({
				method: method,
				url: url,
				data: this.newQuotation
			})
			.then(function (response) {
				console.log(response)
				self.quotation.push(response.data)
				self.newQuotation = {}
			})
			.catch(function (error) {
				console.log(error)
			})

			// this.$http.post("/user", new_quotation)
			// .then(function (response) {
			//   console.log(response)
			// })
			// .catch(function (error) {
			//   console.log(error)
			// })
		}
	}
}
</script>