<div class="block" v-show="show">
    <div class="row show-grid">
        <div class="col-sm-12">
      <form role="form" method="post" class="form-horizontal" @submit.prevent="saveEnquiry">
                <div class="form-group" :class="{'has-error': errors.has('customer') }">
                    <label class="col-sm-2 control-label">Customer:</label>
                    <div class="col-sm-7">
                        <customer-select2 :options="options" v-model="newEnquiry.customer" url="/api/customers/select_list/" style="width: 100%;">
                            <!-- <option value="">Enter Customer customer</option> -->
                        </customer-select2>
                        <span v-show="errors.has('customer')" class="help-block">
                            <i class="fa fa-warning"></i>{{ errors.first('customer') }}
                          </span>
                        <!--<select2 v-pre  class="form-control" v-model="new_enquiry.customer"></select>-->
                    </div>
                    <div class="col-sm-3">
                        <add-customer :show="edit_customer"></add-customer>
                        <button @click="edit_customer = true"
                                class="btn"
                                :class="{ 'btn-primary': !edit_customer, 'btn-danger': edit_customer }"
                        >
                            {{ edit_customer ? "Cancel" : "Add Customer" }}
                        </button>
                    </div>
                </div>
                <div class="form-group" :class="{'has-error': errors.has('customer') }">
                <div class="col-sm-10 col-sm-offset-2">
                    <item :products="choices.products" :items="newEnquiry.items" v-model="newEnquiry.amount"></item>
                </div>
                </div>
                <div class="form-group" :class="{'has-error': errors.has('name') }">
                    <label class="col-sm-2 control-label">Name:</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="newEnquiry.name">
                        <span v-show="errors.has('name')" class="help-block">
                            <i class="fa fa-warning"></i>{{ errors.first('name') }}
                          </span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-inline" :class="{'has-error': errors.has('type') }">
                        <label class="col-sm-2 control-label">Type:</label>
                        <div class="col-sm-2">
                            <select class="form-control" v-model="newEnquiry.type">
                                <option v-for="option in choices.types" :value="option[0]">
                                    {{ option[1] }}
                                </option>
                            </select>
                            <span v-show="errors.has('type')" class="help-block">
                            <i class="fa fa-warning"></i>{{ errors.first('type') }}
                          </span>
                        </div>
                    </div>
                    <div class="form-inline" :class="{'has-error': errors.has('status') }">
                        <label class="col-sm-1 control-label">Status:</label>
                        <div class="col-sm-2">
                            <select class="form-control" v-model="newEnquiry.status">
                                <option v-for="option in choices.statuses" :value="option[0]">
                                    {{ option[1] }}
                                </option>
                            </select>
                            <span v-show="errors.has('status')" class="help-block">
                            <i class="fa fa-warning"></i>{{ errors.first('status') }}
                          </span>
                        </div>
                    </div>
                    <div class="form-inline" :class="{'has-error': errors.has('follow_up_date') }">
                        <label class="col-sm-2 control-label">Follow Up Date:</label>
                        <div class="col-sm-3">
                            <input type="date" class="form-control" v-model="newEnquiry.follow_up_date">
                            <span v-show="errors.has('follow_up_date')" class="help-block">
                            <i class="fa fa-warning"></i>{{ errors.first('follow_up_date') }}
                          </span>
                        </div>
                    </div>
                </div>
                <div class="form-group" :class="{'has-error': errors.has('note') }">
                    <label class="col-sm-2 control-label">Note: </label>
                    <div class="col-sm-10">
                        <textarea class="form-control" v-model="newEnquiry.note"></textarea>
                        <span v-show="errors.has('note')" class="help-block">
                            <i class="fa fa-warning"></i>{{ errors.first('note') }}
                          </span>
                    </div>
                </div>
                <div class="form-group" :class="{'has-error': errors.has('reason_for_lost') }">
                    <label class="col-sm-2 control-label">Reason for Lost</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" v-model="newEnquiry.reson_for_lost"></textarea>
                        <span v-show="errors.has('reason_for_lost')" class="help-block">
                            <i class="fa fa-warning"></i>{{ errors.first('reason_for_lost') }}
                          </span>
                    </div>
                </div>

                <!-- :value="newEnquiry.customer" -->
                <button type="submit" class="btn btn-default">Save</button>
            </form>
        </div>
    </div>
</div>
