<template>
	<div class="btn-group">
		<button v-for="option in options"
			@click="update(option)"
			type="button"
			class="btn" :class="classObject(option)"
		>
			{{ option.text }}
		</button>
	</div>
</template>

<script>
export default {
	name: 'horizontal-select-box',

	props: {
		options: {
			type: Array,
			default: []
		},
		value: null,
		disabled: {
			type: Boolean,
			default: false
		},
		for: {
			type: String,
			required: true
		}
	},
	created(){
		console.log(this.disabled)
	},

	methods: {
		classObject: function (option) {
			var isActive = (option.value == this.value ? true : false)
			return {
				'btn-default': !isActive,
				'btn-primary': isActive,
			}
		},

		update(option){
			console.log(option)
			this.$emit('update', this.for, option)
		}
	}

}
</script>

<style>
</style>