<template>
<div>
	<span>Sort By</span>
	<ul class="order-by list-inline">
		<li v-for="prop in sort_by" :class="[prop.name]">
			<input type="checkbox" v-model="prop.active">
			<button class="sort" :class="classObject(prop)" @click.prevent="orderBy(prop)">
				{{prop.name | titleCase }}
				<i v-if="prop.active" class="fa fa-caret-up" :class="{'fa-caret-up': prop.asc, 'fa-caret-down': !prop.asc}" aria-hidden="true"></i>
			</button>
		</li>
	</ul>
</div>
</template>

<script>
// import $ from "jquery"

export default {
	name: 'order-by',
	props: {
		// fields: {
		// 	type: Array,


		// }

	},
	data(){
		return {
			sort_by: [
				{	
					field: 'amount',
					name: 'amount',
					active: false,
					asc: false
				},
				{	
					field: 'created_at',
					name: 'created on',
					active: false,
					asc: false
				},
				{	
					field: 'updated_at',
					name: 'updated on',
					active: false,
					asc: false
				}
			]
		}
	},
	watch:{
		sort_by:{
			handler: function() {
				// orderling_list = ['amount', '-created_at', ]
				var ordering_list = this.sort_by.filter(prop => prop.active ).map( prop => {
					return this.format(prop) 
				})
				console.log(ordering_list)
				if (ordering_list.length)
					this.$emit('order-by', {'ordering': ordering_list.join(',')})
				else
					this.$emit('order-by', {'ordering': {}})

			},
			deep: true
		},
		
	},
	methods:{
		orderBy(prop){
			console.log(prop)
			if(prop.active){
				prop.asc = !prop.asc
			}
		},
		classObject({active, asc}){
			return {
				'active': active,
				'asc': asc
			}
		},
		format(prop){
			console.log(prop)
			if(prop.asc)
				return prop.field
			return '-' + prop.field
		
		}
	}
}
</script>
<style>
.order-by .sort {
		font-size: 12px;
		font-size: .8rem;
		padding: 5px 15px 5px 5px;
		border-radius: 24px;
		border: none;
		display: inline-block;
		color: #2e2e2e;
		text-decoration: none;
		background-color: rgba(0, 0, 0, 0.05);
		margin: 2px 0;
		height: 28px;
}
.order-by .sort:focus {
		outline: none;
}
.order-by .sort.active  {
		border: 1.5px solid #000;
		font-weight: bold;
}
.order-by .sort.asc:after {
		width: 0;
		height: 0;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-top: 4px solid #2e2e2e;
		content: "";
		position: relative;
		top: 11px;
		right: -4px;
}
.order-by .sort:after {
		width: 0;
		height: 0;
		border-left: 4px solid transparent;
		border-right: 4px solid transparent;
		border-bottom: 4px solid transparent;
		content: "";
		position: relative;
		top: -10px;
		right: -4px;
}
</style>