<template>
	<select>
		<option></option>
	</select>
	
</template>

<script>
// selector.append($('<option>', {value:'', text:'--'}))
import $ from 'jquery'
import 'select2'

export default {
	name: 'select2',
	props:{
		options: Array,
		value: [String, Number],
	},
	data(){
		return {
			elem: null
		}
	},
	mounted: function () {
		var vm = this
		var select2 = $(this.$el)
			// init select2
			.select2({ 
				data: vm.options,
				placeholder: 'Select a product',
				allowClear: true
			})
			// emit event on change.
			.on('change', function () {
				vm.$emit('input', this.value)
			})
		select2.val(this.value).trigger('change')
	},
	computed:{
		// options(){
		//  debugger
		//  return this.options.map(options => {
		//    return {id: options.id, text: options.name}
		//  })
		// }
	},
	watch: {
		value: function (value) {
			$(this.$el).val(value).trigger('change')
		},
		options: function (options) {
			// update options
			console.log(options)
			var select_options = $(this.$el)
			// .find('option')
			options.forEach( option => {
				var select_option = select_options.children('option[value="' + option.id + '"]')
				if (option.disabled == true ){
					select_option.prop('disabled', true)
				}else{
					select_option.removeAttr('disabled')
				}
			})

			// .remove().end().select2('destroy')
			$(this.$el).select2({ 
				data: options,
				placeholder: 'Select a product',
				allowClear: true
			})
		}
	},
	destroyed: function () {
		$(this.$el).off().select2('destroy')
	}
}

</script>