{% extends "erp_admin/base.html" %}{% load static humanize %}

{% block head %}
<style>


@media print {

  a[href]:after {
    content: none!important;
  }
  .noprint{
    display:none!important;

  }
  }

</style>
{% endblock head %}
{% block content %}


<!-- Modal -->
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Filters</h4>
          </div>
          <div class="modal-body">
            <form action="" method="get">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Course</label>
                            {{ filter.form.course }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ filter.form.name.label }}</label>
                            {{ filter.form.name }}
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </form>
          </div>
          <div class="modal-footer">

          </div>
    </div>
  </div>
</div>

<div class="content-main">
        <div class="block">
            <div class="row show-grid">
                <div class="col-sm-3">
                    <h3>
                        Students

                    </h3>
                </div>
                <div class="col-sm-9">
                    <div class="pull-right">

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#filter-modal">
                          <i class="fa fa-filter"></i> Apply Filters
                        </button>
                        <a class="btn btn-primary  btn-sm" href="{% url 'student:fee_reminder' %}">
                            <i class="fa fa-refresh"></i> Refresh
                        </a>

                            <a onclick="printDiv()" class="btn btn-primary" target="__blank"> <i class="fa fa-print fa-fw"></i> Print Report</a>

                    </div>
                </div>
            </div>
            <div class="row show-grid">
                <div class="col-sm-12" id="print_receipt">
                    <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Course</th>
                                <th>Pending Amount</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for installment in installments %}
                                <tr class="">
                                    <td scope="row">{{ forloop.counter}}</td>
                                    <td>
                                        <a href="{% url 'student:detail' installment.student.student.pk %}">{{ installment.student}}</a>
                                    </td>
                                    <td>{{installment.student.course.name}}</td>
                                    <td>{{ installment.amount_to_be_paid }}</td>

                                </tr>
                                {% empty %}
                                <tr><td colspan="6">No Data  </td></tr>
                            {% endfor %}
                       </tbody>
                    </table>
                </div>
            </div>
                <div id="pagination">

                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block jsscript %}
<!-- <script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script> -->
<!-- <script>
$(document).ready(function(){
     var $date_inputs = $('#id_date,#id_next_follow_up_date')
    var date_format = 'YYYY-MM-DD';
    $date_inputs.daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        // timePicker: true,
        // timePicker24Hour: false,
        autoApply: true,
        showDropdowns: true,
        locale: {
            format: date_format,
        },
        // calender_style: "picker_4",
    }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
    });


    $date_inputs.on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('YYYY-MM-DD'));
    });

    $date_inputs.on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });


    $('form.delete').submit( function (e){
        e.preventDefault()
        e.stopPropagation()
        if(confirm('Do you want to Delete the entire student Details')){
            this.submit()
        }
    })

    $(".fade-in").addClass("load")


});
</script> -->
<script>


    function printDiv() {
    var printContents = document.getElementById('print_receipt').innerHTML;
    var originalContents = document.body.innerHTML;
     document.body.innerHTML = printContents;
     window.print();
     document.body.innerHTML = originalContents;
    }
</script>
{% endblock jsscript %}