{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static %}
{% block head %}
<style type="text/css">

</style>
{% endblock head %}
{% block content %}

<!-- Modal -->
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Filters</h4>
            </div>
            <div class="modal-body">
                <form action="" method="get">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{ filter.form.date.label }}</label>
                                {{ filter.form.date }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{ filter.form.type.label }}
                                </label>
                                {{ filter.form.type }}
                            </div>
                        </div>


                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="content-main">
    <div class="block">
        <div class="row">
            <div class="col-sm-12 col-xs-12" style="padding-left:30px;">

            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-6">
                <h3>
                    <span style="color:#d9534f;">Follow Ups </span>

                </h3>
            </div>
            <div class="col-sm-6">
                <div class="pull-right">
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                            data-target="#filter-modal">
                        <i class="fa fa-filter"></i> Filters
                    </button>
                    <a class="btn btn-primary btn-sm" href="{% url 'enquiry:myfollowups' %}">
                        <i class="fa fa-refresh"></i> Refresh
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Date</th>
                            <th>Enquiry</th>
                            <th>Enquiry Status</th>
                            <th></th>
                            <th></th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for activity in activities %}
                        <tr>
                            <td scope="row">{{ forloop.counter }}</td>
                            <td>{{activity.date}}</td>
                            <td>
                                <a href="{% url 'enquiry:enquiry_detail' activity.enquiry.pk %}">{{activity.enquiry}}</a>
                            </td>
                            <td>{{ activity.enquiry.status }}</td>
                            <td>
                            <select class="form-control statusbutton" name="status" data-value="{{activity.pk}}">
                                {% for status in statuses %}
                                <option {% if activity.status == status.1 %}selected{% endif %}><a href="" data-value="{{ activity.pk }}">{{status.1}}</a>
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                            <td>
                                <a href="{% url 'enquiry:delete_activity' activity.pk %}" class="btn btn-primary btn-xs"><i
                                    class="fa fa-trash-o"></i></a>
                                <a href="{% url 'enquiry:view_activity' activity.pk %}" class="btn btn-primary btn-xs"><i
                                    class="fa fa-eye"></i></a>
                            </td>


                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="8">No Followups</td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                <div id="pagination">
                    {{pagination|safe}}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>

<script src="{% static 'js/daterangepicker.js' %}"></script>
<script>
function getCookie(name) {
   var cookieValue = null;
   if (document.cookie && document.cookie != '') {
       var cookies = document.cookie.split(';');
       for (var i = 0; i < cookies.length; i++) {
           var cookie = jQuery.trim(cookies[i]);
           // Does this cookie string begin with the name we want?
           if (cookie.substring(0, name.length + 1) == (name + '=')) {
               cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
               break;
           }
       }
   }
   return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
   // these HTTP methods do not require CSRF protection
   return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
   beforeSend: function(xhr, settings) {
       if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
           xhr.setRequestHeader("X-CSRFToken", csrftoken);
       }
   }
});

$(document).ready(function() {
    $('#id_date').daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        showDropdowns: true,
        locale: {
            format: 'YYYY-MM-DD',
            cancelLabel: 'Clear'
        },
        }, function(start, end, label)
        {console.log(start.toISOString(), end.toISOString(), label);});
         $('#id_date').on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('YYYY-MM-DD'));
          });

         $('input[name="datefilter"]').on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
            });

    $(".statusbutton").change(function(event){
       var selectedStatus = $(this).children("option:selected").val();

       var primek = $(this).data("value")
       console.log(primek)
       if (confirm("Confirm?"))
       $(this).val(selectedStatus);
       {
           $.ajax(
           {
               url : '/activity/' + primek + '/change_status/',
               type: "POST",
               data: {
                 'status': selectedStatus
               },
               success:function(data)
               {
                   console.log('success')
               },
               error: function(jqXHR, textStatus, errorThrown)
               {
                   console.log('failed')
               }
           });
       }
     });
    });


</script>
{% endblock jsscript %}