{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static %}
{% block head %}
<style type="text/css">

</style>
{% endblock head %}
{% block content %}

<!-- Modal -->
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Filters</h4>
          </div>
          <div class="modal-body">
            <form action="" method="get">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ filter.form.code.label }}</label>
                            {{ filter.form.code }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ filter.form.name_of_candidate.label }}
                            </label>
                            {{ filter.form.name_of_candidate }}
                        </div>
                    </div>
                    

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ filter.form.course.label }}</label>
                            {{ filter.form.course }}
                        </div>
                    </div>
                     <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ filter.form.status.label }}</label>
                            {{ filter.form.status }}
                        </div>
                    </div>
                     <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ filter.form.campaign.label }}</label>
                            {{ filter.form.campaign }}
                        </div>
                    </div>
                     <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ filter.form.special_care.label }}</label>
                            {{ filter.form.special_care }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>  
                </div>
                <div class="clearfix"></div>
            </form>
          </div>
          <div class="modal-footer">
            
          </div>
    </div>
  </div>
</div>

    <div class="content-main">
        <div class="block">
            <div class="row">
                <div class="col-sm-12 col-xs-12" style="padding-left:30px;">
                   
                </div>
            </div>
            <div class="row show-grid">
                <div class="col-sm-6">
                    <h3>
                        <span style="color:#d9534f;"><blink>Reminders <i class="fa fa-exclamation-triangle"></i></a></blink></span>
                        
                    </h3>
                </div>
                <div class="col-sm-6">
                    <div class="pull-right">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#filter-modal">
                          <i class="fa fa-filter"></i> Filters
                        </button>
                        <a class="btn btn-primary btn-sm" href="{% url 'reminder:reminder' %}">
                         <i class="fa fa-refresh"></i> Refresh
                        </a>
                    </div>
                </div>                         
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Enquiry</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                {% for enquiry in enquiries %}
                                <tr>
                                    <td scope="row">{{ forloop.counter }}</td>
                                    <td><a href="{% url 'enquiry:enquiry_detail' enquiry.pk %}">{{enquiry }}</a></td>
                                    
                                </tr>
                                {% empty %}
                                <tr><td colspan="8">No Reminders</td></tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <div id="pagination">
                        {{pagination|safe}}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block jsscript %}

{% endblock jsscript %}