{% load static %}
<nav class="navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header" style="background-color: #000;">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <h1> <a class="navbar-brand" href="/"><img src="{% static 'images/jawdrop.jpg' %}"></a></h1>
    </div>
    <div class=" border-bottom">
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="drop-men">
            <ul class="nav_1" style="list-style: none;">
                {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle dropdown-at" data-toggle="dropdown">
                        <span class=" name-caret">{{ user }}<i class="caret"></i></span>
                        <span style="display: inline-block; width: 30px; min-height: 60px; vertical-align: middle; margin-left: 10px;"></span>
                    </a>
                    <ul class="dropdown-menu " role="menu">
                        {% if user.is_authenticated %}
                        <li><a href="profile.html"><i class="fa fa-user"></i>Edit Profile</a></li>
                        <li><a href="inbox.html"><i class="fa fa-envelope"></i>Inbox</a></li>
                        <li><a href="calendar.html"><i class="fa fa-calendar"></i>Calender</a></li>
                        <li><a href="inbox.html"><i class="fa fa-clipboard"></i>Tasks</a></li>
                        <li><a href="{% url 'account_logout' %}"><i class="fa fa-sign-out"></i>Logout</a></li>
                        {% else %}
                        {% endif %}
                    </ul>
                </li>
                {% else %}
                <li style="margin-top: 5px;"><a href="{% url 'enquiry:new_registration' %}" class="btn btn-lg btn-success">New Registration</a></li>
                {% endif %}

            </ul>
        </div>
        <!-- /.navbar-collapse -->
        <div class="clearfix">
        </div>
    </div>
</nav>
