{% extends "erp_admin/base.html" %} {% load guardian_tags %} {% block content %}

<div class="blank">
    <div class="blank-page">
        <a href="{% url 'employee:list' %}">Back</a>
        <div class="row show-grid">
            <div class="col-sm-12">
                <h3>
                    Recordings Of {{employee.first_name}} {{employee.last_name}}
                </h3>
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12 table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Mobile number</th>
                        <th scope="col">Date uploaded</th>
                        <th scope="col">Download audio file</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for media in medias %}
                    <tr>
                        <th scope="row">{{forloop.counter}}</th>
                        <td>
                            {{media.phone_number}}
                        </td>
                        <td>{{media.date}}</td>
                        <td>

                            <div>
                                <a href="{{ media.audio_file.url }}" class="btn btn-secondary"
                                   download="{{media.phone}}"><i class="fa fa-cloud-download" aria-hidden="true"
                                                                 style="font-size:25px;"></i></a>
                            </div>

                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
