.cal1{
   background: #fff;
   margin-bottom: 0em;
   min-height: 392px;
	border: 1px solid transparent;
    border-color: #ebeff6;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.noselect {
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls {
    position: relative;
  	color: #FFF;
	font-size: 1em;
	font-weight:400;
	text-transform: uppercase;
	padding:18px 20px;
	text-align: center;
	background-color:#1ABC9C;
	border-top-left-radius: 4px;
	-webkit-border-top-left-radius: 4px;
	-o-border-top-left-radius: 4px;
	-ms-border-top-left-radius: 4px;
	-moz-border-top-left-radius: 4px;
    border-top-right-radius: 4px;
	-webkit-border-top-right-radius: 4px;
	-o-border-top-right-radius: 4px;
	-ms-border-top-right-radius: 4px;
	-moz-border-top-right-radius: 4px;
}
.cal1 .clndr .clndr-controls .month {
   text-align:center;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button { 
  position:absolute;
  right:20px;
  top:15px;
  width:30px;
  height:30px;
  text-indent: -4000px;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button.inactive:hover {
  cursor: default;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button { 
   position:absolute;
   left:20px;
   top:15px;
   width:30px;
   height:30px;
  text-indent: -4000px;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome/Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+ */
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button.inactive:hover {
   cursor: default;
}
.cal1 .clndr .clndr-table {
  table-layout: fixed;
  width:90%;
  margin:0 auto;
}
.cal1 .clndr .clndr-table .header-days {
   font-size:1em;
   font-weight:500;
}
.cal1 .clndr .clndr-table .header-days .header-day {
  vertical-align: middle;
  text-align: center;
  color:#1ABC9C;
}
.cal1 .clndr .clndr-table tr {
    height:45px;
}
.cal1 .clndr .clndr-table tr td {
  vertical-align: top;
}
.cal1 .clndr .clndr-table tr .day {
  width: 100%;
  height: inherit;
  color: #A6A6A6;
  vertical-align: middle;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.cal1 .clndr .clndr-table tr .day.today {
  	 background:#FBB03B;
	 color: #FFF;
	 position:relative;
}

.cal1 .clndr .clndr-table tr .day.today:hover {
  	color: #FFF;
  	background:#FBB03B;
}
.cal1 .clndr .clndr-table tr .day:hover{
	color: #FFF;
  	background:#FBB03B;
}
.cal1 .clndr .clndr-table tr .day.today.event {
     background:#FBB03B;
	 color:#FFF;
}
.day.today.event:hover{
	background:#FBB03B;
	color:#FFF;
}
.cal1 .clndr .clndr-table tr .day .day-contents {
  box-sizing: border-box;
  font-size:0.8em;
  text-align:center;
  cursor:pointer;
}
.cal1 .clndr .clndr-table tr .empty,
.cal1 .clndr .clndr-table tr .adjacent-month {
  width: 100%;
  height: inherit;
  color: #989898;
  font-weight: 300;
}
@media all and (max-width:1024px){
	.cal1 .clndr .clndr-table tr .day.today:after{
		left:20px;
	}
	.cal1 .clndr .clndr-controls {
  font-size: 0.85em;
  padding: 20px 10px;
}
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-previous-button {
  left: 10px;
  top: 14px;
}  
.cal1 .clndr .clndr-controls .clndr-control-button .clndr-next-button {
  right: 10px;
  top: 14px;
}  
.cal1 .clndr .clndr-table .header-days {
  font-size: 12px;
}
.cal1 .clndr .clndr-table tr {
  height: 35px;
  font-size: 12px;
}
.cal1 {
  min-height: 280px;
}
}
@media all and (max-width:800px){
	.cal1 .clndr .clndr-table tr .day.today:after{
		left:13px;
	}
}
@media all and (max-width:640px){
	.cal1 .clndr .clndr-table tr{
		height:35px;
	}
	.cal1 .clndr .clndr-table tr .day.today:after{
		left:10px;
	}
}
@media all and (max-width:480px){
	.cal1 .clndr .clndr-table tr .day.today:after{
		left:24px;
	}
}
@media all and (max-width:320px) {
	.cal1 .clndr .clndr-table tr {
		height: 35px;
	}
	.cal1 .clndr .clndr-table tr .day.today:after{
		left:15px;
	}
}