<template>
<div class="form-group" :class="{'has-error': errors.has('activities') }">
	<div class="col-sm-12">
		<legend>Activities:</legend>
		<ul class="list-unstyled" v-show="activities.length">
			<activity v-for="(activity, index) in activities"
							  :index=index
							  :activity="activity"
							  @remove="remove(index)"
							  :val-errors="valErrors[index]"
							  :key="index + 1"
							  :types="choices"
			></activity>
		</ul>
		<span v-show="errors.has('activities')" class="help-block">
			<i class="fa fa-warning"></i>{{ errors.first('activities') }}
		</span>
	
			<!-- </div> -->
		<button class="btn btn-primary" @click.prevent="add_activity">Add Activity</button>
		<div class="clearfix"></div>
	</div>
</div>
</template>
<script>
 // @remove="activities.splice(index, 1)"

import Activity from './activity/activity.vue'

export default {
	name: 'activities',
	props: {
		choices: Array,
		activities: {
			type: Array,
			default: function () {
				return []
			}
		},
		valErrors: Array
	},

	data(){
		return {}
	},

	created(){
		if(!this.activities.length)
			this.add_activity()
		
	},

	components: {
		Activity
	},

	watch:{
		valErrors(){
			this.$validator.errorBag.clear()
			if(this.valErrors.length && typeof(this.valErrors[0]) === 'string'){
				this.$validator.errorBag.add('activities', this.valErrors[0])
			}
		}
	},

	methods : {
		add_activity() {
			this.activities.push({
				id: '',
				type: null,
				name: null,
				description: null,
				date: null,
			})
		},

		remove(index){
			this.activities.splice(index, 1)
		},
	}

}
</script>