<template>
	<select>
		<slot></slot>
	</select>
</template>

<script>
// selector.append($('<option>', {value:'', text:'--'}))
import $ from 'jquery'
import 'select2'

export default {
	props: ['options', 'value', 'url'],
	name: 'ajax-select2',
	// template: '#select2-template',
	mounted: function () {
		var vm = this
		$(this.$el)
			.val(this.value)
			// init select2
			.select2({ 
				ajax: {
					url: '/api/customers/select2_list/',
					dataType: 'json',
					delay: 250,
					data: function (params) {
						return {
							name: params.term, // search term
						}
					},
					processResults: function (data) {
						// parse the results into the format expected by Select2
						// since we are using custom formatting functions we do not need to
						// alter the remote JSON data, except to indicate that infinite
						// scrolling can be used
						return {
							results: data.customers,
						}
					},
					cache: true
				},
				escapeMarkup: function (markup) { return markup }, // let our custom formatter work
				minimumInputLength: 2,
				// templateResult: formatRepo, // omitted for brevity, see the source of this page
				// templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
			})
			// emit event on change.
			.on('change', function () {
				vm.$emit('input', this.value)
			})

	},
	watch: {
		value: function (value) {
			if (value != undefined && value.id){
			// update value
				var opt = document.createElement('option')
				opt.value = value.id
				opt.text = value.name
				this.$el.add(opt)
				$(this.$el).val(value.id).trigger('change')
				// $(this.$el).select2('val', value.id)
			}
		},

		options: function (options) {
			// update options
			console.log(options)
			if (options.length){

				var select_box = $(this.$el)
				for (var i = options.length - 1; i >= 0; i--) {
					select_box.append($('<option>', options[i]))
				}
			}
		},

		destroyed: function () {
			$(this.$el).off().select2('destroy')
		}
	}
}

</script>