<div class="block">
  <router-link :to="{name: 'enquiries'}" replace>Cancel</router-link>
  <form role="form" method="post" class="" @submit.prevent="saveEnquiry">
    <div class="form-group" :class="{'has-error': errors.has('customer') }">
      <label class="col-sm-2 control-label">Customer:</label>
      <div class="col-sm-4">
        <customer-select :options="options"
          v-model="enquiry.customer"
          url="/api/customers/select2_list/"
          style="width: 100%;"
          query-parameter="name">
          <!-- <option value="">Enter Customer customer</option> -->
        </customer-select>
        <span v-show="errors.has('customer')" class="help-block">
            <i class="fa fa-warning"></i>{{ errors.first('customer') }}
        </span>
        <!--<select2 v-pre  class="form-control" v-model="enquiry.new_enquiry.customer"></select>-->
      </div>
      <div class="clearfix"></div>
    </div>
    <fieldset>
    <!--<items :val-errors="errors.collect('items')"
    ></items>-->
      <items :products="choices.products"
             :items="enquiry.items"
             v-model="enquiry.amount"
             :val-errors="errors.collect('items')"
      ></items>
    </fieldset>
    <fieldset>

      <activities :choices="choices.activity_types"
                  :activities="enquiry.activities"
                  :val-errors="errors.collect('activities')"
      ></activities>
    </fieldset>

    <div class="form-group">
      <div class="form-inline" :class="{'has-error': errors.has('type') }">
        <label class="col-sm-2 control-label">Type:</label>
        <div class="col-sm-2">
          <select class="form-control" v-model="enquiry.type">
            <option v-for="option in choices.types" :value="option[0]">
              {{ option[1] }}
            </option>
          </select>
          <span v-show="errors.has('type')" class="help-block">
            <i class="fa fa-warning"></i>{{ errors.first('type') }}
          </span>
        </div>
      </div>
      <div class="form-inline" :class="{'has-error': errors.has('status') }">
        <label class="col-sm-1 control-label">Status:</label>
        <div class="col-sm-2">
          <select class="form-control" v-model="enquiry.status">
            <option v-for="option in choices.statuses" :value="option[0]">
              {{ option[1] }}
            </option>
          </select>
          <span v-show="errors.has('status')" class="help-block">
                        <i class="fa fa-warning"></i>{{ errors.first('status') }}
                      </span>
        </div>
      </div>
      <div class="form-inline" :class="{'has-error': errors.has('follow_up_date') }">
        <label class="col-sm-2 control-label">Follow Up Date:</label>
        <div class="col-sm-3">
          <input type="date" class="form-control" v-model="enquiry.follow_up_date">
          <span v-show="errors.has('follow_up_date')" class="help-block">
            <i class="fa fa-warning"></i>{{ errors.first('follow_up_date') }}
          </span>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="form-group" :class="{'has-error': errors.has('note') }">
      <label class="col-sm-2 control-label">Note: </label>
      <div class="col-sm-10">
        <textarea class="form-control" v-model="enquiry.note"></textarea>
        <span v-show="errors.has('note')" class="help-block">
          <i class="fa fa-warning"></i>{{ errors.first('note') }}
        </span>
      </div>
    </div>
    <div class="form-group" :class="{'has-error': errors.has('reason_for_lost') }">
      <label class="col-sm-2 control-label">Reason for Lost</label>
      <div class="col-sm-10">
        <textarea class="form-control" v-model="enquiry.reson_for_lost"></textarea>
        <span v-show="errors.has('reason_for_lost')" class="help-block">
          <i class="fa fa-warning"></i>{{ errors.first('reason_for_lost') }}
        </span>
      </div>
    </div>
    <!-- :value="enquiry.customer" -->
    <button type="submit" class="btn btn-default">Save</button>
    <div class="clearfix"></div>
  </form>
</div>
