<template src='./list.template.html'></template>

<script>
import { mapGetters, mapMutations } from 'vuex'
import ListItem from './list-item.vue'
import Paginate from 'components/paginate.vue'
import OrderBy from './order_by.vue'
import $ from 'jquery'
import 'bootstrap'
import utils from 'contrib/utils'

const All = 'All'

export default {
	
	name: 'enquiry-list',
	
	// props: ['enquiries'],

	data(){
		return {
			searchQuery: '',
			type: All,
			sortBy: [],
			order_by_list: []
		}
	},
	created(){
		console.log('created enquiry-list')
		// this.get_enquiries();
		this.$store.dispatch('getEnquiryOptions')
		this.$store.dispatch('getEnquiries')

	},
	mounted(){
		$('.dropdown-toggle').dropdown()
	},

	components: {
		ListItem,
		Paginate,
		OrderBy
	},

	computed: {
		selectedType(){
			return this.type == All ? All : this.choices.types.find( type => type[0] == this.type )[1]
		},
		
		...mapGetters({
			enquiries: 'allEnquiries',
			choices: 'choices',
			pagination: 'pagination'
		})
	},

	methods:{
		getPage(page){
			console.log(page)
			// this.$router.push({name: 'enquiries', query: {page: page} })
			// this.$store.dispatch('getEnquiries')
			this.sort_by({page: page})
		},
		sort_by(query){
			if (typeof(query) == 'object' && !utils.isEmpty(query)){
				console.log(this.$route.query, query)
				if(query.refresh)
					this.$router.push({name: 'enquiries', query: {} })
				else{
					query = Object.assign({}, this.$route.query, query)
					this.$router.push({name: 'enquiries', query: query })
				}
				console.log(this.$route.query)
			}
			this.$store.dispatch('getEnquiries')

		},
		sort_by_type(query){
			if (typeof(query) == 'object' && query.hasOwnProperty('type')){
				this.type = query.type
				if(this.type == All){
					this.sort_by({refresh: true})
					// /this.$router.push({name: 'enquiries', query: {} })
				}else
					this.sort_by(query)
			}
		},
		order_by(ordering_list){
			console.log(ordering_list)
			if(utils.isEmpty(ordering_list.ordering))
				this.sort_by({})
			else
				this.sort_by(ordering_list)

		},
		// get_enquiries: function(){
		//   // this.new_enquiry = Object.assign({}, this.new_enquiry, enquiry); 
		//   var vm = this;
		//   this.$http.get('/api/enquiries/')
		//   .then( response =>  {
		//     // console.log(response);
		//     vm.enquiries = response.data;
		//   })
		//   .catch( error => {
		//     console.log(error);
		//   });
		// },
		...mapMutations({     
			loading : 'loading',
			loaded : 'loaded',
		}),
	},


}    
</script>

<style>
ul.enquiry-list li.enquiry {
	padding: 5px;
		border: 1px solid #f1efef;
		box-shadow: 2px 2px 2px #dcd9d9;

}	
ul.enquiry-list li.enquiry .customer {
	display: inline-block;
}
ul.enquiry-list li.enquiry .index {
	padding: 3px;
	display: inline-block;
	vertical-align: top;
}
ul.enquiry-list li.enquiry span.right {
	float: right;
	text-align: right;
}
</style>