<template src='./app.template.html'></template>

<script>
import Loader from 'components/loader.vue'
import { mapState } from 'vuex'
export default {
	name: 'app',

	data(){
		return {
			enquiries: [],
			enquiry: null,
			
			enquiry_list: true,
			edit_form: false,
			view_enquiry: false,

		}
	},

	computed: {
		...mapState(['loading'])
	},
	
	components: {
		Loader,
			// <my-component> will only be available in Parent's template
	//     // 'customer-select2': require('./components/customer-select2.js'),
	//     'edit-enquiry': EditEnquiry,
	//     'enquiry-list': EnquiryList,
	//     'enquiry-detail': EnquiryDetail,
	},

	created(){
		console.log('created enquiries App')

	},

	methods:{
		
		add_enquiry: function(){
			this.toggle_component_state()
		},

		enquiry_saved: function(enquiry){
			this.enquiries = [enquiry].concat(this.enquiries) 
			// this.enquiries[enquiries.length] = enquiry
			console.log(enquiry, this.enquiries)
			this.enquiry = {}
			this.toggle_component_state()
		},

		view_details(enquiry){
			console.log('view_details', enquiry)
			this.enquiry=enquiry
			this.toggle_component_state()
		},

		close_edit_form(){
			this.edit_form = false
		}

	}
}
</script>

<style>
#enquiry-block {
	position: relative;
}
</style>
