<style type="text/css">
.parent {
	position: relative;
}
.child {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
</style>
<template>
<div class="activity">	
	<div class="gutter-10 row">
		<div class="col-xs-4 col-sm-2">
			<div class="form-group type" :class="{'has-error': errors.has('type') }">
				<label class="control-label">Type: </label>
				<transition name="fade">
					<span v-if="!edit">
					{{ activity.type }}
					</span>
					<span v-else>
						<select class="form-control" v-model="activity.type">
						  <option v-for="(type,index) in types" :value="type.id">
								{{ type.name }}
						  </option>
						</select>
						<span v-show="errors.has('type')" class="help-block">
							<i class="fa fa-warning"></i>{{ errors.first('type') }}
						</span> 
					</span>
				</transition>
			</div>
		</div>
		<div class="col-xs-8 col-sm-2">
			<div class="form-group date" :class="{'has-error': errors.has('date') }">
				<label class="control-label">Follow Up Date: </label>
				<transition name="fade">
					<span v-if="!edit">
					{{ activity.date }}
					</span>
					<span v-else>
						<datepicker v-model="activity.date" format="YYYY-MM-DD H:mm" :time-picker="true"></datepicker>
						<span v-show="errors.has('date')" class="help-block">
							<i class="fa fa-warning"></i>{{ errors.first('date') }}
						</span> 
					</span>
				</transition>
			</div>
		</div>
		<div class="col-xs-12 col-sm-8"  :class="{'has-error': errors.has('description') }">
			<div class="description">
				<label class="control-label">Description: </label>
				<transition name="fade">
					<span v-if="!edit">
					{{ activity.description }}
					</span>
					<span v-else>
						<textarea class="form-control" rows="1" style="width: 100%;" v-model="activity.description"></textarea>
						<span v-show="errors.has('description')" class="help-block">
							<i class="fa fa-warning"></i>{{ errors.first('description') }}
						</span> 
					</span>
				</transition>
			</div>
		</div>
	</div>
</div>
</template>

<script>
// import $ from "jquery"
// import "bootstrap-daterangepicker"
import DatePicker from 'components/datepicker.vue'
export default {
	name: 'activity',
	props: {
		types:{
			type: Array,
			required: true,
		},
		activity: {
			type: Object,
			required: true,
		},
		index: Number,
		valErrors: [Array, Object],
		edit: {
			type: Boolean,
			default: true
		}
	},

	components:{
		'datepicker': DatePicker
	},


	watch:{
		valErrors(){
			// this.$validator.errorBag.clear()
			this.handle_validation_errors(this.valErrors)
			// for(var key in this.valErrors){
			//     this.$validator.errorBag.add(key, this.valErrors[key][0])
			// }
		}
	},


	created(){
		console.log('created edit-enquiry-activities', this.activities, this.value, this.types)
	},

	// mounted(){
	//     this.init_daterangepicker()
	// },

	methods: {
		handle_validation_errors(errors){
			this.$validator.errorBag.clear()
			this.update_error_bag(errors)
		},

		update_error_bag(errors){
			for(var key in errors) {
				if(errors[key].length){
					errors[key].forEach( error_msg => {
						this.$validator.errorBag.add(key, error_msg)
					})
				}else{
					this.update_error_bag(errors[key])
				}
				// this.errors.add(key, errors[key])
				// vm.errors.push({ field: key, msg: errors[key]})
			}
		}

	}

}
</script>

<style>
div.activity{
	position: relative;
	border-bottom: 1px solid #eee;
	padding: 5px 40px 5px 5px;
}
div.activity .remove{
    position: absolute;
    top: 0;
    right: 0px;
    font-size: 1.1em;
    font-weight: 700;
    width: 30px;
    text-align: center;
    margin-top: 5px;
    /*float: left;*/
}
.destroy {
	color: #d9534f;
	border-color: #d43f3a;/*position: absolute;*/
}
a.destroy:hover {
	color: #c9302c;
	border-color: #ac2925;
}
</style>