{% extends "erp_admin/base.html" %}
{% load static %}
{% block head %}
{% endblock head %}
{% block css %}
<style>
.req{
  color:#FC0404!important;
  font-size:20px!important;
}
</style>
{% endblock css %}
{% block content %}
<div class="block">
    
    <div class="row show-grid">
        <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6">
            <h3>
                Add Program/Courses
                
            </h3>
        </div>
        <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6" align="right">
        
                <a href="{% url 'crm:products' campaign.pk %}"><i class="fa fa-arrow-left"></i>Back</a>
        </div>
    </div>
</div>
<div class="blank">
    <div class="grid-form1" style="padding: 2%;">
        <form class="" action="{{ form_url }}" method="post" id="form">{% csrf_token %}
            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    
                    
                    
                    <div class="row show-grid">

                        <div class="col-lg-3 col-xs-12 col-md-3 col-sm-3">
                         <h4>Select Program/Courses <i class="fa fa-arrow-right"></i></h4>
                        </div>
                        
                        <div class="col-lg-4 col-xs-12 col-md-3 col-sm-3">
                            <div class="form-group">
                                <div class="">
                                    {{ product_form.product }}{{ product_form.product.errors }}
                                </div>
                            </div>
                        </div>
                    </div>
                

                    <div class="row show-grid">
                        <div class="col-sm-12 col-xs-12">
                            <button type="submit" class="btn-primary btn">Submit</button>   
                        </div>
                    </div>
                </div>
            </div>
            
            
        </form>
    </div>
</div>
{% endblock content %}
{% block jsscript %}

{% endblock jsscript %}