{% extends "erp_admin/base.html" %} 
{% load static %}
{% block head %}
<style>
.row{
    margin-left:5px;
    margin-right:5px;
}
.tdCenter {
    text-align:right; /* center textbox horizontally */
    vertical-align: middle; /* center textbox vertically */

}
.text_size{
    font-size:18px!important;
    color:#000000!important;
}
mark {
    background-color:#f0ad4e;
    color:#ffffff;
}
</style>
{% endblock head %} 
{% block content %}
<div class="banner">
    <h2>
        <a href="/">Home</a>
        <i class="fa fa-angle-right"></i>
        <span><a href="{% url 'crm:campaign_list' %}">Campaigns</a></span>
        <i class="fa fa-angle-right"></i>
        <span>{{ campaign.name }}</span>
        <a href="{{request.http.referer}}" class="pull-right"><i class="fa fa-times"></i></a>
    </h2>
</div>
<div id="quotation-block" v-cloak>
    <div class="block">
        <div class="row show-grid">
            <div class="row">
                <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6">
                    <h3>Campaign : {{ campaign.name }}</h3>
                </div>
                    <div class="col-sm-6 col-xs-12 col-md-6 col-lg-6" align="right">

                        <div class="dropdown">
                              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select More<span class="caret"></span>
                              </button>
                              <ul class="dropdown-menu dropdown-menu-right">
                                <li><a href="{% url 'crm:campaign_edit' campaign.pk %}">Edit</a></li>
                                

                              </ul>
                         </div>
                    
                    </div>
            </div>
        </div>
    </div>

    <div class="block">
        
        <div class="row show-grid">
            <div class="row">
                <div class="col-sm-6 col-xs-12" style="">
                    <span style="color:#d95459;font-size:20px;">
                        Date and Time: {{ campaign.created_at | date:'d M Y' }}
                    </span>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <span style="color:#d95459;font-size:20px;" class="pull-right">
                        Last Update: {{ campaign.updated_at | date:'d M Y' }}
                    </span>
                </div>
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-8">
                <table class="table table-bordered">
                    <thead>

                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2" style="text-align: center; font-size: 20px; color:black;">Campaign Details</td>
                        </tr>
                        <tr>
                            <th>Name</th>
                            <td>{{ campaign.name }}</td>
                        </tr>
                        <tr>
                            <th>media</th>
                            <td>{{ campaign.media }}</td>
                        </tr>
                        <tr>
                            <th>media_type</th>
                            <td>{{ campaign.media_type }}</td>
                        </tr>
                        <tr>
                            <th>category</th>
                            <td>{{ campaign.category }}</td>
                        </tr>
                        <tr>
                            <th>start_date</th>
                            <td>{{ campaign.start_date| date:'d M Y' }}</td>
                        </tr>
                        <tr>
                            <th>end_date</th>
                            <td>
                                {{campaign.end_date| date:'d M Y'}} 
                            </td>
                        </tr>
                       {% if campaign.location %}
                        <tr>
                            <th>location</th>
                            <td>
                                {{campaign.location}}
                            </td>
                        </tr>
                        {% endif %}
                        <tr>
                            <th>description</th>
                            <td>
                                {{campaign.description}}
                            </td>
                        </tr>
                        <tr>
                            <th>offer_details</th>
                            <td>
                                {{campaign.offer_details}}
                            </td>
                        </tr>
                        <tr>
                            <th>budget</th>
                            <td>
                                <i class="fa fa-inr"></i>{{campaign.budget}}
                            </td>
                        </tr>
                        
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row show-grid">
            <div class="col-sm-8">
                <table class="table table-bordered">
                    <thead>

                    </thead>
                    <tbody>
                        <tr>
                            <td colspan="2" style="text-align: center; font-size: 20px; color:black;">Target Audience Campaign Details</td>
                        </tr>
                        {% if campaign.audience.gender %}
                            <tr>
                                <th>Gender</th>
                                <td>{{ campaign.audience.gender }}</td>
                            </tr>
                            <tr>
                                <th>Age Limit</th>
                                <td>{{ campaign.audience.age_limit }}</td>
                            </tr>
                            <tr>
                                <th>Income Range</th>
                                <td>{{ campaign.audience.income_range }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <th>No Target Audience </th>
                            </tr>
                       {% endif %}
                        
                    </tbody>
                </table>
            </div>
        </div>

    </div>

   

</div>
    




{% endblock content %} 

{% block jsscript %}

{% endblock jsscript %}