{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static %}
{% block head %}
<style>
.table>thead>tr>th{
    color: #00ABE7!important;
    font-size: 15px!important;

}
</style>

{% endblock head %}
{% block content %}

<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Filters</h4>
      </div>
      <div class="modal-body">
        <form action="" method="get">
            {# {{ filter.form }} #}

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ form.name.label }}</label>
                    {{ form.name }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Select {{ form.media_type.label }}</label>
                    {{form.media_type }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">Select {{ form.media.label }}</label>
                    {{form.media }}
                </div>
            </div>



            <div class="clearfix"></div>



            <button type="submit" class="btn btn-primary">Submit</button>
            <div class="clearfix"></div>
        </form>
      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>




    <div class="content-main">
        <div class="block">
            <div class="row show-grid">
                <div class="col-sm-6 col-xs-12 col-md-6">
                    <h3>Source(Campaign)
                          <a href="{% url 'crm:campaign_create' %}" class="btn btn-link">
                              <i class="fa fa-plus-square-o fa-2x"></i>
                        </a>
                    </h3>

                </div>


                <div class="col-sm-6 col-xs-12 col-md-6">
                    <div class="pull-right">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#filter-modal">
                          <i class="fa fa-filter"></i> Filters
                        </button>
                        <a class="btn btn-primary btn-sm" href="{% url 'crm:campaign_list' %}">
                        <i class="fa fa-refresh" aria-hidden="true"></i>
                        Refresh</a>

                        <div class="dropdown">
                          <button id="dLabel" class="btn btn-primary btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Settings
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
                            <li>
                                <a href="/admin/crm/media/" class="btn btn-link" target="_blank">
                                    <i class="fa fa-pencil-square-o fa-fw"></i>Campaign Media
                                </a>
                            </li>
                             <li>
                                <a href="/admin/crm/campaigncategory/" class="btn btn-link" target="_blank">
                                    <i class="fa fa-pencil-square-o fa-fw"></i>Campaign Category
                                </a>
                            </li>
                          </ul>
                        </div>

                    </div>

                </div>




            </div>
            <div class="row">
                <div class="col-sm-12 col-xs-12 col-md-12 table-responsive">

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Media Type</th>
                                <th>Budget</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for campaign in campaigns %}
                            <tr>
                                <td scope="row">{{ forloop.counter0|add:campaigns.start_index }}</td>
                                <td>
                                    <a href="{% url 'crm:campaign_detail' campaign.id %}">{{campaign.name}}</a>
                                </td>
                                <td>{{campaign.media_type}}</td>
                                <td>{{campaign.budget}}</td>
                                <td><a href="{% url 'crm:campaign_edit' campaign.id %}"><i class="fa fa-pencil"></i></a></td>

                            </tr>
                            {% empty %}
                            <tr>

                            <td colspan="5">No Campaigns created yet</td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>

                    <div id="pagination" align="right">
                        <!-- {{pagination|safe}} -->
                        {% if campaigns.has_other_pages %}
                              <ul class="pagination">
                                {% if campaigns.has_previous %}
                                  <li><a href="?page={{ campaigns.previous_page_number }}">&laquo;</a></li>
                                {% else %}
                                  <li class="disabled"><span>&laquo;</span></li>
                                {% endif %}
                                {% for i in campaigns.paginator.page_range %}
                                  {% if campaigns.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                  {% else %}
                                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                                  {% endif %}
                                {% endfor %}
                                {% if campaigns.has_next %}
                                  <li><a href="?page={{ campaigns.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                  <li class="disabled"><span>&raquo;</span></li>
                                {% endif %}
                              </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block jsscript %}
<script>

</script>

{% endblock jsscript %}