{% extends "erp_admin/base.html" %} {% load static group_required %} {% block content %}
<style>



@media (min-width: 768px) {}

.cl {
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid rgb(234, 234, 234);
    margin-top: 30px;
}

.req{
  color:#FC0404!important;
  font-size:20px!important;
}






</style>
<div class="blank">
    <div class="blank-page">

        <form role="form" class="form-horizontal" method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            <h2>Course Details</h2>
            <div class="tab-pane active" id="horizontal-form">
                <div class="exp">
                    <div class="table-responsive">
                        <table class="table table-responsive" id="tablespan">
                            <thead>
                            <tr>
                                <th class="tcolor">Course<span class="req">*</span></th>
                                <th class="tcolor">Date Of Joining<span class="req">*</span></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr class="expense">

                                <td>
                                    <div>
                                        {{ form.course__pk.errors}}
                                        {{ form.course__pk}}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        {{ form.date_of_joining.errors}}

                                        {{ form.date_of_joining}}
                                    </div>
                                </td>
                                <td>
                                    <div>
                                        {% if course.instance.pk %}{{ course.DELETE }}{% endif %}

                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <div class="row">
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </div>


        </form>
    </div>
</div>
{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script>
    $('.tdate').daterangepicker({
          singleDatePicker: true,
          showDropdowns: true,
          locale: {
        		format: 'YYYY-MM-DD',
      			},


        }, function(start, end, label) {
          console.log(start.toISOString(), end.toISOString(), label);
        });
$(document).ready(function() {

    $('.js-basic-multiple').select2();
    });
</script>
{% endblock jsscript %}
