<!doctype html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
     <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet' type='text/css' />

    <title>ibis Educational services</title>


    <style type="text/css">
    @media print{

    #container-floating{
    display:none!important;
    }
    }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 1.5rem;
        }

        .header-2 {
            background: #f8f8f8;
            padding: 5px 5% 40px;
            text-align: center;
        }

        .header-3 {
            background: #f8f8f8;
            padding: 15px -2px;
        }

        footer {
            background: #f8f8f8;
            padding: 30px 0 50px;
        }

        .form-box {
            margin: 0 auto 40px;
            padding: 20px 40px 25px;
            border: 2px solid;
        }

        h6 {
            font-size: 16px;
            line-height: 25px;
            margin: 10px 0;
            font-weight: 400;
        }

        th {
            font-size: 16px!important;
            font-weight: 700!important;
        }

        table,
        th,
        td {
            border: 2px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 7px;
            text-align: center;
        }

        .details {
            width: 88%;
        }

        .profile-picture {
            width: 92%;
            text-align: center;
            margin: 0 auto;
            float: right;
        }

        .table-box {
            width: 82%;
            margin: 0 auto 30px;
        }

        .table-box-head {
            border: 2px solid #000;
            border-bottom: 0px;
        }

        .table-box-head h6 {
            line-height: 45px!important;
            text-align: center!important;
            margin: 0px!important;
            font-weight: 700!important;
            font-size: 16px!important;
        }
        p {
        margin-bottom: 1rem!important;
        line-height:33px;

        }
        b{
        border-bottom:2px dotted black!important;min-width:100px!important;
        }
        .img-cntr{
        margin-bottom: 40px; width: 170px; margin-left:auto; margin-right:auto;display:block;
        }

        .center1 {
  margin: auto;
  width: 50%;
  border: 3px solid #000;
  padding: 7px 10px;
}


#presentation{
  width: 480px;
  height: 120px;
  padding: 20px;
  margin: auto;
  background: #FFF;
  margin-top: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s;
  border-radius: 3px;
}

#presentation:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s;
  transform: translateZ(10px);
}

#floating-button{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #fb9235;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
}

.plus{
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 48px;
  font-size: 38px;
  font-weight: 300;
  animation: plus-out 0.3s;
  transition: all 0.3s;
}

#container-floating{
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 30px;
  right: 30px;
  z-index: 50px;
}

#container-floating:hover{
  height: 400px;
  width: 90px;
  padding: 30px;
}

#container-floating:hover .plus{
  animation: plus-in 0.15s linear;
  animation-fill-mode: forwards;
}

.edit{
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  display: block;
  right: 0;
  padding: 0;
  opacity: 0;
  margin: auto;
  line-height: 48px;
  transform: rotateZ(-70deg);
  transition: all 0.3s;
  animation: edit-out 0.3s;
}

#container-floating:hover .edit{
  animation: edit-in 0.2s;
   animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes edit-in{
    from {opacity: 0; transform: rotateZ(-70deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

@keyframes edit-out{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(-70deg);}
}

@keyframes plus-in{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(180deg);}
}

@keyframes plus-out{
    from {opacity: 0; transform: rotateZ(180deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

.nds{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  z-index: 300;
  transform:  scale(0);
  cursor: pointer;
}

.nd1{
  background: #ffffff;
  right: 40px;
  bottom: 120px;
  animation-delay: 0.2s;
    animation: bounce-out-nds 0.3s linear;
  animation-fill-mode:  forwards;
}

.nd3{
  background: #ffffff;
  right: 40px;
  bottom: 180px;
  animation-delay: 0.15s;
    animation: bounce-out-nds 0.15s linear;
  animation-fill-mode:  forwards;
}

.nd4{
  background: #ba68c8;
  right: 40px;
  bottom: 240px;
  animation-delay: 0.1s;
    animation: bounce-out-nds 0.1s linear;
  animation-fill-mode:  forwards;
}

.nd5{
  background-image: url('https://lh3.googleusercontent.com/-X-aQXHatDQY/Uy86XLOyEdI/AAAAAAAAAF0/TBEZvkCnLVE/w140-h140-p/fb3a11ae-1fb4-4c31-b2b9-bf0cfa835c27');
  background-size: 100%;
  right: 40px;
  bottom: 300px;
  animation-delay: 0.08s;
  animation: bounce-out-nds 0.1s linear;
  animation-fill-mode:  forwards;
}

@keyframes bounce-nds{
    from {opacity: 0;}
    to {opacity: 1; transform: scale(1);}
}

@keyframes bounce-out-nds{
    from {opacity: 1; transform: scale(1);}
    to {opacity: 0; transform: scale(0);}
}

#container-floating:hover .nds{

  animation: bounce-nds 0.1s linear;
  animation-fill-mode:  forwards;
}

#container-floating:hover .nd3{
  animation-delay: 0.08s;
}
#container-floating:hover .nd4{
  animation-delay: 0.15s;
}
#container-floating:hover .nd5{
  animation-delay: 0.2s;
}



.reminder{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  line-height: 40px;
}

.profile{
  border-radius: 50%;
  width: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 20px;
}

a {
    color: #fb9235;
}

.boldname{
        font-size: 1.5em;
}

body{
    font-family:Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size: 16px;
}
</style>
</head>

<body>

    <img src="{{certificates.certificate.header_image.url }}" class="img-fluid" alt="Header image">
    <section class="header-2">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h3 style="color: black;font-size: 24px;margin-bottom: 3.5rem;"><strong>{{certificates.certificate.name|upper }} Certificate Number: {{certificates.certificate_number}}</strong></h3>
                    <p align="justify">This is to certify that
                        {% if certificates.student.student.gender == "Male" %} Mr{% elif certificates.student.student.gender == "Female" %} Ms{% else %}Mr/Ms{% endif %}.
                        <b class="boldname">
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{certificates.student}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </b> has satisfactory
                    completion of the training and passing the level II (TWO) examination in
                    <b class="boldname">  &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;{{certificates.certificate.test_name|upper }} &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;  </b> method as detailed below in accordance
                        with the requirements of <strong> SNT / TC / 1A of American Society for Non Destructive Testing.</strong> This
                    certificate is issued to enable the employer to certify the individual to the requirement of
                        <strong> SNT-TC-1A of ASNT 2016.</strong></p>
                </div>
            </div>
        </div>
    </section>
    <section class="header-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="details">
                        <div class="form-box">
                            <h6><strong>Educational Qualification: </strong>{% if certificates.student.student.highest_qualification %} {{certificates.student.student.highest_qualification }} {% else %} ......................................................... {% endif %}</h6>
                            <h6><strong>Work Experience:</strong> {% if certificates.work_experience %} {{certificates.work_experience}} {% else %} ......................................................... {% endif %}</h6>
                            <h6><strong>Training Venue: Ibis Academy,Thrissur</strong></h6>
                            <h6><strong>Training Date: </strong>{% if certificates.training_date_from %} {{certificates.training_date_from|date:"d/m/Y"}} {% else %} ......................................................... {% endif %} To {% if certificates.training_date_to %} {{certificates.training_date_to|date:"d/m/Y"}} {% else %} ......................................................... {% endif %}</h6>
                            <h6><strong>Training Hours:</strong> {% if certificates.training_hours %} {{certificates.training_hours}} Hours{% else %} ......................................................... {% endif %}</h6>
                            <h6><strong>Date of Original Issue:</strong> {% if certificates.issue_date %} {{certificates.issue_date|date:"d/m/Y"}} {% else %} ......................................................... {% endif %}</h6>
                            <h6><strong>Validity Upto:</strong> {% if certificates.validity %} {{certificates.validity|date:"d/m/Y"}} {% else %} ......................................................... {% endif %}</h6>
                        </div>
                       <table>
                    <tr>
                        <th>Examination</th>
                        <th>Marks Obtained</th>
                        <th>Minimum Marks Required</th>
                    </tr>
                    <tr>
                        <td>General</td>
                        <td>{{certificates.general}}%</td>
                        <td>70%</td>
                    </tr>
                    <tr>
                        <td>Specific</td>
                        <td>{{certificates.specific}}%</td>
                        <td>70%</td>
                    </tr>
                    <tr>
                        <td>Practical</td>
                        <td>{{certificates.practical}}%</td>
                        <td>70%</td>
                    </tr>
                    <tr>
                        <td>Aggregate</td>
                        <td>{{certificates.aggregate}}%</td>
                        <td>80%</td>
                    </tr>
                </table>
                    </div>
                </div>
                <div class="col">
                    <div class="profile-picture">
                        {% if certificates.student.student.photo %}
                            <img src="{{certificates.student.student.photo.url}}" class="img-cntr">
                        {% else %}

                            <img src="{% static 'images/pro-pic.png' %}" class="img-cntr">

                        {% endif %}
                        <div class="table-box" style="color: #3c3c3c!important;">
                                <div class="table-box-head">
                                    <h6>Vision Result</h6>
                                </div>
                                <table style="width:100%">
                                    <tr>
                                        <td>Near Vision</td>
                                        <td>OK</td>
                                        <td>Colour Vision</td>
                                        <td>OK</td>
                                    </tr>
                                </table>
                        </div>
                        <div class="table-box">
                                 <div class="table-box-head">
                                    <h6>Examination Result</h6>
                                </div>
                                <table style="width:100%">
                                    <tr>
                                        <td>Pass</td>
                                        <td><i class="fa fa-check"></i></i></td>
                                        <td>Fail</td>
                                        <td>&nbsp; &nbsp;</td>
                                    </tr>
                                </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section style="padding-top:80px;">
         <div class="container">
            <img src="{% static 'images/CertificateFinal.jpg' %}" class="img-fluid" alt="Responsive image">
        </div>
    </section>


    <div id="container-floating">


  <div class="nd3 nds center1" data-toggle="tooltip" data-placement="center" data-original-title="Reminder"><a href="{% url 'student:editcertificate' certificates.pk %}"><i class="fa fa-pencil"
  ></i></a></div>

<div class="nd1 nds center1" data-toggle="tooltip" data-placement="center" data-original-title="Edoardo@live.it"><a id="print_data"><i class="fa fa-print" style="color:#fb9235!important;"></i></a>
</div>

  <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create">
    <p class="plus">+</p>
      <p class="plus edit">&#9652;</p>
    <!--<img class="edit" src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png">-->
  </div>

</div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>-->
    <!--<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>-->
    <script>

    $("#print_data").click(function () {
         window.print();
     });
    </script>

</body>

</html>