{% load staticfiles %}

<!DOCTYPE html>
<html class="no-js" lang="en-US" itemscope itemtype="https://schema.org/WebPage">
<head>
    <meta name="google-site-verification" content="PRInD0cP5ln3bwzo-1-1QEipNv28qt6y8WJvn4Ar7Ks"/>
    <meta name="yandex-verification" content="a1cd9bfcfb2314ae"/>
    <meta name="language" content="English">
    <meta name="geo.region" content="IN-KL"/>
    <meta name="google-site-verification" content="S_F04xIJIv6P-JiccxzGsxzrkm9indWIZiq_-Hn01Dk"/>
    <meta http-equiv="Cache-control" content="public">
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta name="description"
          content="If you got any questions regarding IELTS, OET, MOH, DHA, HAAD, Prometric, Logistics, HA, MEP, Oil and Gas, Civil, Mechanical QA/QC, please contact ibis Academy."/>
    <meta name="keywords"
          content="IELTS, OET, ielts coaching classes contact no, contact best coaching classes, Contact good coaching center in Kerala"/>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111245237-1"
            type="1182f312a87495c62597fb46-text/javascript"></script>
    <script type="1182f312a87495c62597fb46-text/javascript">window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-111245237-1');


    </script>
    <link href="{% static 'css/font-awesome.min.css' %}" rel='stylesheet' type='text/css'/>
    <link rel="stylesheet" id="ao_optimized_gfonts"
          href="https://fonts.googleapis.com/css?family=Open+Sans%3A1%2C100%2C200%2C300%2C400%2C400italic%2C500%2C600%2C700%2C700italic%2C800%2C900%7CLato%3A1%2C100%2C200%2C300%2C400%2C400italic%2C500%2C600%2C700%2C700italic%2C800%2C900%7CCaudex%3A1%2C100%2C200%2C300%2C400%2C400italic%2C500%2C600%2C700%2C700italic%2C800%2C900"/>
    <link rel="shortcut icon" href="https://ibisacademy.in/wp-content/uploads/2017/10/32x32.png"/>
    <link type="text/css" media="all"
          href="https://ibisacademy.in/wp-content/cache/autoptimize/css/autoptimize_8686f97258c7c01ce0cfcc25d62ca448.css"
          rel="stylesheet"/>
    <title>Contact best coaching classes, contact good coaching center in Kerala | ibis Academy, Thrissur</title>
    <script id="mfn-dnmc-config-js" type="1182f312a87495c62597fb46-text/javascript">//
window.mfn_ajax = "https://ibisacademy.in/wp-admin/admin-ajax.php";
window.mfn = {mobile_init:1240,nicescroll:40,parallax:"translate3d",responsive:1,retina_js:0};
window.mfn_lightbox = {disable:false,disableMobile:false,title:false,};
window.mfn_sliders = {blog:0,clients:3000,offer:0,portfolio:0,shop:0,slider:4000,testimonials:4000};
//


    </script>
    <link rel='dns-prefetch' href='//maps.googleapis.com'/>
    <link href='https://fonts.gstatic.com' crossorigin='anonymous' rel='preconnect'/>
    <link rel="alternate" type="application/rss+xml"
          title="IELTS, OET, MOH, DHA, HAAD, Prometric, Logistics​ ​&amp;​ ​Supply​ ​Chain​ ​Management, Hospital​ Administration, Oil and Gas, Civil Courses, Mechanical QA/QC, MEP, NDT &raquo; Feed"
          href="https://ibisacademy.in/feed/"/>
    <link rel="alternate" type="application/rss+xml"
          title="IELTS, OET, MOH, DHA, HAAD, Prometric, Logistics​ ​&amp;​ ​Supply​ ​Chain​ ​Management, Hospital​ Administration, Oil and Gas, Civil Courses, Mechanical QA/QC, MEP, NDT &raquo; Comments Feed"
          href="https://ibisacademy.in/comments/feed/"/>
    <script type="1182f312a87495c62597fb46-text/javascript"
            src='https://ibisacademy.in/wp-includes/js/jquery/jquery.js'></script>
    <script type="1182f312a87495c62597fb46-text/javascript"
            src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC56qePcQGCozh5OFB4lY5KRUOHh7a7f3c&#038;libraries=places&#038;ver=4.7.12'></script>
    <link rel='https://api.w.org/' href='https://ibisacademy.in/wp-json/'/>
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="https://ibisacademy.in/xmlrpc.php?rsd"/>
    <link rel="wlwmanifest" type="application/wlwmanifest+xml"
          href="https://ibisacademy.in/wp-includes/wlwmanifest.xml"/>
    <meta name="generator" content="WordPress 4.7.12"/>
    <link rel="canonical" href="https://ibisacademy.in/be-in-touch-with-us/"/>
    <link rel='shortlink' href='https://ibisacademy.in/?p=685'/>
    <link rel="alternate" type="application/json+oembed"
          href="https://ibisacademy.in/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fibisacademy.in%2Fbe-in-touch-with-us%2F"/>
    <link rel="alternate" type="text/xml+oembed"
          href="https://ibisacademy.in/wp-json/oembed/1.0/embed?url=https%3A%2F%2Fibisacademy.in%2Fbe-in-touch-with-us%2F&#038;format=xml"/>
    <style id="mfn-dnmc-font-css">
        @font-face {font-family: "Monotype Corsiva";src: url("");src: url("#iefix") format("embedded-opentype"),url("") format("woff"),url("https://ibisacademy.in/wp-content/uploads/2017/10/Monotype-Corsiva.ttf") format("truetype"),url("#Monotype Corsiva") format("svg");font-weight: normal;font-style: normal;}


    </style>
    <style id="mfn-dnmc-bg-css">
        #Subheader{background-image:url(https://ibisacademy.in/wp-content/uploads/2017/10/courses-banner-1-min.jpg);background-repeat:no-repeat;background-position:center top;background-size:cover}


    </style>
    <!--[if lt IE 9]>
    <script id="mfn-html5" src="https://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
    <meta name="generator" content="Powered by Visual Composer - drag and drop page builder for WordPress."/>
    <!--[if lte IE 9]>
    <link rel="stylesheet" type="text/css"
          href="https://ibisacademy.in/wp-content/plugins/js_composer/assets/css/vc_lte_ie9.min.css" media="screen">
    <![endif]-->
    <meta name="generator"
          content="Powered by Slider Revolution 5.4.3.1 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface."/>
    <script type="1182f312a87495c62597fb46-text/javascript">function setREVStartSize(e){
				try{ var i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
					if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})
				}catch(d){console.log("Failure at Presize of Slider:"+d)}
			};


    </script>
    <noscript>
        <style type="text/css">.wpb_animate_when_almost_visible { opacity: 1; }</style>
    </noscript>
    <script type="1182f312a87495c62597fb46-text/javascript">window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="https://v2.zopim.com/?5P1MgQo68p95zLwsDCuDEvuErFT7R12d";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");


    </script>
</head>
<body class="page-template-default page page-id-685  color-custom style-simple button-stroke layout-full-width nice-scroll-on if-zoom no-content-padding header-classic minimalist-header-no sticky-header sticky-tb-color ab-hide subheader-both-center menu-line-below menuo-no-borders menuo-right logo-valign-top logo-no-margin logo-overflow logo-no-sticky-padding mobile-tb-left mobile-mini-mr-lc mobile-header-mini be-1783 wpb-js-composer js-comp-ver-5.1.1 vc_responsive">
<div id="Wrapper">
    <div id="Header_wrapper" class="bg-parallax" data-enllax-ratio="0.3">
        <header id="Header">
            <div class="header_placeholder" style="height: 0px;"></div>
            <div id="Top_bar" class="" style="top: 61px;">
                <div class="container">
                    <div class="column one">
                        <div class="top_bar_left clearfix" style="width: 1196px;">
                            <div class="logo"><h1><a id="logo" href="https://ibisacademy.in"
                                                     title="IELTS, OET, MOH, DHA, HAAD, Prometric, Logistics&#8203; &#8203;&amp;&#8203; &#8203;Supply&#8203; &#8203;Chain&#8203; &#8203;Management, Hospital&#8203; Administration, Oil and Gas, Civil Courses, Mechanical QA/QC, MEP, NDT"><img
                                    class="logo-main scale-with-grid"
                                    src="https://ibisacademy.in/wp-content/uploads/2017/11/logo-4.jpg"
                                    alt="IELTS, OET, MOH, DHA, HAAD, Prometric, Best Coaching Centre in Thrissur, IELTS coaching, Civil Engineering courses, Logistics courses, MEP training, Oil and gas training"><img
                                    class="logo-sticky scale-with-grid"
                                    src="https://ibisacademy.in/wp-content/uploads/2017/11/logo-4.jpg"
                                    alt="IELTS, OET, MOH, DHA, HAAD, Prometric, Best Coaching Centre in Thrissur, IELTS coaching, Civil Engineering courses, Logistics courses, MEP training, Oil and gas training"><img
                                    class="logo-mobile scale-with-grid"
                                    src="https://ibisacademy.in/wp-content/uploads/2017/11/logo-4.jpg"
                                    alt="IELTS, OET, MOH, DHA, HAAD, Prometric, Best Coaching Centre in Thrissur, IELTS coaching, Civil Engineering courses, Logistics courses, MEP training, Oil and gas training"><img
                                    class="logo-mobile-sticky scale-with-grid"
                                    src="https://ibisacademy.in/wp-content/uploads/2017/11/logo-4.jpg"
                                    alt="IELTS, OET, MOH, DHA, HAAD, Prometric, Best Coaching Centre in Thrissur, IELTS coaching, Civil Engineering courses, Logistics courses, MEP training, Oil and gas training"></a>
                            </h1></div>
                            <div class="menu_wrapper">
                                <nav id="menu" class="menu-main-menu-container">
                                   <nav id="menu" class="menu-main-menu-container">
                                    <ul id="menu-main-menu" class="menu">
                                        <li id="menu-item-816"
                                            class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home">
                                            <a  href="https://ibisacademy.in/" class="button" style="height: 50%; width: 100%; margin-top: 10px;border-radius: 30px;"><span style="color:#f4f4f2;">Back to website &nbsp;<i class="fa fa-arrow-right"></i></span></a>
                                        </li>
                                    </ul>
                                </nav>
                                </nav>
                                <a class="responsive-menu-toggle " href="#"><i class="icon-menu-fine"></i></a></div>
                            <div class="secondary_menu_wrapper"></div>
                            <div class="banner_wrapper"></div>
                            <div class="search_wrapper">
                                <form method="get" id="searchform" action="https://ibisacademy.in/"><i
                                        class="icon_search icon-search-fine"></i> <a href="#" class="icon_close"><i
                                        class="icon-cancel-fine"></i></a> <input type="text" class="field" name="s"
                                                                                 id="s" placeholder="Enter your search">
                                    <input type="submit" class="submit" value="" style="display:none;"></form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
    </div>
    <div id="Content">
        <div class="content_wrapper clearfix">
            <div class="sections_group">
                <div class="entry-content" itemprop="mainContentOfPage">

                    <div class="section mcb-section   "
                         style="padding-top:80px; padding-bottom:0px; background-color:#ffffff">
                        <div class="section_wrapper mcb-section-inner">
                            <div class="wrap mcb-wrap one  valign-top clearfix" style="">
                                <div class="mcb-wrap-inner">
                                    <div class="column mcb-column one-third column_column  column-margin-">
                                    </div>
                                    <h2>Certification details of {{certificates.student}}</h2>
                                    <br>
                                    <table class="table">
                                        <thead>
                                        <tr>
                                            <th scope="col">Certification Number</th>
                                            <th scope="col">Validity Upto</th>
                                            <th scope="col">Test Method</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>{{certificates.certificate_number}}</td>
                                            <td>{{certificates.validity}}</td>
                                            <td>{{certificates.certificate.test_name }}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="section mcb-section   "
                             style="padding-top:20px; padding-bottom:30px; background-color:#ed8401">
                            <div class="section_wrapper mcb-section-inner">
                                <div class="wrap mcb-wrap one  column-margin-0px valign-top clearfix" style="">
                                    <div class="mcb-wrap-inner">
                                        <div class="column mcb-column one-fourth column_column  column-margin-">
                                            <div class="column_attr clearfix align_center" style=" padding:31px 0px 0">
                                                <h3 style="color:#fff;">Be in Touch With Us:</h3></div>
                                        </div>
                                        <div class="column mcb-column one-third column_list style-simple">
                                            <div class="list_item lists_2 clearfix"><a
                                                    href="mailto:info@ibisacademy.in">
                                                <div class="list_left list_icon" style="width: 90%;"><i
                                                        style="font-size: 25px;" class="fa fa-envelope"> &nbsp;<span
                                                        style="font-family: lato,Arial,Tahoma,sans-serif;font-weight: 600;">Info@ibisacademy.in</span></i>
                                                </div>
                                            </a></div>
                                        </div>

                                        <div class="column mcb-column one-fifth column_column  column-margin-">
                                            <div class="column two-third call-2 call-hover" style=" padding:26px 80px;">
                                                <a href="tel:+919645433331"
                                                   target="_blank" class="brochure"> Call Us &nbsp; <i
                                                        class="fa fa-phone" icon_position="left"
                                                        style="padding: 9px 9px 10px"></i></a></div>

                                        </div>

                                        <div class="column mcb-column one-fifth column_column  column-margin-">
                                            <div class="column_attr clearfix align_center" style=" padding:29px 0px 0;">
                                                <a href="https://ibisacademy.in/wp-content/uploads/2018/12/IBIS-BROCHURE.pdf"
                                                   target="_blank" class="brochure">ibis academy brochure </a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="section the_content no_content">
                            <div class="section_wrapper">
                                <div class="the_content_wrapper"></div>
                            </div>
                        </div>
                        <div class="section section-page-footer">
                            <div class="section_wrapper clearfix">
                                <div class="column one page-pager"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer id="Footer" class="clearfix">
            <div class="widgets_wrapper" style="padding:50px 0 35px;">
                <div class="container">
                    <div class="column one-fourth">
                        <aside id="text-13" class="widget widget_text"><h4>About Us</h4>
                            <div class="textwidget"><p style="text-align:justify;">ibis Educational Services is a
                                subsidiary
                                of Ibis International Pvt. Ltd. with operations are spread across
                                US, UK and UAE for over a decade.</p> ibis academy brochure <a
                                    href="https://ibisacademy.in/wp-content/uploads/2018/12/IBIS-BROCHURE.pdf"
                                    target="_blank">
                                <button style="padding: 5px 15px;">Download</button>
                            </a></div>
                        </aside>
                        <aside id="text-19" class="widget widget_text"><h4>Find Us</h4>
                            <div class="textwidget">
                                <div itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="name">Ibis academy- skill Development and Placement Services </span><br>
                                    <span itemprop="streetAddress">3rd floor Rowdha Tower, Poothole</span><br> <span
                                            itemprop="addressLocality">Thrissur</span>, <span itemprop="addressRegion">Kerala</span>
                                    <span itemprop="postalCode">680004</span><br> <span
                                            itemprop="addressCountry">India</span></div>
                                <i class="icon-call"></i><span style="margin-left: 5%;"><a href="tel:+919645433331">+9196 454 333 31/32/38/39</a></span>
                            </div>
                        </aside>
                    </div>
                    <div class="column one-fourth">
                        <aside id="text-18" class="widget widget_text"><h4>Technical</h4>
                            <div class="textwidget"><p><a
                                    href="https://ibisacademy.in/oil%e2%80%8b-%e2%80%8band%e2%80%8b-gas/">Oil and
                                Gas</a>
                            </p>
                                <p><a href="https://ibisacademy.in/civil%e2%80%8b-%e2%80%8bcourses/">Civil Engineering
                                    Courses</a></p>
                                <p><a href="https://ibisacademy.in/mechanical%e2%80%8b-%e2%80%8bqa-qc/">Mechanical
                                    QA/QC</a>
                                </p>
                                <p><a href="https://ibisacademy.in/mep-courses/">MEP</a></p>
                                <p><a href="https://ibisacademy.in/ndt-course/">NDT</a></p></div>
                        </aside>
                    </div>
                    <div class="column one-fourth">
                        <aside id="text-15" class="widget widget_text"><h4>Medical</h4>
                            <div class="textwidget"><p><a href="https://ibisacademy.in/moh/">MOH</a></p>
                                <p><a href="https://ibisacademy.in/dha/">DHA</a></p>
                                <p><a href="https://ibisacademy.in/haad/">HAAD</a></p>
                                <p><a href="https://ibisacademy.in/prometric/">Prometric</a></p></div>
                        </aside>
                    </div>
                    <div class="column one-fourth">
                        <aside id="text-16" class="widget widget_text"><h4>Management</h4>
                            <div class="textwidget"><p><a
                                    href="https://ibisacademy.in/logistics%e2%80%8b-%e2%80%8b%e2%80%8b-%e2%80%8bsupply%e2%80%8b-%e2%80%8bchain%e2%80%8b-%e2%80%8bmanagement/">Diploma
                                in Logistics​ ​&​ SCM</a></p>
                                <p><a href="https://ibisacademy.in/hospital%e2%80%8b-%e2%80%8badministration/">Diploma
                                    in
                                    Hospital Administration</a></p></div>
                        </aside>
                        <aside id="text-17" class="widget widget_text"><h4>Language Proficiency Training</h4>
                            <div class="textwidget"><p><a href="https://ibisacademy.in/ielts/">IELTS</a></p>
                                <p><a href="https://ibisacademy.in/oet/">OET</a></p></div>
                        </aside>
                    </div>
                </div>
            </div>
            <div class="footer_copy">
                <div class="container">
                    <div class="column one">
                        <div class="copyright"> Copyright 2017 ibis Group.</div>
                        <ul class="social">
                            <li class="facebook"><a href="https://www.facebook.com/ibisacademy/" title="Facebook"><i
                                    class="fa fa-facebook"></i></a></li>
                            <li class="googleplus"><a href="https://plus.google.com/118147206666502045692"
                                                      title="Google+"><i class="fa fa-google-plus"></i></a></li>
                            <li class="twitter"><a href="https://twitter.com/AcademyIbis" title="Twitter"><i
                                    class="fa fa-twitter"></i></a></li>
                            <li class="youtube"><a
                                    href="https://www.youtube.com/channel/UC0wVq49OXsp2cqC4KSZLjVA/about?view_as=subscriber"
                                    title="YouTube"><i class="fa fa-play"></i></a></li>
                            <li class="linkedin"><a href="https://www.linkedin.com/in/ibis-academy-tcr/"
                                                    title="LinkedIn"><i
                                    class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script type="1182f312a87495c62597fb46-text/javascript">
    var _wpcf7 = {"recaptcha":{"messages":{"empty":"Please verify that you are not a robot."}}};


    </script>
    <script type="1182f312a87495c62597fb46-text/javascript" defer
            src="https://ibisacademy.in/wp-content/cache/autoptimize/js/autoptimize_b89a2ec763e3472cb17bb972121d7cad.js"></script>

</body>
</html>