{% extends "erp_admin/base.html" %} {% load static group_required %} {% block content %}
<style>
#id_password1,
#id_password2 {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    mobile_nofont-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    border: 1px solid #ccc;
}


#id_country,Certificate,
#id_state,
#id_city {
    border: 1px solid #e0e0e0!important;
    padding: 5px 8px!important;
    color: #616161!important;
    width: 100%!important;
    font-size: 0.85em!important;
    font-weight: 300!important;
    height: 40px!important;
    -webkit-appearance: none!important;
    outline: none!important;
    font-family: 'Muli-Regular'!important;
    background: none!important;
    box-shadow: none !important;
}


@media (min-width: 768px) {}

.cl {
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid rgb(234, 234, 234);
    margin-top: 30px;
}
.select2-selection--multiple{
    width: 130px;
}

.select2-search__field{
    width: 120px;
}

.req{
  color:#FC0404!important;
  font-size:20px!important;
}














</style>
<div class="blank">
    <div class="blank-page">
        <div class="row show-grid">
            <div class="col-sm-12">
                {% if edit %}
                <h4>Edit Student Details</h4>
                <a href="{% url 'student:detail' student.pk %}" class="btn btn-danger pull-right">Cancel</a>
                {% elif editstudent %}
                <h4>Edit Student Details</h4>
                <a href="{% url 'student:student_profile' %}" class="btn btn-danger pull-right">Cancel</a>
                {% else %}
                <h4>Add Student</h4>
                <a href="{% url 'enquiry:enquiry_detail' enquiry.pk %}" class="btn btn-danger pull-right">Cancel</a>

                {% endif %}
            </div>
        </div>
        <form role="form" class="form-horizontal" method="post" action="{{ form_url }}" enctype="multipart/form-data">
            {% csrf_token %}
            {{form2.non_field_errors}}
            {{form3.non_field_errors}}
            {{form4.non_field_errors}}

            <div class="panel-body cl">
                <h2>Personal Details</h2>

                <div class="form-group {% if form1.first_name.errors %} has-error{% elif form1.is_bound %} has-success{% endif %}"
                     style="margin-top:30px;">
                    <label class="col-md-2 control-label">Name <span class="req">*</span></label>
                    <div class="col-md-8">
                        {{ form1.name_of_candidate.errors }}{{ form1.name_of_candidate }}
                    </div>
                </div>


                <div class="form-group">
                    <div class="form-inline {% if form2.gender.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">Gender<span class="req">*</span></label>
                        <div class="col-md-3">
                            {{ form2.gender.errors }}{{ form2.gender }}
                        </div>
                    </div>

                    <div class="form-inline {% if form2.photo.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">{{ form2.photo.label}}</label>
                        <div class="col-md-3">
                            {{ form2.photo.errors }}{{ form2.photo }}
                        </div>
                    </div>

                </div>
                <div class="form-group">

                    <div class="form-inline {% if form1.location.errors %} has-error{% elif form1.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">{{ form1.location.label}}</label>
                        <div class="col-md-3">
                            {{ form1.location.errors }}{{ form1.location }}
                        </div>
                    </div>

                    <div class="form-inline {% if form2.parent_name.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">Parents' Name<span class="req">*</span></label>
                        <div class="col-md-3">
                            {{ form2.parent_name.errors }}{{ form2.parent_name }}
                        </div>
                    </div>

                </div>


                <div class="form-group">

                    <div class="form-inline {% if form1.name_of_college.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">{{ form1.name_of_college.label}}<span class="req">*</span></label>
                        <div class="col-md-3">
                            {{ form1.name_of_college.errors }}{{ form1.name_of_college }}
                        </div>
                    </div>
                    <div class="form-inline {% if form2.highest_qualification.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">{{ form2.highest_qualification.label}}<span
                                class="req">*</span></label>
                        <div class="col-md-3">
                            {{ form2.highest_qualification.errors }}{{ form2.highest_qualification }}
                        </div>
                    </div>


                </div>


                <div class="form-group">

                    <div class="form-inline {% if form1.year_of_passout.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">{{ form1.year_of_passout.label}}<span class="req">*</span></label>
                        <div class="col-md-3">
                            {{ form1.year_of_passout.errors }}{{ form1.year_of_passout }}
                        </div>
                    </div>
                    <div class="form-inline {% if form2.aadharno.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">Aadhar/Driving License/Passport<span
                                class="req">*</span></label>
                        <div class="col-md-3">
                            {{ form2.aadharno.errors }}{{ form2.aadharno }}
                        </div>
                    </div>


                </div>


                <div class="form-group">
                    <div class="form-inline {% if form2.dob.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">{{ form1.email.label}}<span
                                class="req">*</span></label>
                        <div class="col-md-3">
                            {{ form1.email.errors }}{{ form1.email }}
                        </div>
                    </div>

                    <div class="form-inline {% if form2.dob.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">{{ form2.certificate.label}}<span
                                class="req"></span></label>
                        <div class="col-md-3">
                            {{ form2.certificate.errors }}{{ form2.certificate }}
                        </div>
                    </div>

                </div>
            </div>
            {% if not user|group_required:"student" %}
            {% if not edit %}
            <div class="panel-body cl">

                <h2>Course Details</h2>
                <div class="tab-pane active" id="horizontal-form">
                    {{ form5.non_field_errors }}
                    {{ form5.field_errors }}
                    {{ form5.management_form }}
                    <div class="responsive">
                        <table class="table">
                            <thead>
                            <th>Course</th>
                            <th>Date Of Joining</th>
                            </thead>
                            <tbody>

                            <tr class="form-row">
                                <td>{{ form5.course__pk.errors }}{{form5.course__pk}}</td>

                                <td>{{form5.date_of_joining.errors}}{{ form5.date_of_joining }}</td>
                                <!--<td>-->
                                    <!--<div class="input-group-append">-->
                                        <!--<button class="btn btn-success add-form-row">+</button>-->
                                    <!--</div>-->
                                <!--</td>-->
                            </tr>

                            </tbody>
                        </table>
                    </div>
                    <!--{% for form in form5 %}-->
                    <!--<div class="row form-row spacer">-->
                    <!--<div class="col-2">-->
                    <!--<label>Course</label>-->
                    <!--</div>-->
                    <!--<div class="col-4">-->
                    <!--<div class="input-group">-->
                    <!--{{form.date_of_joining}}-->
                    <!--<div class="input-group-append">-->
                    <!--<button class="btn btn-success add-form-row">+</button>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</div>-->

                    <!--</div>-->
                    <!--{% endfor %}-->


                </div>
            </div>
            {% endif %}
            {% endif %}

            <div class="panel-body cl">

                <h2>Contact Details</h2>
                <div class="form-group {% if form3.addressline1.errors %} has-error{% elif form3.is_bound %} has-success{% endif %}"
                     style="margin-top:30px;">
                    <label class="col-md-2 control-label">{{ form3.addressline1.label}}<span
                            class="req">*</span></label>
                    <div class="col-md-8">
                        {{ form3.addressline1.errors }}{{ form3.addressline1 }}
                    </div>
                </div>
                <div class="form-group {% if form3.addressline2.errors %} has-error{% elif form3.is_bound %} has-success{% endif %}">
                    <label class="col-md-2 control-label">{{ form3.addressline2.label}}<span class="req"></span></label>
                    <div class="col-md-8">
                        {{ form3.addressline2.errors }}{{ form3.addressline2 }}
                    </div>
                </div>

                <div class="form-group {% if form3.area.errors %} has-error{% elif form3.is_bound %} has-success{% endif %}">
                    <label class="col-md-2 control-label">{{ form3.area.label}}<span class="req"></span></label>
                    <div class="col-md-8">
                        {{ form3.area.errors }}{{ form3.area }}
                    </div>

                </div>
                <div class="form-group {% if form3.country.errors %} has-error{% elif form3.is_bound %} has-success{% endif %}">
                    <label class="col-md-2 control-label">{{ form3.country.label}}<span class="req"></span></label>
                    <div class="col-md-8">
                        {{ form3.country.errors }}{{ form3.country }}
                    </div>
                </div>
                <div class="form-group {% if form3.state.errors %} has-error{% elif form3.is_bound %} has-success{% endif %}">
                    <label class="col-md-2 control-label">{{ form3.state.label}}<span class="req"></span></label>
                    <div class="col-md-8">
                        {{ form3.state.errors }}{{ form3.state }}
                    </div>
                </div>
                <div class="form-group {% if form3.city.errors %} has-error{% elif form3.is_bound %} has-success{% endif %}">
                    <label class="col-md-2 control-label">{{ form3.city.label}}<span class="req"></span></label>
                    <div class="col-md-8">
                        {{ form3.city.errors }}{{ form3.city }}
                    </div>
                </div>
                <div class="form-group {% if form3.zipcode.errors %} has-error{% elif form3.is_bound %} has-success{% endif %}">
                    <label class="col-md-2 control-label">{{ form3.zipcode.label}}<span class="req"></span></label>
                    <div class="col-md-8">
                        {{ form3.zipcode.errors }}{{ form3.zipcode }}
                    </div>
                </div>
                <div class="form-group">

                    <div class="form-inline {% if form4.phone.errors %} has-error{% elif form4.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">{{ form4.phone.label}}<span class="req">*</span></label>
                        <div class="col-md-3">
                            {{ form4.phone.errors }}{{ form4.phone }}
                        </div>
                    </div>
                    <div class="form-inline {% if form4.alternate_phone.errors %} has-error{% elif form4.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">Parents' Phone Number<span class="req"></span></label>
                        <div class="col-md-3">
                            {{ form4.alternate_phone.errors }}{{ form4.alternate_phone }}
                        </div>
                    </div>
                </div>
                <div class="form-group">

                    <div class="form-inline {% if form4.phone.errors %} has-error{% elif form4.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">Outside Kerala specify</label>
                        <div class="col-md-3">
                            {{ form2.outside_kerala.errors }}{{ form2.outside_kerala }}
                        </div>
                    </div>

                </div>
            </div>
            {% if not user|group_required:"student" %}
            <div class="panel-body cl">

                <h2>Campaign Details</h2>

                <div class="form-group" style="padding-top:2%;">

                    <div class="form-inline {% if form2.campaign.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">{{form1.campaign.label}}<span class="req"></span></label>
                        <div class="col-md-3">
                            {{ form1.campaign.errors }}{{form1.campaign }}
                        </div>
                    </div>

                    <div class="form-inline {% if form2.campaign.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">{{form2.placement.label}} ? <span
                                class="req"></span></label>
                        <div class="col-md-3" style="padding-top:1%;">
                            {{ form2.placement.errors }}{{form2.placement }}
                        </div>
                    </div>


                </div>


            {% endif %}
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
                </div>
        </form>
    </div>
</div>
{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="{% static 'js/formset.js' %}"></script>

<script>
$('.js-basic-multiple').select2();
$("#id_location").select2({
    maximumSelectionLength: 10,
    allowClear: true,
    placeholder: "Select Location",


});

$("#id_campaign").select2({
    maximumSelectionLength: 10,
    allowClear: true,
    placeholder: "Select Campaign",


})

$(document).ready(function(){
    $('.tdate').daterangepicker({
          singleDatePicker: true,
          showDropdowns: true,
          locale: {
        	format: 'YYYY-MM-DD',
      		},function(start, end, label) {
          console.log(start.toISOString(), end.toISOString(), label);}
        });
});
 //$(document).ready(function() {
      	//$('.expense').formset({
	      //prefix: '{{ student_course_formset.prefix }}',
	      //addText: '<input type="button" class="btn btn-primary btn-xs" value="Add Course">',
	      //deleteText: '<font color="red">REMOVE</font>',
	      //added: initializeFields
	    //});

      	//function initializeFields(row){
	      //  attachDateRangePicker(row.find("input.tdate"))
	        //attachSelect2(row.find("select#course"))

	    //}
        //$('.tdate').daterangepicker({
          //singleDatePicker: true,
          //showDropdowns: true,
          //locale: {
        	//	format: 'YYYY-MM-DD',
      		//	},


        //}, function(start, end, label) {
          //console.log(start.toISOString(), end.toISOString(), label);
        //});

        //function attachSelect2(select_box){
			// console.log("attachSelect2", select_box)
			//select_box.select2({
			//placeholder: "Select",
			//allowClear: true
			//});
		//}

        //function attachDateRangePicker(input_date){
	      //  input_date.daterangepicker({
	        //    singleDatePicker: true,
	          //  showDropdowns: true,
	            //locale: {
	              //  format: 'YYYY-MM-DD',
	            //},
	        //}, function(start, end, label) {
	          //  console.log(start.toISOString(), end.toISOString(), label);
	        //});
	    //}

    //attachDateRangePicker($('input.tdate'))
   	//attachSelect2($('select#course'))




//      });











</script>
{% endblock jsscript %}
