{% extends "erp_admin/base.html" %}
{% load static %} 
{% block css %}
<style>
th{
	color: #DC143C!important;
}

#tablespan span{
    font-size: 1em!important;
    padding: 0px!important;
}
.req{
  color:#FC0404!important;
  font-size:20px!important;
}

</style>
{% endblock css %}
{% block content %}

<div class="blank">
	<div class="grid-form1">
		<div class="row">
		 	<div class="col-sm-2 col-xs-12" style="padding-left:30px;%;">
		 		<a href="{% url 'student:detail' student.pk %}">Back </a>
			</div>
		 	<div class="col-sm-10 col-xs-12">
		 		{% if type == 'add' %}
		 			<h3>New Installments</h3>
		 		{% elif type == 'edit' %}
		 			<h3>Edit Installments</h3>
		 		{% endif %}
		 	</div>
		</div>
	 	
        <div class="tab-content">
			<div class="tab-pane active" id="horizontal-form">
				<form class="form-horizontal" action="{{ form_url }}" method="post" enctype="multipart/form-data">{% csrf_token %}
				{{ installment_formset.non_field_errors }}
				{{ installment_formset.field_errors }}
				{{ installment_formset.management_form }}

					
					<div class="exp" id="insta">
						<div class="table-responsive">
							<table class="table table-responsive" id="tablespan">
								<thead>
									<tr>
										<th class="tcolor">Fee Date<span class="req">*</span></th>
										<th class="tcolor">Amount (<i class="fa fa-inr"></i>)<span class="req">*</span></th> 
										<th class="tcolor">Due Date<span class="req">*</span></th>

										<th class="tcolor">Description</th>
									</tr>
								</thead>
								
								<tbody>
									{% for installment_form in installment_formset %}
										{{ installment_form.id}}
										<tr class="expense">
											<td>
												<div>
													{{ installment_form.date.errors }}
													{{ installment_form.date }}
												</div>
											</td>
											<td style="width:16%;">
												<div>
													{{ installment_form.total_amount.errors }}
													{{ installment_form.total_amount }}
												</div>
											</td>
											<td>
												<div>
													{{ installment_form.due_date.errors }}
													{{ installment_form.due_date }}
												</div>
											</td>
											
											
											<td style="width:0%;">
												<div style="row:1;">
						                            {{ installment_form.remark.errors }}{{ installment_form.remark }}
						                        </div>
											</td>
											
											<td>
												<div>
						                        	{% if installment_form.instance.pk %}{{ installment_form.DELETE }}{% endif %}
													
												</div>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-8" style="padding-left:30px;">
    						<button class="btn-primary btn" type="submit">Submit</button>
    					</div>
    				</div>			
				</form>
			</div>
		</div>	
	</div>
</div>
{% endblock content %}
{% block jsscript %}

<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>

<script>
      $(document).ready(function()
      {
      		$('.expense').formset(
      		{
	      		prefix: '{{ installment_formset.prefix }}',
	      		addText: '<input type="button" class="btn btn-primary btn-xs" value="Add Installments">',
	      		deleteText: '<font color="red">REMOVE</font>',
	      		added: initializeFields
	    	});

      		function initializeFields(row){
	        	attachDateRangePicker(row.find("input.tdate"));
	    	}
        	$('.tdate').daterangepicker(
        	{
          		singleDatePicker: true,
          		showDropdowns: true,
          		locale: {format: 'YYYY-MM-DD',},
        	},
        	function(start, end, label)
        	{
          		console.log(start.toISOString(), end.toISOString(), label);
        	});
			function attachDateRangePicker(input_date)
			{
	        	input_date.daterangepicker(
	        	{
	            	singleDatePicker: true,
	            	showDropdowns: true,
	            	locale: {format: 'YYYY-MM-DD',},
	        	},
	        	function(start, end, label) {
	            console.log(start.toISOString(), end.toISOString(), label);
	        	});
	    	}
			attachDateRangePicker($('input.tdate'));

			var installment = $("#insta");
			installment.on('change', function (event)
			{
				var ele = event.target;
				var table_row = $(ele).parents('tr');
				var fee_date = table_row.find(".fee_date");
				var due_date = table_row.find(".due_date");
				var actual_fee_date = new Date($(fee_date).val()); //Converting string to date
	    		var due_fee_date = new Date($(due_date).val()); //Converting string to date
				if (due_fee_date < actual_fee_date)
				{
	    			alert("Please select a valid due date.It should be greater than fee date");
	    			due_date.val(fee_date.val());
	    		}
			});
	  });
</script>
{% endblock jsscript %}