{% extends "erp_admin/base.html" %}
{% load static tz group_required %}
{% get_current_timezone as TIME_ZONE %}
{% block head %}
<style>
.co{
    color:#d9534f;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
}

.list-group-item:first-child {
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}
.profile {
    min-height: 473px;
    
}
.btn {
    border-radius: 8px!important;
    }
.table>thead>tr>th {
    color: #000000!important;
    }



</style>
{% endblock head %}

{% block content %}


<div class="banner">
    <h2>
        <a href="/">Home</a>
        <i class="fa fa-angle-right"></i>
        <span>{{student.enquiry.name_of_candidate}}</span>
        <i class="fa fa-angle-right"></i>

        <span>Profile</span>
        <a href="{{request.http.referer}}" class="pull-right"><i class="fa fa-times"></i></a>
    </h2>
</div>
<div class="block">
    {% if request.user.employee.primary_designation.name == 'Ibis Admin' %}
    <div class="row show-grid">
        <div class="col-sm-12 col-xs-12">
            <div class="pull-right">

                <a href="{% url 'student:payment_history' student.pk %}" class="btn btn-success btn-xs">
                    Payment History
                </a>
                <a href="{% url 'student:edit' student.pk %}" class="btn btn-primary btn-xs">
                    <i class="fa fa-pencil-square-o fa-fw"></i> Edit
                </a>
                <form method="post" action="{% url 'student:delete' student.pk %}"
                      style="display: inline;" class="delete">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-xs">
                        <i class="fa fa-trash-o fa-fw"></i> Delete
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row show-grid">
        <div class="profile">
            <div class="profile-bottom" style="width: 100%;">
                <h3><i class="fa fa-user"></i>{{student}}</h3>
                <div class="profile-bottom-top">
                    <div class="col-md-4 profile-bottom-img">
                        {% if not student.photo %}
                        <img src="{% static 'images/user.png' %}" width="130px" height="130px">
                        {% else %}
                        <img src="{{student.photo.url}}" width="130px" height="130px">
                        {% endif %}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 profile-text">
                        <table class="col-xs-12">

                            <tr>
                                <td>Name :
                                    {{student.enquiry.name_of_candidate }}
                                </td>
                            </tr>
                            <tr>
                                <td>Gender :
                                    {{student.gender }}
                                </td>
                            </tr>
                            <tr>
                                <td>Phone :
                                    <!-- <td> :</td> -->
                                    {{ student.student_contact.phone }}
                                    {% if student.student_contact.alternate_phone %}
                                    ,{{ student.student_contact.alternate_phone }}
                                    {% endif %}
                                </td>
                            </tr>

                            <tr>
                                <td>Whatsapp Number :
                                    <!-- <td> :</td> -->
                                    {{ student.enquiry.whatsapp_number }}
                                </td>
                            </tr>


                            <tr>
                                <td>Email :
                                    {{ student.enquiry.email }}
                                </td>
                            </tr>
                            <tr>
                                <td>Name Of college :
                                    {{ student.enquiry.name_of_college }}
                                </td>
                            </tr>
                            <tr>
                                <td>Stream :
                                    {{ student.enquiry.stream }}
                                </td>
                            </tr>
                            <tr>
                                <td>Year Of Passout:
                                    {{ student.enquiry.year_of_passout }}
                                </td>
                            </tr>


                        </table>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
            <div style="padding-top:3%;">
                <h4>Address</h4>
                <hr>
                {% if student.student_address.addressline1 %}
                <p>{{ student.student_address.addressline1 }}</p>
                {% endif %}

                {% if student.student_address.addressline2 %}
                <p>{{ student.student_address.addressline2 }}</p>
                {% endif %}

                {% if student.student_address.area %}
                <p>{{ student.student_address.area }}</p>
                {% endif %}

                {% if student.student_address.country.name %}
                <p>{{student.student_address.country.name }}</p>
                {% endif %}

                {% if student.student_address.state.name %}
                <p>{{student.student_address.state.name }} </p>
                {% endif %}

                {% if student.student_address.city.name %}
                <p>{{student.student_address.city.name}} </p>
                {% endif %}


                {% if student.student_address.zipcode %}
                <p> {{student.student_address.zipcode}} </p>
                {% endif %}
                {% if student.outside_kerala %}<p>{{ student.outside_kerala }}</p>{% endif %}
            </div>
        </div>
    </div>
</div>
<div class="block">
    <div class="row show-grid">
        <table class="table table-bordered">
            <thead>
            <th>Courses</th>
            <th>Batch</th>
            <th>Enrollment Code</th>

            {% if request.user.employee.primary_designation.name == 'Ibis Admin' %}
            <th>Fees(INR)</th>
            <th>Loan?</th>
            <th>Status</th>
            <th>Discount</th>
            <th>Payments</th>
            <th>Invoice</th>
            <th colspan="3"></th>
            {% elif request.user.employee.primary_designation.name == 'Compliance Executive' %}
            <th>Certificates</th>
            <th></th>
            {% endif %}

            </thead>
            <tbody>
            {% for student in student.my_courses.all %}
            <tr>
                <td>{{ student.course.batch.name }}</td>
                <td>{{ student.course.code}}</td>
                <td>{{ student.enrollment_code }}</td>

                {% if request.user.employee.primary_designation.name == 'Ibis Admin' %}
                <td>{{ student.total_amount }}</td>
                <td>{% if student.loan == False %}
                    <input class="loanstatus" type="checkbox" name="loan" value="not taken" data-value="{{student.pk}}">
                    {% else %}
                    <input class="loanstatus" type="checkbox" name="loan" value="taken" data-value="{{student.pk}}"
                           checked>
                    {% endif %}
                </td>
                <td>
                    <select class="form-control statusbutton" name="status" data-value="{{ student.pk }}">
                        {% for status in statuses %}
                        <option
                                {% if student.status == status.1 %}
                                    selected
                                {% endif %}
                        >
                            <a href="" data-value="{{ student.pk }}">{{status.1}}</a>
                        </option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    {{ student.discount }}
                    <a href="javascript:;" data-attr="{{student.id}}"
                       class="btn btn-primary btn-xs openPopup">Apply</a>

                    <!--{% if student.discount or student.installments.all %}-->
                    <!--{{ student.discount }}-->
                    <!--<a href="javascript:;" data-attr="{{student.id}}"-->
                       <!--class="btn btn-primary btn-xs openPopup">Apply</a>-->
                    <!--{% else %}-->
                    <!--<a href="javascript:;" data-attr="{{student.id}}"-->
                       <!--class="btn btn-primary btn-xs openPopup">Apply</a>-->
                    <!--{% endif %}-->

                </td>
                <td><a href="{% url 'student:student_payments' student.pk %}">Payments</a>
                <td><a href="{% url 'student:student_invoice' student.student.pk %}">Invoice</a>
                </td>
                <td>
                    <a href="{% url 'student:editStudentCourse' student.pk %}" class="btn btn-primary btn-xs"><i
                            class="fa fa-pencil"></i></a></td>
                <td><a href="{% url 'student:viewStudentCourse' student.pk %}" class="btn btn-primary btn-xs"><i
                        class="fa fa-eye"></i></a>
                </td>
                <td>
                    <form class="delete" method="post" action="{% url 'student:deleteStudentCourse' student.pk %}" id="deletestudent">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-xs del">
                            <i class="fa fa-trash"></i>
                        </button>
                    </form>


                </td>
                {% elif request.user.employee.primary_designation.name == 'Compliance Executive' %}

                <td>
                    <a href="{% url 'student:certificatedetail' student.pk %}" class="btn btn-primary btn-xs"><i
                            class="fa fa-certificate"></i></a>
                </td>

                <td>
                    <a href="{% url 'student:course_certificate' student.pk %}" class="btn btn-primary pull-right"
                       target="_blank">Transcript <i class="fa fa-certificate"></i></a>
                </td>
                {% endif %}

            </tr>
            {% endfor %}


            </tbody>
        </table>

    </div>
    {% if request.user.employee.primary_designation.name == 'Ibis Admin' %}
    <div style="padding-bottom:20px;">
        <a href="{% url 'student:addStudentCourse' student.pk %}" class="btn btn-primary btn-xs pull-right"> Add Course
            <i class="fa fa-plus"></i></a>
    </div>
    {% endif %}

</div>

<div class="modal fade" id="fullpost" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Set Discount</h4>
            </div>
            <div class="modal-body">
                <form method="post" class="modalPayment" action="" id="your_form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input name="discount" class="form-control" placeholder="Discount">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary submit_button">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

{% endblock content %}

{% block jsscript %}
<script>
$('form.delete').submit( function (e){
        e.preventDefault()
        e.stopPropagation()
        if(confirm('Do you want to Delete the entire student Details')){
            this.submit()
        }
    })
function getCookie(name) {
   var cookieValue = null;
   if (document.cookie && document.cookie != '') {
       var cookies = document.cookie.split(';');
       for (var i = 0; i < cookies.length; i++) {
           var cookie = jQuery.trim(cookies[i]);
           // Does this cookie string begin with the name we want?
           if (cookie.substring(0, name.length + 1) == (name + '=')) {
               cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
               break;
           }
       }
   }
   return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
   // these HTTP methods do not require CSRF protection
   return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
   beforeSend: function(xhr, settings) {
       if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
           xhr.setRequestHeader("X-CSRFToken", csrftoken);
       }
   }
});

$(document).ready(function() {
    $('[data-toggle="tooltip"]').tooltip();
    $(".statusbutton").change(function(event){
       var selectedStatus = $(this).children("option:selected").val();
       var primek = $(this).data("value")
       if (confirm("Confirm?"))
       $(this).val(selectedStatus);
       {
           $.ajax(
           {
               url : '/student/changestatus/' + primek + '/',
               type: "POST",
               data: {
                 'status': selectedStatus
               },
               success:function(data)
               {
                   console.log('success')
               },
               error: function(jqXHR, textStatus, errorThrown)
               {
                   console.log('failed')
               }
           });
       }
   });



   $(".loanstatus").click(function(event){
       event.preventDefault();
       var primek = $(this).data("value")
       var loanstatus = $(this).val()
       var elem = this
       if (confirm("Confirm?"))
       $(this).val(loanstatus);
       {
           $.ajax(
           {
               url : '/student/loanstatus/' + primek + '/',
               type: "POST",
               data: {
                 'loanstatus': loanstatus
               },
               success:function(data)
               {
                   accepted(elem)
                   console.log('yes')

               },
               error: function(jqXHR, textStatus, errorThrown)
               {
                   console.log('no')
               }
           });
       }
       function accepted(elem) {
           elem = $(elem);
           if(elem.val() == 'not taken'){
               elem.prop('checked',true);
               elem.attr('value','taken');
           }
           else if(elem.val() == 'taken')
           {
               elem.prop('checked',false);
               elem.attr('value','not taken');
           }
       }
   });


   $('.openPopup').on('click',function(){
        var student_id = $(this).attr('data-attr');
        $('#fullpost').modal({show:true});
        var f = '/student/'+ student_id +'/setDiscount/';
        $('#your_form').attr('action', f);
        //$('#your_form').submit();


    });


});









</script>

{% endblock jsscript %}
