{% extends "erp_admin/base.html" %}
{% load static tz util group_required %}
{% get_current_timezone as TIME_ZONE %}
{% block css %}
<style>
.req{
  color:#FC0404!important;
  font-size:20px!important;
}



</style>

{% endblock css %}
{% block content %}
<div class="block">
    <div class="row">
        <h3 align="center">{{certificate.student.student}}- {{certificate.certificate}} <a href="{% url 'student:certificate_pdf' certificate.pk %}"><i class="fa fa-times pull-right"></i></a></h3>
    </div>
</div>
<form class="" action="{% url 'student:editcertificate' certificate.pk %}" method="post" enctype="multipart/form-data">
    <div class="blank">
        <div class="grid-form1">
            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.field_errors }}
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Certificate Number</label>
                                <div class="">
                                    {{ form.certificate_number.errors }}{{ form.certificate_number }}
                                </div>
                            </div>
                        </div>
                         <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Gender</label>
                                <div class="">
                                    {{ qualification_form.gender.errors }}{{ qualification_form.gender }}
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">training_date_from</label>
                                <div class="">
                                    {{ form.training_date_from.errors }}{{ form.training_date_from }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">training_date_to</label>
                                <div class="">
                                    {{ form.training_date_to.errors }}{{ form.training_date_to }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">training_hours</label>
                                <div class="">
                                    {{ form.training_hours.errors }}{{ form.training_hours }}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Issue date</label>
                                <div class="">
                                    {{ form.issue_date.errors }}{{ form.issue_date }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">General</label>
                                <div class="">
                                    {{ form.general.errors }}{{ form.general }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Specific</label>
                                <div class="">
                                    {{ form.specific.errors }}{{ form.specific }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Practical</label>
                                <div class="">
                                    {{ form.practical.errors }}{{ form.practical }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Aggregate</label>
                                <div class="">
                                    {{ form.aggregate.errors }}{{ form.aggregate }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">work_experience</label>
                                <div class="">
                                    {{ form.work_experience.errors }}{{ form.work_experience }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Validity</label>
                                <div class="">
                                    {{ form.validity.errors }}{{ form.validity }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Educational Qualification</label>
                                <div class="">
                                    {{ qualification_form.highest_qualification.errors }}{{ qualification_form.highest_qualification }}
                                </div>
                            </div>
                        </div>

                         <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Photo</label>
                                <div class="">
                                    {{ qualification_form.photo.errors }}{{ qualification_form.photo }}
                                </div>
                            </div>
                        </div>




                    </div>
                    <div class="row">
                        <div style="padding-top:3%;">
                            <button class="btn btn-primary btn-md pull-right" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/jquery.auto-complete.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>

<script>
$(document).ready(function() {


    $('.tdate').daterangepicker({
        singleDatePicker: true,
        // calender_style: "picker_4",
        showDropdowns: true,
        locale: {
            format: 'YYYY-MM-DD',
                },
    }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
    });
});
</script>
{% endblock jsscript %}
