{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static group_required %}
{% block head %}
<style>
.status-open {
    background-color: #2fd22f;
    font-size: 12px;
    border-radius:6px!important;
}
.status-rejected {
    background-color: red;
    font-size: 12px;
     border-radius:6px!important;
}
.fade-in {
    opacity: 0;
    font-size: 21px;
    margin-top: 25px;
    text-align: center;

    -webkit-transition: opacity .3s ease-in;
       -moz-transition: opacity .3s ease-in;
        -ms-transition: opacity .3s ease-in;
         -o-transition: opacity .3s ease-in;
            transition: opacity .3s ease-in;
}

.fade-in.load {
    opacity: 1;
}
.fabutton {
  background: none;
  padding: 0px;
  border: none;
}
.table>thead>tr>th{
    color: #00ABE7!important;
    font-size: 15px!important;

}

.control-label{
    font-size:17px!important;
}
.btn-primary {

    border-radius:6px!important;
}

.errorhighlight {
  outline: none !important;
  border:1px solid red;
  box-shadow: 0 0 10px #f76161;
}





</style>
{% endblock head %}
{% block content %}


<div class="content-main">
    <div class="banner">
        <h2>
            <a href="/">Home</a>
            <i class="fa fa-angle-right"></i>
            <span><a href="{% url 'student:detail' student.student.pk %}">{{student}}</a></span>
            <i class="fa fa-angle-right"></i>
            <span><a href="{% url 'student:student_payments' studentcourse_pk %}">Payments</a></span>
            <i class="fa fa-angle-right"></i>
            <span>Edit</span>
            <a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-times pull-right"></i></a>
        </h2>
    </div>
    <div class="block">

        <form method="post" class="modalPayment" action="{% url 'student:edit_extraPay' student_installment_pk %}" id="extra_form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Payment Date{{extra_pay_form.date.errors }}</label>
                                {{extra_pay_form.date }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">
                                    {{ extra_pay_form.paid_date.label }}{{ extra_pay_form.paid_date.errors }}</label>
                                {{ extra_pay_form.paid_date }}
                            </div>
                        </div>


                    </div>
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Remark{{ extra_pay_form.remark.errors }}</label>
                                {{extra_pay_form.remark }}
                            </div>
                        </div>


                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Paid Amount</label>
                                {{installment.paid_amount }}
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary submit_button">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>

    </div>
</div>

{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script>


$(document).ready(function(){
     var $date_inputs = $('.tdate')
    var date_format = 'YYYY-MM-DD';
    $date_inputs.daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        // timePicker: true,
        // timePicker24Hour: false,
        autoApply: true,
        showDropdowns: true,
        locale: {
            format: date_format,
        },
        // calender_style: "picker_4",
    }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
    });


    $date_inputs.on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('YYYY-MM-DD'));
    });

    $date_inputs.on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });



});






</script>
{% endblock jsscript %}
