<html>
<body>
<p>Hi {{invoice.student}}</p>

<p>We hope you’re doing well. Your payment of Rs
        {{current_amount}}  is received on
        {{date}} </p><p>With Regards ,</p><p>IBIS Groups</p>"
<!--<img src="/media/{{invoice.img}}" width="130px" height="130px">-->

</body>
</html>