{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static group_required util %}
{% block head %}
<style>
.status-open {
    background-color: #2fd22f;
    font-size: 16px;
}
.status-rejected {
    background-color: red;
    font-size: 12px;
}
.fade-in {
    opacity: 0;
    font-size: 21px;
    margin-top: 25px;
    text-align: center;

    -webkit-transition: opacity .3s ease-in;
       -moz-transition: opacity .3s ease-in;
        -ms-transition: opacity .3s ease-in;
         -o-transition: opacity .3s ease-in;
            transition: opacity .3s ease-in;
}

.fade-in.load {
    opacity: 1;
}
.fabutton {
  background: none;
  padding: 0px;
  border: none;
}
.table>thead>tr>th{
    color: #00ABE7!important;
    font-size: 15px!important;
    
}
@media print {

  a[href]:after {
    content: none!important;
  }
  .noprint{
    display:none!important;

  }
  }


</style>
{% endblock head %}
{% block content %}


<!-- Modal -->
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Filters</h4>
            </div>
            <div class="modal-body">
                <form action="" method="get">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{ filter.form.code.label }}</label>
                                {{ filter.form.code }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{ filter.form.name.label }}</label>
                                {{ filter.form.name }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Program</label>
                                {{ filter.form.program }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Course</label>
                                {{ filter.form.course }}
                            </div>
                        </div>

                    </div>
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="content-main">
    <div class="block">
        <div class="row show-grid">
            {% if request.user.employee.primary_designation.name == 'Ibis Admin' %}
            <div class="col-sm-12">
                {% if upload_form.errors %}
                <p style="color: red;">
                    Please correct the error{{ upload_form.errors|pluralize }} below.
                </p>
                {% else %}
                <form action="{% url 'student:import_student' %}" enctype="multipart/form-data" method="post">
                    <table>
                        {{ upload_form.as_table }}
                    </table>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-md"><i class="fa fa-upload"></i>Upload Excel
                    </button>
                </form>
                {% endif %}
            </div>
            {% endif %}
            <div class="col-sm-3">
                <h3>
                    Students
                </h3>
            </div>
            <div class="col-sm-9">
                <div class="pull-right">

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                            data-target="#filter-modal">
                        <i class="fa fa-filter"></i> Apply Filters
                    </button>
                    <a class="btn btn-primary  btn-sm" href="{% url 'student:list' %}">
                        <i class="fa fa-refresh"></i> Refresh
                    </a>
                    {% if request.user.employee.primary_designation.name == 'Ibis Admin' %}
                    <a target="_blank" class="btn btn-primary  btn-sm" href="{% url 'student:detail_index' %}">
                        <i class="fa fa-external-link"></i> More Details
                    </a>
                    {% endif %}

                    <!--<a onclick="printDiv()" class="btn btn-primary" target="__blank"> <i class="fa fa-print fa-fw"></i>-->
                        <!--Print Report</a>-->

                </div>
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12" id="print_receipt">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Code</th>
                            <th>Name</th>
                            {% if perms.student.change_student %}

                            <th class="noprint">Edit</th>
                            {% endif %}

                            {% if perms.student.delete_student %}

                            <th class="noprint">Delete</th>
                            {% endif %}

                        </tr>
                        </thead>
                        <tbody>
                        {% for student in students %}
                        <tr>
                            <td>{% pag_count forloop.counter current_page per_page %}</td>
                            <td scope="row">{{ student.code }}</td>
                            <td>
                                <a href="{% url 'student:detail' student.pk %}">{{ student}}</a>
                            </td>

                            {% if perms.student.change_student %}
                            <td class="noprint">
                                <a href="{% url 'student:edit' student.pk %}" class=""><i class="fa fa-pencil"></i></a>
                            </td>
                            {% endif %}
                            {% if perms.student.delete_student %}

                            <td class="noprint">
                                <form class="delete" method="post" action="{% url 'student:delete' student.pk %}">{% csrf_token %}
                                    <button type="submit" class="fabutton">
                                        <i class="fa fa-trash-o fa-fw"></i>
                                    </button>
                                </form>
                            </td>
                            {% endif %}
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6">No Data</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="pagination">
                {{pagination|safe}}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block jsscript %}

<script>
     $('form.delete').submit( function (e){
        e.preventDefault()
        e.stopPropagation()
        if(confirm('Do you want to Delete the entire student Details')){
            this.submit()
        }
    })

$(document).ready(function(){
      $("#pagination a").click(function(e){
        e.preventDefault()
        page_string = this.href.slice(this.href.indexOf("?") + 1)
        var query_string = ""
        var search_query = window.location.search
        var query_obj = {}
        if(search_query){
            if(search_query.indexOf('?') > -1)
                search_query = search_query.substr(1)

            var searchQueryStrings = [search_query]
            if(search_query.indexOf('&') > -1)
                searchQueryStrings = search_query.split('&')
            searchQueryStrings.forEach(qs => {
                var query_array = qs.split('=')
                query_obj[query_array[0]] = query_array[1]
            })
        }
        query_obj['page'] = page_string.split('=')[1]
        for(var k in query_obj){
            query_string += k + '=' + query_obj[k] + '&'
        }

        // console.log(query_string, query_obj, window.location)
        window.location = window.location.pathname + "?" + query_string.slice(0, -1)
    })
});
</script>
{% endblock jsscript %}