{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static group_required %}
{% block head %}
<style>
.status-open {
    background-color: #2fd22f;
    font-size: 12px;
    border-radius:6px!important;
}
.status-rejected {
    background-color: red;
    font-size: 12px;
     border-radius:6px!important;
}
.fade-in {
    opacity: 0;
    font-size: 21px;
    margin-top: 25px;
    text-align: center;

    -webkit-transition: opacity .3s ease-in;
       -moz-transition: opacity .3s ease-in;
        -ms-transition: opacity .3s ease-in;
         -o-transition: opacity .3s ease-in;
            transition: opacity .3s ease-in;
}

.fade-in.load {
    opacity: 1;
}
.fabutton {
  background: none;
  padding: 0px;
  border: none;
}
.table>thead>tr>th{
    color: #00ABE7!important;
    font-size: 15px!important;
    
}

.control-label{
    font-size:17px!important;
}
.btn-primary {
    
    border-radius:6px!important;
}

.errorhighlight {
  outline: none !important;
  border:1px solid red;
  box-shadow: 0 0 10px #f76161;
}





</style>
{% endblock head %}
{% block content %}


<div class="content-main">
    <div class="banner">
        <h2>
            <a href="/">Home</a>
            <i class="fa fa-angle-right"></i>
            <span><a href="{% url 'student:detail' student.pk %}">Profile</a></span>
            <i class="fa fa-angle-right"></i>
            <span>Payments</span>
            <a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-times pull-right"></i></a>
        </h2>
    </div>
    <div class="block">
        <div class="row show-grid">
            <div class="col-sm-6">
                <h3>
                    {{student|title}}

                </h3>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Payment Date</th>
                            <th>Total Amount (<i class="fa fa-inr"></i>)</th>
                            <th>Paid Amount (<i class="fa fa-inr"></i>)</th>
                            <th>Paid Date</th>
                            <th>Remark</th>
                            <th>Status</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for payment in installments %}
                        <tr>
                            <td scope="row">{{ forloop.counter}}</td>
                            <td>
                                {{payment.date|date:'d-m-Y'}}
                            </td>
                            <td class="total_amount">
                                {{payment.amount_to_be_paid}}
                            </td>
                            <td>
                                {% if payment.paid_amount %}
                                {{payment.paid_amount}}
                                {% else %}
                                0
                                {% endif %}
                            </td>
                            <td>
                                {{payment.paid_date|date:'d-m-Y'}}
                            </td>
                            <td>{% if payment.remark %} {{payment.remark}} {% endif %}</td>
                            <td> {% if payment.status %}
                                <span class="status-{% if payment.status == 'Not paid' %}rejected{% else %}open{% endif %}">{{payment.status}}</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if not payment.status == "Paid" %}
                                <a href="javascript:;" data-attr="{{payment.id}}"
                                   class="btn btn-primary btn-xs openPopup">Pay</a>
                                {% endif %}
                            </td>
                            <td>

                                <a href="{% url 'student:edit_extraPay' payment.id %}"
                                   class="btn btn-primary btn-xs ">Edit</a>
                            </td>
                            <td><a href="{% url 'student:installment_payment_history' payment.id %}" class="btn btn-warning btn-xs">Payment History</a></td>

                        </tr>

                        {% empty %}
                        <tr>
                            <td colspan="10">
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
                                    Create First Installment
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                        <tfoot>
                        <tr>
                            <td colspan="4" align="right">Balance to pay</td>
                            <td>{{ balance.balance }}</td>
                        </tr>
                        <tr>
                            <td colspan="10"><a class="btn btn-info btn-sm" data-toggle="modal" data-target="#extrapayment">Extra Payments</a></td>
                        </tr>
                        <!--<tr>
                            <td colspan="10"><a href="{% url 'student:student_installments' student.pk %}"
                                                class="btn btn-primary">Add Installments</a></td>
                        </tr>-->
                        </tfoot>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- First Installment Creation Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">First Installment</h4>
            </div>
            <div class="modal-body">
                <form method="post" action="{% url 'student:create_first_installment' student_course_pk %}" class="createform">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <span style="color:#ff3131;display:none;" class="date_error">Please enter a valid date!</span>
                            <input type="text" name="date" placeholder="First Installment Payment Date"
                                   class="form-control tdate" required>
                        </div>
                        <div class="col-sm-6">
                            <input type="submit" value="create" class="btn create_installment">
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="fullpost" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Payment</h4>
            </div>
            <div class="modal-body">
                <form method="post" class="modalPayment" action="" id="your_form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">
                                    {{ installment_form.paid_date.label }}</label>
                                {{ installment_form.paid_date }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">
                                    Total Paid Amount</label>
                                <label class='amountError' style="display: none;">This
                                    amount is larger than the total amount!</label>
                                {{installment_form.paid_amount }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Payment Date</label>
                                {{ installment_form.date }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Paid Amount</label>
                                <input class="form-control plusf"  name="pa" type="number"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">
                                    {{installment_form.amount_to_be_paid.label }}</label>
                                {{installment_form.amount_to_be_paid }}
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Remark</label>
                                {{installment_form.remark }}
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary submit_button">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="extrapayment" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Payment</h4>
            </div>
            <div class="modal-body">
                <form method="post" class="modalPayment" action="{% url 'student:extraPay' student_course_pk %}" id="extra_form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">
                                    {{ extra_pay_form.paid_date.label }}</label>
                                {{ extra_pay_form.paid_date }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">
                                    {{extra_pay_form.paid_amount.label }}</label>
                                {{extra_pay_form.paid_amount }}
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Remark</label>
                                {{extra_pay_form.remark }}
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary submit_button">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script>
$(".plusf").change(function(){
  paid_amount = $(this).val();
  total_amount = $('#id_paid_amount').val()
  total_amount = parseInt(paid_amount) + parseInt(total_amount);
  $('#id_paid_amount').val(total_amount);
});

$(document).ready(function(){
     var $date_inputs = $('.tdate')
    var date_format = 'YYYY-MM-DD';
    $date_inputs.daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        // timePicker: true,
        // timePicker24Hour: false,
        autoApply: true,
        showDropdowns: true,
        locale: {
            format: date_format,
        },
        // calender_style: "picker_4",
    }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
    });


    $date_inputs.on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('YYYY-MM-DD'));
    });

    $date_inputs.on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });



});



$(document).ready(function(){
    $('#id_amount_to_be_paid').prop('readonly', true);
    $('#id_date').prop('readonly', true);

        function reformatDateString(s) {
          var b = s.split(/\D/);
          return b.reverse().join('-');
        }

    $('.openPopup').on('click',function(){
        var payment_id = $(this).attr('data-attr');
        var dd= $(this).parent().parent().find('td:eq(1)')[0].innerHTML;
        var ta= $(this).parent().parent().find('td:eq(2)')[0].innerHTML;
        var amt_paid= $(this).parent().parent().find('td:eq(3)')[0].innerHTML;







        $('#fullpost').modal({show:true});

        var f = '/student/{{student_course_pk}}/payments/?payment_id='+payment_id;
        $('#your_form').attr('action', f);
        $('#id_date').val((reformatDateString(dd.trim())));



        $('#id_amount_to_be_paid').val(ta.trim());
        $('#id_paid_amount').val(amt_paid.trim());

    });

         $('#your_form').on('submit', function(e) { //use on if jQuery 1.7+
        //prevent form from submitting



        if(parseInt($('#id_paid_amount').val()) > parseInt($('#id_amount_to_be_paid').val())){
        e.preventDefault();
        $('#id_paid_amount').addClass('errorhighlight');
        $('.amountError').show();
        return false;
        }

        this.submit();
            });
});

function isValidDate(dateString) {
  var regEx = /^\d{4}-\d{2}-\d{2}$/;
  if(!dateString.match(regEx)) return false;  // Invalid format
  var d = new Date(dateString);
  if(Number.isNaN(d.getTime())) return false; // Invalid date
  return d.toISOString().slice(0,10) === dateString;
}

$('.createform').submit( function (e){
        e.preventDefault()
        e.stopPropagation()
        if(isValidDate($('.tdate').val())){
            this.submit()
        }
        else{
            $('.date_error').show()
        }
    })


</script>
{% endblock jsscript %}
