{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static group_required %}
{% block head %}
<style>






</style>
{% endblock head %}
{% block content %}


<div class="content-main">
    <div class="banner">
        <h2>
            <a href="/">Home</a>
            <i class="fa fa-angle-right"></i>
            <span><a href="{% url 'student:detail' studentinstallment.student.student.pk %}">{{studentinstallment.student|title}}</a></span>
            <i class="fa fa-angle-right"></i>
            <span>Payment History</span>
            <a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-times pull-right"></i></a>
        </h2>
    </div>
    <div class="block">
        <div class="row show-grid">
            <div class="col-sm-6">
                <h3>
                    {{studentinstallment.student|title}}

                </h3>
                <h6>Course: {{ studentinstallment.student.course.batch }}</h6>
                <h6>Installment Date: {{studentinstallment.date}}</h6>
                <h6>Installment Amount: <i class="fa fa-inr"></i> {{studentinstallment.amount_to_be_paid}}</h6>
            </div>
            <div class="col-sm-6">

            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Paid Date</th>
                            <th>Amount (<i class="fa fa-inr"></i>)</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for payment in payment_history %}
                        <tr>
                            <td scope="row">{{ forloop.counter}}</td>
                            <td>
                                {{payment.student_payment.date|date:'d-m-Y'}}
                            </td>
                            <td class="total_amount">
                                {{payment.amount_splitted}}
                            </td>


                        </tr>

                        {% empty %}
                        <tr>
                            <td colspan="10">
                                No History
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>




{% endblock content %}
{% block jsscript %}
{% endblock jsscript %}
