{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static group_required %}
{% block head %}
<style>
.status-open {
    background-color: #2fd22f;
    font-size: 16px;
}
.status-rejected {
    background-color: red;
    font-size: 12px;
}
.fade-in {
    opacity: 0;
    font-size: 21px;
    margin-top: 25px;
    text-align: center;

    -webkit-transition: opacity .3s ease-in;
       -moz-transition: opacity .3s ease-in;
        -ms-transition: opacity .3s ease-in;
         -o-transition: opacity .3s ease-in;
            transition: opacity .3s ease-in;
}

.fade-in.load {
    opacity: 1;
}
.fabutton {
  background: none;
  padding: 0px;
  border: none;
}
.table>thead>tr>th{
    color: #00ABE7!important;
    font-size: 15px!important;

}
@media print {

  a[href]:after {
    content: none!important;
  }
  .noprint{
    display:none!important;

  }
  }


</style>
{% endblock head %}
{% block content %}


<div class="content-main">
    <div class="block">
        <div class="row show-grid">
            <div class="col-sm-6">
                <h3>
                    Invoices- {{student_name}}
                </h3>
            </div>
            <div class="col-sm-6">
                <a href="{{ request.META.HTTP_REFERER}}" class="pull-right"><i class="fa fa-times"></i></a>

            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12" id="print_receipt">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Code</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for student in students %}
                        <tr class="">
                            <td scope="row">{{ forloop.counter}}</td>
                            <td>

                                 <a href="{% url 'student:invoice_pdf' student.pk %}" target="_blank">{{ student.invoice_code }}</a>

                            </td>


                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6">No Data</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="pagination">
                {{pagination|safe}}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block jsscript %}
<script>
     $('form.delete').submit( function (e){
        e.preventDefault()
        e.stopPropagation()
        if(confirm('Do you want to Delete the entire student Details')){
            this.submit()
        }
    })

    function printDiv() {
    var printContents = document.getElementById('print_receipt').innerHTML;
    var originalContents = document.body.innerHTML;
     document.body.innerHTML = printContents;
     window.print();
     document.body.innerHTML = originalContents;
    }

</script>
{% endblock jsscript %}