<html>
{% load staticfiles util %}
<body>


<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p style="font-size:40px;" align="center">INVOICE </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="pd_size" align="right"><strong>Date : {{invoice.created_at}} </strong></p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h4 style="font-size:20px;">Code : {{invoice.invoice_code}} </h4>
            </div>
            <div class="col-md-6">
                <h5>GSTIN: {% officeDetails %}</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h4 style="font-size:20px;">Name: {{invoice.student_installment }} </h4>
                <p style="margin-top:15px;" class="pd_size"><strong>Phone : </strong> {{invoice.student_installment.student.student.enquiry.contact_number}}
                    </p>
                <p style="margin-top:15px;" class="pd_size"> <strong>Email : </strong> {{invoice.student_installment.student.student.enquiry.email}}</p>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12" style="">
                <h3 style="font-size:20px;">Course Details</h3>
                <table class="table" border="1" style="margin-top:20px;font-size:18px;">
                    <thead>
                    <tr>
                        <td style="width:200px;"><strong>Course</strong></td>
                        <td style="width:100px;"><strong>Joining Date</strong></td>
                        <td style="width:100px;"><strong>GST</strong></td>
                        <td style="width:100px;"><strong>IGST</strong></td>
                        <td style="width:100px;"><strong>Taxable Amount</strong></td>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width:200px;">{{invoice.student_installment.student.course.batch}}</td>
                        <td style="width:100px;">{{invoice.student_installment.student.date_of_joining}}</td>
                        <td style="width:100px;">{{invoice.findgst}}</td>
                        <td style="width:100px;">{{invoice.findgst}}</td>
                        <td style="width:100px;">{{invoice.findbalance}}</td>
                    </tr>
                    <tr>
                        <td colspan="4">Total</td>
                        <td>{{invoice.amount_splitted}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>


</body>
</html>