{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static group_required %}
{% block head %}
<style>
    .fabutton {
  background: none;
  padding: 0px;
  border: none;
  }

</style>
{% endblock head %}

{% block content %}
<div class="banner">
    <h2>
        <a href="/">Home</a>
        <i class="fa fa-angle-right"></i>
        <span>Marksheet {{ certificate.student.course }} </span>
        <a href="{{request.META.HTTP_REFERER}}" class="pull-right"><i class="fa fa-times"></i></a>
    </h2>
</div>

<div class="content-main">
    <div class="block">
        <div class="row show-grid">
            <div class="col-sm-12">
                <div class="table-responsive">
                    {% for certificate in certifications %}
                    <h4>Test-{{ certificate.certificate.test_name }}</h4>
                    <table class="table table-bordered">
                        <tbody>
                         <tr>
                            <td>Certificate Number</td>
                            <td>{{ certificate.certificate_number }}</td>
                        </tr>
                         <tr>
                            <td>Training Date</td>
                            <td>From: {{ certificate.training_date_from|date:'d/m/y' }} To: {{ certificate.training_date_to|date:'d/m/y' }}</td>
                        </tr>
                         <tr>
                            <td>Training hours</td>
                            <td>{{ certificate.training_hours }} Hours</td>
                        </tr>
                         <tr>
                            <td>Issue Date</td>
                            <td>{{ certificate.issue_date|date:'d/m/y' }} </td>
                        </tr>
                          <tr>
                            <td>Work Experience</td>
                            <td>{{ certificate.work_experience }} </td>
                        </tr>
                         <tr>
                            <td>Validity Upto</td>
                            <td>{{ certificate.validity|date:'d/m/y' }} </td>
                        </tr>
                        <tr>
                            <td>General</td>
                            <td>{{ certificate.general }}</td>
                        </tr>
                        <tr>
                            <td>Specific</td>
                            <td>{{ certificate.specific }}</td>
                        </tr>
                        <tr>
                            <td>Practical</td>
                            <td>{{ certificate.practical }}</td>
                        </tr>
                        <tr>
                            <td>Aggregate</td>
                            <td>{{ certificate.aggregate }}</td>
                        </tr>
                        <tr>

                            <td colspan="2" align="right">

                                <a href="{% url 'student:mark_sheet_edit' certificate.pk %}"><i class="fa fa-edit"></i></a>

                                 <form class="delete" method="post" action="{% url 'student:mark_sheet_delete'  certificate.pk %}">{% csrf_token %}
                                    <button type="submit"  class="fabutton">
                                        <i class="fa fa-trash-o"></i>
                                    </button>
                                </form>
                            </td>

                        </tr>


                        </tbody>
                    </table>

                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12">
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Add Marks <i
                        class="fa fa-plus"></i></button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" role="document">
    <form action="{{ form.url }}" method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add Certification</h4>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{ form.certificate.label }}</label><span class="req">*{{ form.certificate.errors }}</span>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                {{ form.certificate }}
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{ form.certificate_number.label }}</label><span class="req">*{{ form.certificate_number.errors }}</span>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                {{ form.certificate_number }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{ form.training_date_from.label }}</label><span class="req">*{{ form.training_date_from.errors }}</span>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                {{ form.training_date_from }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{ form.training_date_to.label }}</label><span class="req">*{{ form.training_date_to.errors }}</span>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                {{ form.training_date_to }}
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{ form.training_hours.label }}</label><span class="req">*{{ form.training_hours.errors }}</span>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                {{ form.training_hours }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{ form.issue_date.label }}</label><span class="req">*{{ form.issue_date.errors }}</span>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                {{ form.issue_date }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{ form.validity.label }}</label><span class="req">*{{ form.validity.errors }}</span>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                {{ form.validity }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{ form.work_experience.label }}</label><span class="req">*{{ form.work_experience.errors }}</span>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                {{ form.work_experience }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{ form.general.label }}</label><span class="req">*{{ form.general.errors }}</span>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                {{ form.general }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{ form.specific.label }}</label><span class="req">*{{ form.specific.errors }}</span>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                {{ form.specific }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{ form.practical.label }}</label><span class="req">*{{ form.practical.errors }}</span>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                {{ form.practical }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">{{ form.aggregate.label }}</label><span class="req">*{{ form.aggregate.errors }}</span>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="form-group">
                                {{ form.aggregate }}
                            </div>
                        </div>
                    </div>


                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock content %}

{% block jsscript %}
<script src="{% static 'js/jquery.auto-complete.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>

<script>
$(document).ready(function() {
     $('form.delete').submit( function (e){
            e.preventDefault()
            e.stopPropagation()
            if(confirm('Do you want to Delete the entire student Details')){
                this.submit()
            }
        })


    var $date_inputs = $('.tdate')
         var date_format = 'YYYY-MM-DD';
           $date_inputs.daterangepicker({
               singleDatePicker: true,
               autoUpdateInput: true,
               autoApply: true,
               showDropdowns: true,
               startDate: new Date(),
               timePicker: true,
               timePicker24Hour:true,
               locale: {
                   format: date_format,
               },
                   // calender_style: "picker_4",
               }, function(start, end, label) {
               });

               $date_inputs.on('apply.daterangepicker', function(ev, picker) {
                   $(this).val(picker.startDate.format('YYYY-MM-DD'));
               });

               $date_inputs.on('cancel.daterangepicker', function(ev, picker) {
                   $(this).val('');
               });
});
</script>
{% endblock jsscript %}







