{% extends "erp_admin/base.html" %}
{% load static group_required %}
{% block content %}
<div class="content-main">
    <div class="banner">
        <h2>
            <a href="/">Home</a>
            <i class="fa fa-angle-right"></i>
            <a href="{{ request.META.HTTP_REFERER }}"><i class="fa fa-times pull-right"></i></a>
        </h2>
    </div>
    <div class="row show-grid">
        <form class="form-horizontal" action="{% url 'student:pay' pk %}" method="post" enctype="multipart/form-data">
            <div class="col-sm-12">
                {% csrf_token %}
                <div class="form-group">
                    {{ installment_formset.management_form }}
                    {% if installment_formset.non_form_errors %}
                    {% for error in installment_formset.non_form_errors %}
                    <div class="grid-form1"><span class="error_form">{{ error|escape }}</span></div>
                    {% endfor %}
                    {% endif %}
                    <div id="products">
                        <div class="col-sm-12 table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                <th>Date</th>
                                <th>Amount to be paid</th>
                                <th>Due date</th>
                                <th>Paid date</th>
                                <th>Paid amount</th>
                                <th>Remark</th>
                                </thead>
                                <tbody>
                                {% for form in installment_formset %}
                                {% for hidden in form.hidden_fields %}
                                {{ hidden }}
                                {% endfor %}
                                <tr class="item">
                                    <td style="min-width: 250px;">
                                        <div>
                                            {{ form.id }}
                                            {{ form.date }}
                                            {{ form.date.errors }}
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            {{ form.amount_to_be_paid }}
                                            {{ form.amount_to_be_paid.errors }}
                                        </div>
                                    </td>

                                    <td>
                                        <div>
                                            {{ form.due_date }}
                                            {{ form.due_date.errors }}

                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            {{ form.paid_date }}
                                            {{ form.paid_date.errors }}

                                        </div>
                                    </td>

                                    <td>
                                        <div>
                                            {{ form.paid_amount }}
                                            {{ form.paid_amount.errors }}

                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            {{ form.remark }}
                                            {{ form.remark.errors }}

                                        </div>
                                    </td>

                                    <td>{% if form.instance.pk %}{{ form.DELETE }}{% endif %}</td>
                                </tr>
                                {% endfor %}

                                </tbody>

                            </table>
                        </div>

                    </div>
                </div>

            </div>
            <div class="col-sm-12"><input type="submit" name="Save" class="btn btn-primary"></div>
        </form>

    </div>
</div>
{% endblock content %}
{% block jsscript %}

<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>

<script>
      $(document).ready(function()
      {
      		$('.item').formset(
      		{
	      		prefix: '{{ installment_formset.prefix }}',
	      		addText: '<input type="button" class="btn btn-primary btn-xs" value="Add Installments">',
	      		deleteText: '<font color="red">REMOVE</font>',
	      		added: initializeFields
	    	});

      		function initializeFields(row){
	        	attachDateRangePicker(row.find("input.tdate"));
	        	attachPaidDateRangePicker(row.find("input.paid_date"));

	    	}

			function attachDateRangePicker(input_date)
			{
	        	input_date.daterangepicker(
	        	{
	            	singleDatePicker: true,
	            	showDropdowns: true,
	            	locale: {format: 'YYYY-MM-DD',},
	        	},
	        	function(start, end, label) {
	            console.log(start.toISOString(), end.toISOString(), label);
	        	});
	    	}
	    	var $date_inputs = $('.paid_date')
	    	function attachPaidDateRangePicker(input_date)
			{
	        	input_date.daterangepicker(
                {
                    singleDatePicker: true,
                    autoUpdateInput: false,
                    autoApply: true,
                    showDropdowns: true,
                    locale: {format: 'YYY-MM-DD',},
                },
                function(start, end, label) {
                    console.log(start.toISOString(), end.toISOString(), label);
                });
                $date_inputs.on('apply.daterangepicker', function(ev, picker) {
                    $(this).val(picker.startDate.format('YYYY-MM-DD'));
                });
                $date_inputs.on('cancel.daterangepicker', function(ev, picker) {
                    $(this).val('');
                });
	    	}
			attachDateRangePicker($('input.tdate'));
            attachPaidDateRangePicker($('input.paid_date'));

			var installment = $("#insta");
			installment.on('change', function (event)
			{
				var ele = event.target;
				var table_row = $(ele).parents('tr');
				var fee_date = table_row.find(".fee_date");
				var due_date = table_row.find(".due_date");
				var actual_fee_date = new Date($(fee_date).val()); //Converting string to date
	    		var due_fee_date = new Date($(due_date).val()); //Converting string to date
				if (due_fee_date < actual_fee_date)
				{
	    			alert("Please select a valid due date.It should be greater than fee date");
	    			due_date.val(fee_date.val());
	    		}
			});
	  });

</script>


{% endblock jsscript %}
