{% extends "erp_admin/base.html" %}
{% load static %}
{% block css %}
<style>


#tablespan span{
    font-size: 1em!important;
    padding: 0px!important;
}




</style>
{% endblock css %}
{% block content %}
<div class="block">

    {% if request.user.employee.primary_designation.name == "Programme Director" %}
    <a href="{% url 'student:my_students' %}" class="pull-right"><i class="fa fa-times"></i></a>
    {% else %}
    <a href="{% url 'student:detail' course.student.pk %}" class="pull-right"><i class="fa fa-times"></i></a>
    {% endif %}
    <div class="row" align="center">
        <h3>{% if type == 'add' %}
             Subjects
            {% elif type == 'edit' %}
            Edit Subjects
            {% endif %}</h3>
    </div>
</div>
<div class="blank">
    <div class="grid-form1">
        <div class="tab-content">
            <div class="tab-pane active" id="horizontal-form">
                <form class="form-horizontal" action="{{ form_url }}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}





                    {{ subject_formset.non_field_errors }}
                    {{ subject_formset.field_errors }}
                    {{ subject_formset.management_form }}


                    {{ course_form.non_field_errors }}
                    {{ course_form.field_errors }}







                    <div class="exp" id="insta">

                        <div class="table-responsive">
                            <table class="table table-responsive" id="tablespan">
                                <thead>
                                <tr>
                                    <th class="tcolor" style="min-width:450px;">Subject</th>
                                    <th class="tcolor">Total Contact Hours</th>
                                    <th class="tcolor">Class Attendance Hours</th>
                                    <th class="tcolor">Mark Received</th>

                                </tr>
                                </thead>

                                <tbody>
                                {% for subject_form in subject_formset %}
                                {{ subject_form.id}}
                                <tr class="expense">
                                    <td>
                                        <div>
                                            {{ subject_form.subject.errors }}
                                            {{ subject_form.subject }}
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            {{ subject_form.total_contact_hours.errors }}
                                            {{ subject_form.total_contact_hours }}
                                        </div>
                                    </td>
                                     <td>
                                        <div>
                                            {{ subject_form.class_attendance_hours.errors }}
                                            {{ subject_form.class_attendance_hours }}
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            {{ subject_form.mark_received.errors }}
                                            {{ subject_form.mark_received }}
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            {{ subject_form.grade.errors }}
                                            {{ subject_form.grade }}
                                        </div>
                                    </td>
                                     <td>
                                        <div>
                                            {{ subject_form.letter_grade.errors }}
                                            {{ subject_form.letter_grade }}
                                        </div>
                                    </td>






                                    <td>
                                        <div>
                                            {% if subject_form.instance.pk %}
                                            {{ subject_form.DELETE }}
                                            {% endif %}

                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-3">

                            <div style="padding-left: 15px!important;">
                                <label class="control-label">Date Of Completion</label>
                                <div class="">
                                    {{ course_form.date_of_completion.errors }}{{ course_form.date_of_completion }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12" style="padding-left:30px;">
                            <button class="btn-primary btn pull-right" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>

<script>
	$(document).ready(function() {
    	$('.expense').formset({
			prefix: '{{ subject_formset.prefix }}',
	      	addText: '<input type="button" class="btn btn-primary btn-xs" value="Add Subjects">',
	      	deleteText: '<font color="red">REMOVE</font>',
	    });

	     $('.tdate').daterangepicker({
        singleDatePicker: true,
        // calender_style: "picker_4",
        showDropdowns: true,
        locale: {
            format: 'YYYY-MM-DD',
                },
    }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
        });
	});


</script>
{% endblock jsscript %}