{% extends "erp_admin/base.html" %}
{% load static tz group_required %}
{% get_current_timezone as TIME_ZONE %}
{% block head %}


<style>

</style>
{% endblock head %} {% block content %}
<div class="banner">
    <h2>
        <a href="/">Home</a>
        <i class="fa fa-angle-right"></i>
        <span><a href="{% url 'student:detail' student_course.student.pk %}">Student</a></span>
        <i class="fa fa-angle-right"></i>
        <span>Course</span>


    </h2>
</div>
<div>

    <div class="block">
        <div class="row show-grid">

            <div class="col-sm-12 col-xs-12 table-responsive" style="">

                <table class="table table-bordered" style="margin-top:20px;">
                    <tbody>
                    <tr>
                        <td><h4>Enrollment Code</h4></td>
                        <td>{{student_course.enrollment_code}}</td>
                    </tr>
                    <tr>
                        <td><h4>Course Code</h4></td>
                        <td>{{student_course.course_code}}</h4></td>
                    </tr>
                    <tr>
                        <td><h4>Course Name</h4></td>
                        <td>{{student_course.course.batch}}</td>
                    </tr>
                    <tr>
                        <td><h4>Duration</h4></td>
                        <td>{{student_course.course.get_duration_display }}</td>
                    </tr>
                    <tr>
                        <td><h4>Time</h4></td>
                        <td>{{ student_course.course.get_time_display }}</td>
                    </tr>

                    <tr>
                        <td><h4>Date Of Joining</h4></td>
                        <td>{{ student_course.date_of_joining }}</td>
                    </tr>
                    <tr>
                        <td><h4>Total Fee</h4></td>
                        <td>{{ student_course.total_amount }}</td>
                    </tr>
                    {% if student_course.discount %}
                    <tr>
                        <td><h4>Discount (%)</h4></td>
                        <td>{{ student_course.discount }}</td>
                    </tr>
                    {% endif %}
                    {% if student_course.no_of_installments %}
                    <tr>
                        <td><h4>Number of installments</h4></td>
                        <td>{{ student_course.no_of_installments }}</td>
                    </tr>
                     {% endif %}
                    <tr>
                        <td><h4>Status</h4></td>
                        <td><mark>{{ student_course.status }}</mark></td>
                    </tr>
                    <tr>
                        <td><h4>Received Amount</h4></td>
                        <td>{{ student_course.received_amount }}</td>
                    </tr>
                     <tr>
                        <td><h4>Loan taken?</h4></td>
                        <td>
                            {% if student_course.loan %}
                            Yes
                            {% else %}
                            No
                            {% endif %}
                        </td>
                    </tr>


                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>


<!--Modal -->


{% endblock content %}

{% block jsscript %}
{% endblock jsscript %}

