{% extends "erp_admin/base.html" %}
{% load static tz group_required %}
{% get_current_timezone as TIME_ZONE %}
{% block head %}
<style>
.co{
    color:#d9534f;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 32px;
    border-bottom-left-radius: 32px;
}

.list-group-item:first-child {
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}
.profile {
    min-height: 473px;

}
</style>
{% endblock head %}

{% block content %}


<div class="banner">
    <h2>
        <a href="/">Home</a>
        <i class="fa fa-angle-right"></i>
        <span>Student</span>
        <a href="{{request.http.referer}}" class="pull-right"><i class="fa fa-times"></i></a>
    </h2>
</div>
<div class="block">
    <div class="row show-grid">
        <div class="col-sm-12 col-xs-12">
            <div class="pull-right">

                <a href="{% url 'student:student_profile_edit' student.pk %}" class="btn btn-primary btn-xs">
                    <i class="fa fa-pencil-square-o fa-fw"></i> Edit
                </a>
            </div>
        </div>
    </div>
    <div class="row show-grid">
        <div class="col-sm-12 col-xs-12">
            <h3> Student : {{student}}</h3>
        </div>
    </div>
    <div class="row show-grid">
        <div class="profile">
            <div class="profile-bottom" style="width: 100%;">
                <h3><i class="fa fa-user"></i>{{student}}</h3>
                <div class="profile-bottom-top">
                    <div class="col-md-4 profile-bottom-img">
                        {% if not student.photo %}
                        <img src="{% static 'images/user.png' %}" width="130px" height="130px">
                        {% else %}
                        <img src="{{student.photo.url}}" width="130px" height="130px">
                        {% endif %}
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-8 profile-text">
                        <table class="col-xs-12">

                            <tr>
                                <td>Name :
                                    {{student.enquiry.name_of_candidate }}
                                </td>
                            </tr>
                            <tr>
                                <td>Gender :
                                    {{student.gender }}
                                </td>
                            </tr>
                            <tr>
                                <td>Phone :
                                    <!-- <td> :</td> -->
                                    {{ student.student_contact.phone }}
                                    {% if student.student_contact.alternate_phone %}
                                    ,{{ student.student_contact.alternate_phone }}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td>Email :
                                    {{ student.enquiry.email }}
                                </td>
                            </tr>
                            <tr>
                                <td>Name Of college :
                                    {{ student.enquiry.name_of_college }}
                                </td>
                            </tr>
                            <tr>
                                <td>Year Of Passout:
                                    {{ student.enquiry.year_of_passout }}
                                </td>
                            </tr>


                        </table>
                    </div>
                    <div class="clearfix">
                    </div>
                </div>
            </div>
            <div style="padding-top:3%;">
                <h4>Address</h4>
                <hr>
                <p>{{ student.student_address.addressline1 }}</p>
                <p>{{ student.student_address.addressline2 }}</p>
                <p>{{ student.student_address.area }}</p>
                <p>{{student.student_address.country.name }}</p>
                <p>{{student.student_address.state.name }} </p>
                <p>{{student.student_address.city.name}} </p>
                <p> {{student.student_address.zipcode}} </p>
                {% if student.outside_kerala %}<p>{{ student.outside_kerala }}</p>{% endif %}
            </div>
        </div>
    </div>
</div>
<div class="block">
    <div class="row show-grid">
        <table class="table">
            <thead>
            <th>Courses</th>
            <th>Date Of Joining</th>
            <th></th>
            </thead>
            <tbody>
            {% for student in student.my_courses.all %}
            <tr>
                <td>{{ student.course.name }}</td>
                <td>{{ student.date_of_joining }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="fullpost" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Set Discount</h4>
            </div>
            <div class="modal-body">
                <form method="post" class="modalPayment" action="" id="your_form">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <input name="discount" class="form-control" placeholder="Discount">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <button type="submit" class="btn btn-primary submit_button">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

{% endblock content %}

{% block jsscript %}
<script>

function remove(form, e){
    e.preventDefault()
    if(confirm('Confirm Delete')){
        form.submit()
    }
}

function getCookie(name) {
   var cookieValue = null;
   if (document.cookie && document.cookie != '') {
       var cookies = document.cookie.split(';');
       for (var i = 0; i < cookies.length; i++) {
           var cookie = jQuery.trim(cookies[i]);
           // Does this cookie string begin with the name we want?
           if (cookie.substring(0, name.length + 1) == (name + '=')) {
               cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
               break;
           }
       }
   }
   return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
   // these HTTP methods do not require CSRF protection
   return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
   beforeSend: function(xhr, settings) {
       if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
           xhr.setRequestHeader("X-CSRFToken", csrftoken);
       }
   }
});

$(document).ready(function() {

    $(".statusbutton").change(function(event){
       var selectedStatus = $(this).children("option:selected").val();

       var primek = $(this).data("value")
       if (confirm("Confirm?"))
       $(".statusbutton").val(selectedStatus);
       {
           $.ajax(
           {
               url : '/student/changestatus/' + primek + '/',
               type: "POST",
               data: {
                 'status': selectedStatus
               },
               success:function(data)
               {
                   console.log('success')
               },
               error: function(jqXHR, textStatus, errorThrown)
               {
                   console.log('failed')
               }
           });
       }
   });



   $(".loanbutton").click(function(event){
       event.preventDefault();
       var primek = $(this).data("value")
       if (confirm("Are you sure?"))
       $('.loanbutton').hide();
       $('.loantaken').show();
       {
           $.ajax(
           {
               url : '/student/loanstatus/' + primek + '/',
               type: "POST",
               data: {
                 'loanstatus': 'true'
               },
               success:function(data)
               {
                   console.log('success')
               },
               error: function(jqXHR, textStatus, errorThrown)
               {
                   console.log('failed')
               }
           });
       }
   });


   $('.openPopup').on('click',function(){
        var student_id = $(this).attr('data-attr');
        $('#fullpost').modal({show:true});
        var f = '/student/'+ student_id +'/setDiscount/';
        $('#your_form').attr('action', f);
        //$('#your_form').submit();


    });


});





</script>

{% endblock jsscript %}
