{% extends "erp_admin/base.html" %} {% load static group_required %} {% block content %}
<style>
#id_password1,
#id_password2 {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    mobile_nofont-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    border: 1px solid #ccc;
}

#id_country,
#id_state,
#id_city {
    border: 1px solid #e0e0e0!important;
    padding: 5px 8px!important;
    color: #616161!important;
    width: 100%!important;
    font-size: 0.85em!important;
    font-weight: 300!important;
    height: 40px!important;
    -webkit-appearance: none!important;
    outline: none!important;
    font-family: 'Muli-Regular'!important;
    background: none!important;
    box-shadow: none !important;
}

@media (min-width: 768px) {}

.cl {
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid rgb(234, 234, 234);
    margin-top: 30px;
}
.req{
  color:#FC0404!important;
  font-size:20px!important;
}

</style>
<div class="blank">
    <div class="blank-page">
        
        <form role="form" class="form-horizontal" method="post" action="{{ form_url }}" enctype="multipart/form-data">
            {% csrf_token %}
            {{form2.non_field_errors}}
            {{form3.non_field_errors}}
            {{form4.non_field_errors}}

            <div class="panel-body cl">
                <h2>Personal Details</h2>
                


                <div class="form-group {% if form1.first_name.errors %} has-error{% elif form1.is_bound %} has-success{% endif %}"
                     style="margin-top:30px;">
                    <label class="col-md-2 control-label">Name <span class="req">*</span></label>
                    <div class="col-md-8">
                        {{ form1.name_of_candidate.errors }}{{ form1.name_of_candidate }}
                    </div>
                </div>


                <div class="form-group">
                    <div class="form-inline {% if form2.gender.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">Gender<span class="req">*</span></label>
                        <div class="col-md-3">
                            {{ form2.gender.errors }}{{ form2.gender }}
                        </div>
                    </div>

                    <div class="form-inline {% if form2.photo.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">{{ form2.photo.label}}</label>
                        <div class="col-md-3">
                            {{ form2.photo.errors }}{{ form2.photo }}
                        </div>
                    </div>
                   
                </div>
                <div class="form-group">
                   
                    <div class="form-inline {% if form1.location.errors %} has-error{% elif form1.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">{{ form1.location.label}}<span
                                class="req">*</span></label>
                        <div class="col-md-3">
                            {{ form1.location.errors }}{{ form1.location }}
                        </div>
                    </div>

                    <div class="form-inline {% if form2.parent_name.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">Parents' Name<span class="req">*</span></label>
                        <div class="col-md-3">
                            {{ form2.parent_name.errors }}{{ form2.parent_name }}
                        </div>
                    </div>

                </div>

                


                <div class="form-group">

                    <div class="form-inline {% if form1.name_of_college.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">{{ form1.name_of_college.label}}<span class="req">*</span></label>
                        <div class="col-md-3">
                            {{ form1.name_of_college.errors }}{{ form1.name_of_college }}
                        </div>
                    </div>
                     <div class="form-inline {% if form2.highest_qualification.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">{{ form2.highest_qualification.label}}<span
                                class="req">*</span></label>
                        <div class="col-md-3">
                            {{ form2.highest_qualification.errors }}{{ form2.highest_qualification }}
                        </div>
                    </div>
                    

                </div>


                <div class="form-group">

                    <div class="form-inline {% if form1.year_of_passout.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">{{ form1.year_of_passout.label}}<span class="req">*</span></label>
                        <div class="col-md-3">
                            {{ form1.year_of_passout.errors }}{{ form1.year_of_passout }}
                        </div>
                    </div>
                     <div class="form-inline {% if form2.aadharno.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">Aadhar/Driving License/Passport<span
                                class="req">*</span></label>
                        <div class="col-md-3">
                            {{ form2.aadharno.errors }}{{ form2.aadharno }}
                        </div>
                    </div>
                    

                </div>


                 



               

                <div class="form-group">
                    <div class="form-inline {% if form2.dob.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">{{ form2.certificate.label}}<span class="req"></span></label>
                        <div class="col-md-3">
                            {{ form2.certificate.errors }}{{ form2.certificate }}
                        </div>
                    </div>
                   

                </div>

               
            </div>
            <div class="panel-body cl">

                <h2>Contact Details</h2>
                <div class="form-group {% if form3.addressline1.errors %} has-error{% elif form3.is_bound %} has-success{% endif %}"
                     style="margin-top:30px;">
                    <label class="col-md-2 control-label">{{ form3.addressline1.label}}<span
                            class="req">*</span></label>
                    <div class="col-md-8">
                        {{ form3.addressline1.errors }}{{ form3.addressline1 }}
                    </div>
                </div>
                <div class="form-group {% if form3.addressline2.errors %} has-error{% elif form3.is_bound %} has-success{% endif %}">
                    <label class="col-md-2 control-label">{{ form3.addressline2.label}}<span class="req"></span></label>
                    <div class="col-md-8">
                        {{ form3.addressline2.errors }}{{ form3.addressline2 }}
                    </div>
                </div>
                <div class="form-group {% if form3.area.errors %} has-error{% elif form3.is_bound %} has-success{% endif %}">
                    <label class="col-md-2 control-label">{{ form3.area.label}}<span class="req"></span></label>
                    <div class="col-md-8">
                        {{ form3.area.errors }}{{ form3.area }}
                    </div>

                </div>
                <div class="form-group {% if form3.country.errors %} has-error{% elif form3.is_bound %} has-success{% endif %}">
                    <label class="col-md-2 control-label">{{ form3.country.label}}<span class="req"></span></label>
                    <div class="col-md-8">
                        {{ form3.country.errors }}{{ form3.country }}
                    </div>
                </div>
                <div class="form-group {% if form3.state.errors %} has-error{% elif form3.is_bound %} has-success{% endif %}">
                    <label class="col-md-2 control-label">{{ form3.state.label}}<span class="req"></span></label>
                    <div class="col-md-8">
                        {{ form3.state.errors }}{{ form3.state }}
                    </div>
                </div>
                <div class="form-group {% if form3.city.errors %} has-error{% elif form3.is_bound %} has-success{% endif %}">
                    <label class="col-md-2 control-label">{{ form3.city.label}}<span class="req"></span></label>
                    <div class="col-md-8">
                        {{ form3.city.errors }}{{ form3.city }}
                    </div>
                </div>
                <div class="form-group {% if form3.zipcode.errors %} has-error{% elif form3.is_bound %} has-success{% endif %}">
                    <label class="col-md-2 control-label">{{ form3.zipcode.label}}<span class="req"></span></label>
                    <div class="col-md-8">
                        {{ form3.zipcode.errors }}{{ form3.zipcode }}
                    </div>
                </div>
                <div class="form-group">

                    <div class="form-inline {% if form4.phone.errors %} has-error{% elif form4.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">{{ form4.phone.label}}<span class="req">*</span></label>
                        <div class="col-md-3">
                            {{ form4.phone.errors }}{{ form4.phone }}
                        </div>
                    </div>
                    <div class="form-inline {% if form4.alternate_phone.errors %} has-error{% elif form4.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">Parents' Phone Number<span class="req"></span></label>
                        <div class="col-md-3">
                            {{ form4.alternate_phone.errors }}{{ form4.alternate_phone }}
                        </div>
                    </div>
                </div>
            </div>
           
            <div class="panel-body cl">

               

           
                <button type="submit" class="btn btn-primary pull-right">Submit</button>
            </div>
           

        </form>
    </div>
</div>
{% endblock content %} {% block jsscript %}
<!-- <script src="{% static 'js/jquery.auto-complete.js' %}"></script>
<script src="{% static 'js/office_search.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script> -->
<script>
$("#id_location").select2({
    maximumSelectionLength: 10,
    allowClear: true,
    placeholder: "Select Location",


});
$("#id_course").select2({
    maximumSelectionLength: 10,
    allowClear: true,
    placeholder: "Select Course",


});
$("#id_campaign").select2({
    maximumSelectionLength: 10,
    allowClear: true,
    placeholder: "Select Campaign",


})

$("#id_selected_course").select2({
    maximumSelectionLength: 10,
    allowClear: true,
    placeholder: "Select Course",


});

</script>

{% endblock jsscript %}
