{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static group_required %}
{% block head %}
<style>
.status-open {
    background-color: #2fd22f;
    font-size: 16px;
}
.status-rejected {
    background-color: red;
    font-size: 12px;
}
.fade-in {
    opacity: 0;
    font-size: 21px;
    margin-top: 25px;
    text-align: center;

    -webkit-transition: opacity .3s ease-in;
       -moz-transition: opacity .3s ease-in;
        -ms-transition: opacity .3s ease-in;
         -o-transition: opacity .3s ease-in;
            transition: opacity .3s ease-in;
}

.fade-in.load {
    opacity: 1;
}
.fabutton {
  background: none;
  padding: 0px;
  border: none;
}
.table>thead>tr>th{
    color: #00ABE7!important;
    font-size: 15px!important;

}
@media print {

  a[href]:after {
    content: none!important;
  }
  .noprint{
    display:none!important;

  }
  }


</style>
{% endblock head %}
{% block content %}

<div class="content-main">
    <div class="block">
        <div class="row show-grid">
            <div class="col-sm-3">
                <h3>
                    Certificate
                </h3>
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12" id="print_receipt">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Test Name</th>
                            <th>Course</th>
                            <th>Generate Certificate</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for certificate in certificates %}
                        <tr class="">
                            <td scope="row">{{ forloop.counter}}</td>
                            <td>
                                {{ certificate.certificate.name}}
                            </td>
                            <td>
                                {{ certificate.certificate.test_name}}
                            </td>
                            <td>
                                {{ certificate.certificate.course}}
                            </td>
                            <td>
                                 <a href="{% url 'student:certificate_pdf' certificate.pk %}" class="btn btn-primary btn-xs">
                                    <i class="fa fa-certificate"></i>
                                </a>
                            </td>
                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6">No Data</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="pagination">
                {{pagination|safe}}
            </div>
        </div>
    </div>
</div>


{% endblock content %}
{% block jsscript %}

{% endblock jsscript %}