{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static %}
{% block head %}
<style type="text/css">
.tbl
{
    color:#000000;
    font-size:14px;

}
.fclass
{
    color:#bf2222!important;
    font-weight:600!important;
}






</style>
{% endblock head %}
{% block content %}


<div class="content-main">
    <div class="block">


        <div class="row">
            <div class="col-sm-6 col-xs-6" style="padding-left:30px;">

            </div>


            <div class="col-sm-6">

                <p align="right"><a onclick="printDiv()" class="btn btn-primary" target="__blank"> <i
                        class="fa fa-print fa-fw"></i> Print Report</a></p>

            </div>


        </div>


        <div class="row" id="print_receipt" style="margin-left:5%;padding-top:2%;">

            <div class="col-sm-12" style="padding-bottom:2%;">
                <h3>
                    SUMMARY - WORKING FEE {{date_for_check|date:'Y'}}

                </h3>
            </div>

            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered" id="table">
                        <thead>
                        <th>Program</th>
                        <th>Total Turn Over</th>
                        <th>Closed Amount</th>
                        <th>Current Turn Over</th>
                        <th>Received Amount</th>
                        <th>Balance Amount</th>

                        </thead>
                        <tbody>
                        {% for product in products %}
                        <tr>
                            <td>{{ product.name }}</td>
                            <td class="to">{{ product.total_turn_over }}</td>
                            <td class="tc">{{ product.total_closed_amount }}</td>
                            <td class="ct">{{ product.current_turn_over }}</td>
                            <td>{{ product.total_received_amount }}</td>
                            <td class="bal">{{ product.balance }}</td>

                        </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td class="fclass"></td>
                            <td class="fclass"></td>
                            <td class="fclass"></td>
                            <td class="fclass"></td>
                            <td class="fclass"></td>
                            <td class="fclass"></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block jsscript %}

<script>
    $(document).ready(function()
    {
        $('#table tr').each(function()
        {

                $.each(this.cells, function()
                {
                    if(this.className == 'to')
                    {
                        sum=0;
                        sum += isNaN(this.innerHTML) ? 0 : parseInt(this.innerHTML);
                    }
                    if(this.className == 'tc')
                    {
                        sum -= isNaN(this.innerHTML) ? 0 : parseInt(this.innerHTML);
                    }
                    if(this.className == 'ct')
                    {
                        $(this).html(sum);
                        recv_amt=$(this).next().html();
                         bal_amt = 0;

                        if(sum>recv_amt)
                        {
                           bal_amt = sum - recv_amt;
                        }
                        else
                        {
                            bal_amt = recv_amt - sum;
                        }

                    }
                    if(this.className == 'bal')
                    {
                        $(this).html(bal_amt);

                    }
                });

        });



        $('table thead th').each(function(i)
        {
            calculateColumn(i);
        });
    });
    function calculateColumn(index)
    {
        var total = 0;
        $('table tr').each(function()
        {
            var value = parseInt($('td', this).eq(index).text());
            if (!isNaN(value))
            {
                total += value;
            }
        });

        if(index==0){
            $('table tfoot td').eq(index).text('TOTAL');
        }else{
            $('table tfoot td').eq(index).text(total);
        }
    }


</script>

{% endblock jsscript %}