<!doctype html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link href="{% static 'css/font-awesome.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel='stylesheet' type='text/css'/>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/jawdrop_icon.png' %}"/>

    <title>ibis Educational services</title>
    <style type="text/css">
    .nd4 {
    background: #fff!important;}
    @media print{

    #container-floating{
    display:none!important;
    }
    }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-bottom: 1.5rem;
        }

        .header-2 {
            background: #f8f8f8;
            padding: 5px 5% 40px;
            text-align: center;
        }

        .header-3 {
            background: #f8f8f8;
            padding: 15px -2px;
        }

        footer {
            background: #f8f8f8;
            padding: 30px 0 50px;
        }

        .form-box {
            margin: 0 auto 40px;
            padding: 20px 40px 25px;
            border: 2px solid;
        }

        h6 {
            font-size: 16px;
            line-height: 25px;
            margin: 10px 0;
            font-weight: 400;
        }

        th {
            font-size: 16px!important;
            font-weight: 700!important;
        }

        table,
        th,
        td {
            border: 2px solid black;
            border-collapse: collapse;
        }

        th,
        td {
            padding: 7px;
            text-align: center;
        }

        .details {
            width: 88%;
        }

        .profile-picture {
            width: 92%;
            text-align: center;
            margin: 0 auto;
            float: right;
        }

        .table-box {
            width: 82%;
            margin: 0 auto 30px;
        }

        .table-box-head {
            border: 2px solid #000;
            border-bottom: 0px;
        }

        .table-box-head h6 {
            line-height: 45px!important;
            text-align: center!important;
            margin: 0px!important;
            font-weight: 700!important;
            font-size: 16px!important;
        }
        p {
        margin-bottom: 1rem!important;
        line-height:33px;

        }
        b{
        border-bottom:2px dotted black!important;min-width:100px!important;
        }
        .img-cntr{
        margin-bottom: 40px; width: 170px; margin-left:auto; margin-right:auto;display:block;
        }

        .center1 {
  margin: auto;
  width: 50%;
  border: 3px solid #000;
  padding: 7px 10px;
}


#presentation{
  width: 480px;
  height: 120px;
  padding: 20px;
  margin: auto;
  background: #FFF;
  margin-top: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: all 0.3s;
  border-radius: 3px;
}

#presentation:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  transition: all 0.3s;
  transform: translateZ(10px);
}

#floating-button{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background: #fb9235;
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  box-shadow: 0px 2px 5px #666;
}

.plus{
  color: white;
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 48px;
  font-size: 38px;
  font-weight: 300;
  animation: plus-out 0.3s;
  transition: all 0.3s;
}

#container-floating{
  position: fixed;
  width: 70px;
  height: 70px;
  bottom: 30px;
  right: 30px;
  z-index: 50px;
}

#container-floating:hover{
  height: 400px;
  width: 90px;
  padding: 30px;
}

#container-floating:hover .plus{
  animation: plus-in 0.15s linear;
  animation-fill-mode: forwards;
}

.edit{
  position: absolute;
  top: 0;
  display: block;
  bottom: 0;
  left: 0;
  display: block;
  right: 0;
  padding: 0;
  opacity: 0;
  margin: auto;
  line-height: 48px;
  transform: rotateZ(-70deg);
  transition: all 0.3s;
  animation: edit-out 0.3s;
}

#container-floating:hover .edit{
  animation: edit-in 0.2s;
   animation-delay: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes edit-in{
    from {opacity: 0; transform: rotateZ(-70deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

@keyframes edit-out{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(-70deg);}
}

@keyframes plus-in{
    from {opacity: 1; transform: rotateZ(0deg);}
    to {opacity: 0; transform: rotateZ(180deg);}
}

@keyframes plus-out{
    from {opacity: 0; transform: rotateZ(180deg);}
    to {opacity: 1; transform: rotateZ(0deg);}
}

.nds{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  z-index: 300;
  transform:  scale(0);
  cursor: pointer;
}

.nd1{
  background: #ffffff;
  right: 40px;
  bottom: 120px;
  animation-delay: 0.2s;
    animation: bounce-out-nds 0.3s linear;
  animation-fill-mode:  forwards;
}

.nd3{
  background: #ffffff;
  right: 40px;
  bottom: 180px;
  animation-delay: 0.15s;
    animation: bounce-out-nds 0.15s linear;
  animation-fill-mode:  forwards;
}

.nd4{
  background: #ba68c8;
  right: 40px;
  bottom: 240px;
  animation-delay: 0.1s;
    animation: bounce-out-nds 0.1s linear;
  animation-fill-mode:  forwards;
}

.nd5{
  background-image: url('https://lh3.googleusercontent.com/-X-aQXHatDQY/Uy86XLOyEdI/AAAAAAAAAF0/TBEZvkCnLVE/w140-h140-p/fb3a11ae-1fb4-4c31-b2b9-bf0cfa835c27');
  background-size: 100%;
  right: 40px;
  bottom: 300px;
  animation-delay: 0.08s;
  animation: bounce-out-nds 0.1s linear;
  animation-fill-mode:  forwards;
}

@keyframes bounce-nds{
    from {opacity: 0;}
    to {opacity: 1; transform: scale(1);}
}

@keyframes bounce-out-nds{
    from {opacity: 1; transform: scale(1);}
    to {opacity: 0; transform: scale(0);}
}

#container-floating:hover .nds{

  animation: bounce-nds 0.1s linear;
  animation-fill-mode:  forwards;
}

#container-floating:hover .nd3{
  animation-delay: 0.08s;
}
#container-floating:hover .nd4{
  animation-delay: 0.15s;
}
#container-floating:hover .nd5{
  animation-delay: 0.2s;
}



.reminder{
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  line-height: 40px;
}

.profile{
  border-radius: 50%;
  width: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  right: 20px;
}

a {
    color: #fb9235;
}

.boldname{
        font-size: 1.5em;
}

body{
    font-family:Roboto, 'Segoe UI', Tahoma, sans-serif;
    font-size: 16px;
}




    </style>
</head>

<body>

<img src="{% static 'images/IBIS-CER.jpg' %}" class="img-fluid" alt="Header image" style="padding:80px;">
<section class="header-3">
    <div class="container">
        {% if messages %}

        {% for message in messages %}
        {% if message.tags %}{% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger" id="alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{ message }}</strong>
        </div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success " id="success-alert">
            <strong> {{ message }}</strong>
        </div>
        {% endif %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <div class="alert alert-info" id="info-alert">
            <strong> {{ message }}</strong>
        </div>
        {% endif %}
        {% endfor %}

        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <div class="details">
                    <table class="table table-borderless" style="width: 115%;max-width: 115%;border: none;">
                        <thead>
                        <tr>
                            <td><strong>Name </strong></td>
                            <td><strong>Enrollment Number</strong></td>
                            <td><strong>Date of Completion</strong></td>
                            <td><strong>Program/Course</strong></td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>{{course.student}}</td>
                            <td>{{course.enrollment_code}}</td>
                            <td>{{course.date_of_completion|date:'d-M-y'}}</td>
                            <td>{{course.course.batch}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <table class="table table-striped" style="width: 115%;max-width: 115%;">
                        <thead>

                        <tr>
                            <td><strong>Subject </strong></td>
                            <td><strong>Total Contact Hours</strong></td>
                            <td><strong>Class Attendance (Hours)</strong></td>
                            <td><strong>Marks Received</strong></td>
                            <td><strong>Grade</strong></td>
                            <td><strong>Letter Grade</strong></td>
                            <td><strong>Max Credits Awarded</strong></td>
                            <td><strong>Points Earned</strong></td>
                        </tr>

                        </thead>
                        <tbody>
                        {% for subject in subjects %}
                        <tr>
                            <td>{{subject.subject}}</td>
                            <td>{{subject.total_contact_hours}}</td>
                            <td>{{subject.class_attendance_hours}}</td>
                            <td>{{subject.mark_received}}</td>
                            <td>{{subject.grade}}</td>
                            <td>{% if subject.letter_grade %}{{subject.letter_grade}}{% endif %}</td>

                            <td>{{subject.max_credit_awarded}}</td>
                            <td>{{subject.points_earned}}</td>
                        </tr>

                        {% endfor %}

                        <tr>
                            <td><strong>Cumulative Scores </strong></td>
                            <td><strong>{{course.contact_hours_calculate_aggregate}}</strong></td>
                            <td><strong>{{course.class_attendance_hours_calculate_aggregate}}</strong></td>
                            <td><strong>{{course.mark_received_calculate_aggregate}}</strong></td>
                            <td><strong>{{course.grade_calculate_aggregate}}</strong></td>
                            <td></td>

                            <td><strong>{{course.max_credit_awarded_calculate_aggregate}}</strong></td>
                            <td><strong>{{course.points_earned_awarded_calculate_aggregate}}</strong></td>
                        </tr>
                        </tbody>
                    </table>
                    <br>
                    <table align="center" style="margin-left:380px;">
                        <tr>
                            <th>CEU Awarded</th>
                            <th>Cumulative GPA</th>
                        </tr>
                        <tr>
                            <td>{{course.ceu_awarded}}</td>
                            <td>{{course.cumulative_gpa}}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <br>
        <div class="form-box" style="padding: 0px 0px 0px;border: 1px solid;"><h5>TCH - Total Contact Hours | CAH -
            Class Attendance in Hours | LG - Letter Grade | MCA - Maximum Credits Awarded | TPE - Total Points Earned |
            GPA - Grade Point Average | CEU - Continuing Education Units | MCA = TCH / 10 |
            Points Earned = Grade * MCA | CEU Awarded = CAH / 10 | Cumulative GPA = TPE / MCA |</h5>
        </div>
    </div>
</section>
<section style="padding-top:60px;">
    <div class="container">
        <div style="padding-bottom: 100px;"><span>Program	Director</span><span style="float:right;">Executive	Director</span>
        </div>
    </div>
</section>

<section style="padding-top:80px;">
    <div class="container">
        <div style="padding-bottom: 30px;"><span>www.ibisacademy.in</span><span style="padding-left: 325px;">info@ibisacademy.in</span><span
                style="float:right;">Phone:	+91	9645433331</span></div>
    </div>
</section>

<div id="container-floating">

    {% if request.user.employee.primary_designation.name == "Programme Director" %}
    <div class="nd4 nds center1" data-toggle="tooltip" data-placement="center" data-original-title="Students"><a
            href="{% url 'student:my_students'%}"><i class="fa fa-user" style="color:#fb9235!important;"></i></a>
    </div>
    <div class="nd3 nds center1" data-toggle="tooltip" data-placement="center" data-original-title="Edit"><a
            href="{% url 'student:student_course_subjects' course.pk %}"><i class="fa fa-pencil"
    ></i></a></div>
    {% else %}
    <div class="nd3 nds center1" data-toggle="tooltip" data-placement="center" data-original-title="Students"><a
            href="{% url 'student:list' %}"><i class="fa fa-user"
    ></i></a></div>
    {% endif %}

    <div class="nd1 nds center1" data-toggle="tooltip" data-placement="center" data-original-title="Print"><a
            id="print_data"><i class="fa fa-print" style="color:#fb9235!important;"></i></a>
    </div>


    <div id="floating-button" data-toggle="tooltip" data-placement="left" data-original-title="Create">
        <p class="plus">+</p>
        <p class="plus edit">&#9652;</p>
        <!--<img class="edit" src="https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/bt_compose2_1x.png">-->
    </div>

</div>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script>

    $("#print_data").click(function () {
         window.print();
     });
$('document').ready(function() {
    // body...
    $("#success-alert").fadeTo(1000, 500).slideUp(500, function() {
    $("#success-alert").slideUp(700);
    });
    $("#info-alert").fadeTo(1000, 500).slideUp(500, function() {
    $("#info-alert").slideUp(700);
    });
    $("#warning-alert").fadeTo(1000, 500).slideUp(500, function() {
    $("#warning-alert").slideUp(700);
    });
    });



</script>


</body>

</html>