{% extends "erp_admin/base.html" %}
{% load static tz util group_required %}
{% get_current_timezone as TIME_ZONE %}
{% block css %}
<style>
.req{
  color:#FC0404!important;
  font-size:20px!important;
}



</style>

{% endblock css %}
{% block content %}
<div class="block">
    <div class="row">
        <h3 align="center">{{course.student}} <a href="{% url 'student:course_certificate' course.pk %}"><i class="fa fa-times pull-right"></i></a></h3>
    </div>
</div>
<form class="" action="{% url 'student:course_certificate_edit' course.pk %}" method="post" enctype="multipart/form-data">
    <div class="blank">
        <div class="grid-form1">
            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.field_errors }}
                    <div class="row">

                         <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Date Of Completion</label>
                                <div class="">
                                    {{ form.date_of_completion.errors }}{{ form.date_of_completion }}
                                </div>
                            </div>
                        </div>
                         <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">CEU Awarded</label>
                                <div class="">
                                    {{ form.cue_awarded.errors }}{{ form.cue_awarded }}
                                </div>
                            </div>
                        </div>
                         <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Cumulative GPA</label>
                                <div class="">
                                    {{ form.cumulative_gpa.errors }}{{ form.cumulative_gpa }}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div style="padding-top:3%;">
                            <button class="btn btn-primary btn-md pull-right" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/jquery.auto-complete.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>

<script>
$(document).ready(function() {


    $('.tdate').daterangepicker({
        singleDatePicker: true,
        // calender_style: "picker_4",
        showDropdowns: true,
        locale: {
            format: 'YYYY-MM-DD',
                },
    }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
    });
});
</script>
{% endblock jsscript %}
