{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static %}
{% block head %}
<style type="text/css">
.tbl
{
    color:#000000;
    font-size:14px;

}
.fclass
{
    color:#bf2222!important;
    font-weight:600!important;
}






</style>
{% endblock head %}
{% block content %}


<div class="content-main">
    <div class="block">


        <div class="row">
            <div class="col-sm-6 col-xs-6" style="padding-left:30px;">

            </div>


            <div class="col-sm-6">

                <p align="right"><a onclick="printDiv()" class="btn btn-primary" target="__blank"> <i
                        class="fa fa-print fa-fw"></i> Print Report</a></p>

            </div>


        </div>


        <div class="row" id="print_receipt" style="margin-left:5%;padding-top:2%;">

            <div class="col-sm-12" style="padding-bottom:2%;">
                <h3>
                    WORKING FEE {{date_for_check|date:'Y'}}

                </h3>
            </div>

            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <th>Course</th>
                        <th>Total Turn Over</th>
                        <th>Closed Amount</th>
                        <th>Current Turn Over</th>
                        <th>Received Amount</th>
                        <th>Balance Amount</th>

                        </thead>
                        <tbody>
                        {% regroup student_courses by course__batch__name as course_list %}
                        {% for course in course_list %}
                        <tr>
                            <td>{{ course.grouper }}</td>
                            {% regroup course.list by course__batch__name as name_list %}
                            {% for course in course.list %}
                            <td>{{ course.total_turn_over }}</td>
                            <td>{{ course.total_closed_amount }}</td>
                            <td>{{ course.current_turn_over }}</td>
                            <td>{{ course.total_received_amount }}</td>
                            <td>{{ course.balance }}</td>


                            {% endfor %}
                        </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <td class="fclass"></td>
                            <td class="fclass"></td>
                            <td class="fclass"></td>
                            <td class="fclass"></td>
                            <td class="fclass"></td>
                            <td class="fclass"></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block jsscript %}

<script>
    $(document).ready(function()
    {
        $('table thead th').each(function(i)
        {
            calculateColumn(i);
        });
    });
    function calculateColumn(index)
    {
        var total = 0;
        $('table tr').each(function()
        {
            var value = parseInt($('td', this).eq(index).text());
            if (!isNaN(value))
            {
                total += value;
            }
        });

        if(index==0){
            $('table tfoot td').eq(index).text('TOTAL');
        }else{
            $('table tfoot td').eq(index).text(total);
        }
    }


</script>

{% endblock jsscript %}