<template>
	<div class="quantity">
		<label>Quantity: </label>
		<transition name="fade">
			<span v-if="!edit">
				{{ quantity }}
			</span>
			<span v-else>
				<input type="number" min="1" v-model="quantity" class="form-control" v-if="editable">
				<span v-show="errors.has('quantity')" class="help-block">
					<i class="fa fa-warning"></i>{{ errors.first('quantity') }}
				</span> 
			</span>
		</transition>
			
	</div>
</template>

<script>
// selector.append($("<option>", {product:"", text:"--"}))

export default {
	name: 'item-quantity',
	props:{
		value: {
			type: Number,
			default: 1
		},
		edit: {
			type: Boolean,
			default: false,
		},
		editable: {
			type: Boolean,
			default: true,
		},
	},
	data(){
		return {
			quantity: this.value
		}
	},
	created(){
	},

	watch: {
		value(){
			this.quantity = this.value
		},
		quantity(){
			this.$emit('input', this.quantity )
		},
	},
}

</script>