{% extends "erp_admin/base.html" %}
{% load static %}
{% block content %}
    
<div class="four">
    <h2>Permission Denied.</h2>
    <img src="{% static 'images/404.png' %}" alt="" />
    <a href="{{ request.META.HTTP_REFERER }}" class="hvr-shutter-in-horizontal">Go Back</a>

</div>
{% endblock content %}