{% extends "erp_admin/base.html" %} {% load static %} {% block content %}
<style>
#id_password1,
#id_password2 {
    display: block;
    width: 100%;
    height: 40px;
    padding: 6px 12px;
    mobile_nofont-size: 14px;
    line-height: 1.42857143;
    background-image: none;
    border: 1px solid #ccc;
}




</style>
<div class="blank">
    <div class="blank-page">
        <div class="row show-grid">
            <div class="col-sm-12">
                {% if not edit %}
                <h4>Add Employee</h4>{% endif %} {% if edit %}
                <h4>Edit Employee Details</h4>{% endif %}
                <a href="{% url 'employee:list' %}" class="btn btn-danger pull-right">Cancel</a>
            </div>
        </div>
        <form role="form" class="form-horizontal" method="post" action="{{ form_url }}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="panel-body cl">
                <h2>Security Details</h2>
                <div class="form-group {% if form1.username.errors %} has-error{% elif form1.is_bound %} has-success{% endif %}" style="margin-top:30px;">
                    <label class="col-md-2 control-label">{{ form1.username.label}}<span class="req">*</span></label>
                    <div class="col-md-8">
                        {{ form1.username.errors }}{{ form1.username }}
                    </div>
                </div>
                {% if not edit %}
                <div class="form-group {% if form1.password1.errors %} has-error{% elif form1.is_bound %} has-success{% endif %}">
                    <label class="col-md-2 control-label">{{ form1.password1.label}}<span class="req">*</span></label>
                    <div class="col-md-8">
                        {{ form1.password1.errors }}{{ form1.password1 }}
                    </div>
                </div>
                <div class="form-group {% if form1.password2.errors %} has-error{% elif form1.is_bound %} has-success{% endif %}">
                    <label class="col-md-2 control-label">{{ form1.password2.label}}<span class="req">*</span></label>
                    <div class="col-md-8">
                        {{ form1.password2.errors }}{{ form1.password2 }}
                    </div>
                </div>
                {% endif %}
                <div class="form-group {% if form1.email.errors %} has-error{% elif form1.is_bound %} has-success{% endif %}">
                    <label class="col-md-2 control-label">{{ form1.email.label}}<span class="req">*</span></label>
                    <div class="col-md-8">
                        {{ form1.email.errors }}{{ form1.email }}
                    </div>
                </div>
            </div>
            <div class="panel-body cl">
                <h2>Personal Details</h2>
                <div class="form-group {% if form1.first_name.errors %} has-error{% elif form1.is_bound %} has-success{% endif %}" style="margin-top:30px;">
                    <label class="col-md-2 control-label">Name <span class="req">*</span></label>
                    <div class="col-md-8">
                        {{ form1.first_name.errors }}{{ form1.first_name }}
                    </div>
                </div>
                <div class="form-group {% if form2.code.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                    <label class="col-md-2 control-label">{{ form2.code.label}}<span class="req">*</span></label>
                    <div class="col-md-8">
                        {{ form2.code.errors }}{{ form2.code }}
                    </div>
                </div>
                <div class="form-group {% if form2.languages_known.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                    <label class="col-md-2 control-label">{{ form2.languages_known.label}}<span class="req"></span></label>
                    <div class="col-md-8">
                        {{ form2.languages_known.errors }}{{ form2.languages_known }}
                    </div>
                </div>
                <!--
                <div class="form-group {% if form2.birth_place.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                    <label class="col-md-2 control-label">{{ form2.birth_place.label}}<span class="req">*</span></label>
                    <div class="col-md-8">
                        {{ form2.birth_place.errors }}{{ form2.birth_place }}
                    </div>
                </div>
                -->
                <div class="form-group">
                    <div class="form-inline {% if form2.dob.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">{{ form2.dob.label}}<span class="req"></span></label>
                        <div class="col-md-3">
                            {{ form2.dob.errors }}{{ form2.dob }}
                        </div>
                    </div>
                    <div class="form-inline {% if form2.gender.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">{{ form2.gender.label}}<span class="req"></span></label>
                        <div class="col-md-3">
                            {{ form2.gender.errors }}{{ form2.gender }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-inline {% if form2.marital_status.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">{{ form2.marital_status.label}}<span class="req"></span></label>
                        <div class="col-md-3">
                            {{ form2.marital_status.errors }}{{ form2.marital_status }}
                        </div>
                    </div>
                    <div class="form-inline {% if form2.blood_group.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">{{ form2.blood_group.label}}<span class="req"></span></label>
                        <div class="col-md-3">
                            {{ form2.blood_group.errors }}{{ form2.blood_group }}
                        </div>
                    </div>
                </div>
                <!--<div class="form-group">
                    <div class="form-inline {% if form2.religion.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">{{ form2.religion.label}}<span class="req">*</span></label>
                        <div class="col-md-3">
                            {{ form2.religion.errors }}{{ form2.religion }}
                        </div>
                    </div>
                    <div class="form-inline {% if form2.cast.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">{{ form2.cast.label}}<span class="req">*</span></label>
                        <div class="col-md-3">
                            {{ form2.cast.errors }}{{ form2.cast }}
                        </div>
                    </div>
                </div> -->
                <div class="form-group">
                    <div class="form-inline {% if form2.citizenship.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">{{ form2.citizenship.label}}<span class="req"></span></label>
                        <div class="col-md-3">
                            {{ form2.citizenship.errors }}{{ form2.citizenship }}
                        </div>
                    </div>
                    <div class="form-inline {% if form2.photo.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">{{ form2.photo.label}}</label>
                        <div class="col-md-3">
                            {{ form2.photo.errors }}{{ form2.photo }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-body cl">
            {{form2.non_field_errors}}
                <h2>Contact Details</h2>
                <div class="form-group {% if form3.addressline1.errors %} has-error{% elif form3.is_bound %} has-success{% endif %}" style="margin-top:30px;">
                    <label class="col-md-2 control-label">{{ form3.addressline1.label}}<span class="req">*</span></label>
                    <div class="col-md-8">
                        {{ form3.addressline1.errors }}{{ form3.addressline1 }}
                    </div>
                </div>
                <div class="form-group {% if form3.addressline2.errors %} has-error{% elif form3.is_bound %} has-success{% endif %}">
                    <label class="col-md-2 control-label">{{ form3.addressline2.label}}<span class="req"></span></label>
                    <div class="col-md-8">
                        {{ form3.addressline2.errors }}{{ form3.addressline2 }}
                    </div>
                </div>
                <div class="form-group {% if form3.area.errors %} has-error{% elif form3.is_bound %} has-success{% endif %}">
                    <label class="col-md-2 control-label">{{ form3.area.label}}<span class="req"></span></label>
                    <div class="col-md-8">
                        {{ form3.area.errors }}{{ form3.area }}
                    </div>

                </div>
                <div class="form-group {% if form3.country.errors %} has-error{% elif form3.is_bound %} has-success{% endif %}">
                    <label class="col-md-2 control-label">{{ form3.country.label}}<span class="req"></span></label>
                    <div class="col-md-8">
                        {{ form3.country.errors }}{{ form3.country }}
                    </div>
                </div>
                <div class="form-group {% if form3.state.errors %} has-error{% elif form3.is_bound %} has-success{% endif %}">
                    <label class="col-md-2 control-label">{{ form3.state.label}}<span class="req"></span></label>
                    <div class="col-md-8">
                        {{ form3.state.errors }}{{ form3.state }}
                    </div>
                </div>
                <div class="form-group {% if form3.city.errors %} has-error{% elif form3.is_bound %} has-success{% endif %}">
                    <label class="col-md-2 control-label">{{ form3.city.label}}<span class="req"></span></label>
                    <div class="col-md-8">
                        {{ form3.city.errors }}{{ form3.city }}
                    </div>
                </div>
                <div class="form-group {% if form3.zipcode.errors %} has-error{% elif form3.is_bound %} has-success{% endif %}">
                    <label class="col-md-2 control-label">{{ form3.zipcode.label}}<span class="req"></span></label>
                    <div class="col-md-8">
                         {{ form3.zipcode.errors }}{{ form3.zipcode }}
                    </div>
                </div>
                <div class="form-group">

                    <div class="form-inline {% if form4.phone.errors %} has-error{% elif form4.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">{{ form4.phone.label}}<span class="req">*</span></label>
                        <div class="col-md-3">
                            {{ form4.phone.errors }}{{ form4.phone }}
                        </div>
                    </div>
                    <div class="form-inline {% if form4.alternate_phone.errors %} has-error{% elif form4.is_bound %} has-success{% endif %}">
                        <label class="col-md-2 control-label">{{ form4.alternate_phone.label}}<span class="req"></span></label>
                        <div class="col-md-3">
                            {{ form4.alternate_phone.errors }}{{ form4.alternate_phone }}
                    </div>
                    </div>
                </div>
            </div>
            <div class="panel-body cl">
                <h2>Company Details</h2>
                <div class="form-group {% if form2.primary_designation.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}" style="margin-top:30px;">
                    <label class="col-md-2 control-label">{{ form2.primary_designation.label}}<span class="req">*</span></label>
                    <div class="col-md-8">
                        {{ form2.primary_designation.errors }}{{ form2.primary_designation }}
                    </div>
                </div>
              
                <div class="form-group {% if form2.reporting_officer.errors %} has-error{% elif form2.is_bound %} has-success{% endif %}">
                    <label class="col-md-2 control-label">{{ form2.reporting_officer.label}}</label>
                    <div class="col-md-8">
                        {{ form2.reporting_officer.errors }}{{ form2.reporting_officer }}
                    </div>
                </div>
                <button class="btn-primary btn pull-right">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %} {% block jsscript %}
<script src="{% static 'js/jquery.auto-complete.js' %}"></script>
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>

<script>
$(document).ready(function() {
    

    $('#pldate').daterangepicker({
        singleDatePicker: true,
        // calender_style: "picker_4",
        showDropdowns: true,
        locale: {
            format: 'YYYY-MM-DD',
                },
    }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
    });




    var manager_input = $("#id_reporting_officer");
    var manager = manager_input.select2({
        ajax: {
            url: "/employee/select_employee/",
            dataType: 'json',
            delay: 250,
            data: function(params) {
                return {
                    employee_name: params.term, // search term
                };
            },
            processResults: function(data) {
                // parse the results into the format expected by Select2
                // since we are using custom formatting functions we do not need to
                // alter the remote JSON data, except to indicate that infinite
                // scrolling can be used
                console.log(data);
                return {
                    results: data,
                };
            },
            cache: true
        },
        escapeMarkup: function(markup) {
            return markup;
        }, // let our custom formatter work
        minimumInputLength: 1,
        // templateResult: formatRepo, // omitted for brevity, see the source of this page
        // templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
    });
    manager.val(manager_input.val()).trigger("change");
});
</script>
{% endblock jsscript %}
