{% extends "erp_admin/base.html" %} {% load guardian_tags %} {% block content %}


<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Filters</h4>
            </div>
            <div class="modal-body">
                <form action="" method="get">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{ filter.form.code.label }}</label>
                                {{ filter.form.code }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{ filter.form.name.label }}</label>
                                {{ filter.form.name }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{ filter.form.primary_designation.label }}</label>
                                {{ filter.form.primary_designation }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{ filter.form.branch.label }}</label>
                                {{ filter.form.branch }}
                            </div>
                        </div>

                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div class="blank">
    <div class="blank-page">
        <div class="row show-grid">
            <div class="col-sm-12">
                <h3>
                    Employees {% if branch %}of {{branch}} {% endif %}
                    <a href="{% url 'employee:create' %}" class="btn btn-link">
                        <i class="fa fa-plus-square-o fa-2x"></i>
                    </a>
                </h3>
                <a href="{% url 'employee:list' %}" class="btn btn-primary btn-sm pull-right"><i
                        class="fa fa-refresh"></i> Refresh </a>
                <button type="button" class="btn btn-primary btn-sm pull-right" data-toggle="modal"
                        data-target="#filter-modal"><i class="fa fa-filter"> </i> Apply Filters
                </button>
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12 table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Code</th>
                        <th>Name</th>
                        <th>Designation</th>
                        {% if perms.employee.change_employee %}

                        <th>Edit</th>
                        {% endif %}
                        {% if perms.employee.delete_employee %}

                        <th>Delete</th>
                        {% endif %}

                        <th>Recordings</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for employee in employees %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>
                            <a href="{% url 'employee:profile' employee.code %}">
                                {{employee.code}}
                            </a>
                        </td>
                        <td>
                            {{employee.user.first_name}}
                        </td>
                        <td>{{ employee.primary_designation}}</td>
                        {% if perms.employee.change_employee %}
                        <td>
                            <a href="{% url 'employee:edit' employee.code %}" class="pull-right">
                                <i class="fa fa-edit"></i>
                            </a>
                        </td>
                        {% endif %}
                        {% if perms.employee.delete_employee %}
                        <td>
                            <a href="{% url 'employee:delete' employee.code %}" class="pull-right">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                        {% endif %}
                        <td>
                            <a href="{% url 'call_recorder:dashboard' employee.user.id %}" class="pull-right">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </a>
                        </td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5">No Employees in System</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


{% endblock content %}
