{% extends "erp/base.html" %}
{% block content %}

<div class="blank">
    <div class="blank-page">
        <div>
            <form action="{% url 'employee:password_confirmation' id tk %}" method="post">{% csrf_token %}
              <h1>Set Password</h1>
               <div class="row">
                  <div class="col-md-4">
                      <p align="left">New Password </p>
                      <div>
                       <input type="password" class="form-control" required="" name="password1"/>
                      </div>
                  </div>
                </div>
              <div class="row">
                  <div class="col-md-4">
                      <p align="left">New Password Confirmation</p>
                      <div>
                        <input type="password" class="form-control" required="" name="password2"/>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4" style="padding-top:10px;">
                      
                      <div>
                       <input type="submit" class="btn btn-primary submit pull-right" value="Submit"/>
                      </div>
                  </div>
                </div>
              
            </form>
        </div>
    </div>
</div>
{% endblock %}
        