{% extends "erp/base.html" %}
{% block content %}

    <div class="blank">
    <div class="blank-page">
        <div class="row">
           <div>
                <div>
                    <form action="{% url 'employee:password_reset' %}" method="post">
                        {% csrf_token %}
                          <h1>Reset Password</h1>
                          
              
                              <div class="col-md-4">
                                <input type="text" class="form-control" placeholder="User Name" required="" name="uname"/>
                              </div>
                        
                          
                            <div class="col-md-4">
                             <input type="submit" class="btn btn-default submit" value="Continue"/>
                            
                              </div>
                         
                        </form>
                </div>
                 <div class="clearfix"></div>
            </div>
      </div>
  </div>
      
{% endblock %}