{% extends "erp_admin/base.html" %}
{% load static tz util group_required %}
{% get_current_timezone as TIME_ZONE %}
{% block css %}
<style>
.req{
  color:#FC0404!important;
  font-size:20px!important;
}




</style>

{% endblock css %}
{% block content %}
<div class="banner">
    <h2>
        <a href="/">Home</a>
        <i class="fa fa-angle-right"></i>
        <span><a href="{% url 'product:view_products' %}">Programs</a></span>
        <i class="fa fa-angle-right"></i>
        <span>{{ type|title }}</span>
        <a href="{{request.META.HTTP_REFERER}}" class="pull-right"><i class="fa fa-times"></i></a>
    </h2>
</div>
<form class="" action="{{form_url}}" method="post" id="qForm" enctype="multipart/form-data">
    <div class="blank">
        <div class="grid-form1">

            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.field_errors }}


                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Name<span class="req">*</span></label>
                                <div class="">
                                    {{ form.name.errors }}{{ form.name }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Academic Eligibility<span class="req">*</span></label>
                                <div class="">
                                    {{ form.accademic_eligibility.errors }}{{ form.accademic_eligibility }}
                                </div>
                            </div>
                        </div>


                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Number Of Certification<span class="req"></span></label>
                                <div class="">
                                    {{ form.no_of_certification }}
                                    {{ form.no_of_certification.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Certification Details</label>
                                <div class="">
                                    {{ form.certification_details }}
                                    {{ form.certification_details.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Placement Details</label>
                                <div class="">
                                    {{ form.placement_details }}
                                    {{ form.placement_details.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Abbreviation<span class="req">*</span></label>
                                <div class="">
                                    {{ form.abbreviation }}
                                    {{ form.abbreviation.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Program Director<span class="req">*</span></label>
                                <div class="">
                                    {{ form.program_director }}
                                    {{ form.program_director.errors }}
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div style="padding-top:3%;">
                            <button class="btn btn-primary btn-md pull-right">Submit</button>
                        </div>

                    </div>

                </div>


            </div>

        </div>


    </div>

</form>

{% endblock content %}
{% block jsscript %}


{% endblock jsscript %}
