{% extends "erp_admin/base.html" %}
{% load static %}
{% block css %}

{% endblock css %}
{% block content %}
<div class="block">
    <a href="{{ request.META.HTTP_REFERER }}" class="pull-right"><i class="fa fa-times"></i></a>
    <div class="row" align="center">
        <h3>Certifications for {{course.name}} </h3>

    </div>
</div>

<div class="block">
    <div class="row show-grid">
        <div>
            <table class="table table-bordered">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Test Name</th>
                    <th>Edit</th>
                    <th>Delete</th>

                </tr>
                </thead>
                <tbody>
                {% for certificate in certifications %}
                <tr>
                    <td>
                        {{certificate.name}}
                    </td>
                    <td>
                        {{ certificate.test_name }}
                    </td>
                    <td>
                        <a href="{% url 'product:edit_certification' certificate.pk %}"><i class="fa fa-pencil"></i></a>
                    </td>
                    <td>
                        <a href="{% url 'product:delete_certification' certificate.pk %}"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            <p align="right" style="padding-top:30px;">
                <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Add Certifications <i
                        class="fa fa-plus"></i></button>
            </p>
        </div>
    </div>
</div>


<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" role="document">
        <form action="{{ form.url }}" method="post" enctype="multipart/form-data">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add Certification</h4>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">{{ form.name.label }}</label><span class="req">*{{ form.name.errors }}</span>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                {{ form.name }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">{{ form.test_name.label }}</label><span class="req">*{{ form.test_name.errors }}</span>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                {{ form.test_name }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">{{ form.header_image.label }}</label><span class="req">*{{ form.header_image.errors }}</span>
                            </div>
                        </div>
                        <div class="col-sm-8">
                            <div class="form-group">
                                {{ form.header_image }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                </div>
            </div>

        </form>
    </div>
</div>

{% endblock content %}
{% block jsscript %}

{% endblock jsscript %}
