{% extends "erp_admin/base.html" %}
{% load static tz %}
{% get_current_timezone as TIME_ZONE %}
{% block head %}
<style>


.fabutton {
  background: none;
  padding: 0px;
  border: none;
}



</style>
{% endblock head %}
{% block content %}


<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Add Batch</h4>
            </div>
            <div class="modal-body">
                <form action="{% url 'product:add_batch' course.pk %}" method="post">
                    {% csrf_token %}

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ form.duration.label }}<span class="req">*</span></label>
                            {{ form.duration }}
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{form.time.label}}<span class="req">*</span></label>
                            {{form.time }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{form.start_date.label}}<span class="req">*</span></label>
                            {{form.start_date }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{form.total_fee.label}}<span class="req">*</span></label>
                            {{form.total_fee }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{form.course_fee.label}}</label>
                            {{form.course_fee }}
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>


<div class="block">
    <a href="{{ request.META.HTTP_REFERER }}" class="pull-right"><i class="fa fa-times"></i></a>
    <div class="row" align="center">
        <h3><a href="{% url 'product:detail' course.program.pk %}">{{course.program.name}}-{{ course.name}}</a></h3>
    </div>
</div>


<div class="batch_block">
    <div class="block">
        <div class="row show-grid">
            <div>
                <h3 style="text-align: center; font-size: 20px; color:black;">Batches</h3>

                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Course</th>
                        <th>Code</th>
                        <th>Duration</th>
                        <th>Time</th>
                        <th>Start Date</th>
                        <th colspan="2">Course Fee</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Installments</th>
                        <th>Subjects</th>

                    </tr>

                    </thead>
                    <tbody>
                    {% for batch in course.batches.all %}
                    <tr>
                        <td>
                            {{batch.batch.name}}
                        </td>
                        <td>
                            {{batch.code}}
                        </td>

                        <td>
                            {{batch.get_duration_display}}
                        </td>
                        <td>
                            {{batch.get_time_display}}
                        </td>
                        <td>
                            {{batch.start_date}}
                        </td>
                        <td>
                            INR {{batch.total_fee}}
                        </td>
                        <td>
                           {% if batch.course_fee %} USD {{batch.course_fee}}{% endif %}
                        </td>
                        <td>
                            <a href="{% url 'product:edit_batch' batch.pk %}"><i class="fa fa-edit"></i></a>
                        </td>
                        <td>
                            <form method="post" action="{% url 'product:delete_batch' batch.pk %}"
                                  onsubmit="remove(this, event)">
                                {% csrf_token %}
                                <button type="submit" class="fabutton">
                                    <i class="fa fa-trash-o fa-fw"></i>
                                </button>
                            </form>
                        </td>
                        <td>

                            <a href="{% url 'product:add_installments' batch.pk %}"><i
                                    class="fa {% if batch.installments.count > 0  %}fa-edit{% else %}fa-plus{% endif %}"></i></a>

                        </td>

                         <td>

                            <a href="{% url 'product:add_subjects' batch.pk %}"><i
                                    class="fa {% if batch.installments.count > 0  %}fa-edit{% else %}fa-plus{% endif %}"></i></a>

                        </td>
                    </tr>
                    {% endfor %}


                    </tbody>
                </table>
                <p align="right" style="padding-top:30px;">
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#filter-modal">Add Batch <i
                            class="fa fa-plus"></i></button>
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>

<script>
$(document).ready(function() {

    $('.tdate').daterangepicker({
        singleDatePicker: true,
        // calender_style: "picker_4",
        showDropdowns: true,
        locale: {
            format: 'YYYY-MM-DD',
                },
    }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
    });
});




    function remove(form, e){
        e.preventDefault()
        if(confirm('Confirm Delete')){
            form.submit()
        }
    }



</script>

{% endblock jsscript %}
