{% extends "erp_admin/base.html" %} {% load guardian_tags %} {% block content %}
{% load staticfiles %}
{% block head %}
<link href="{% static 'css/box_style.css' %}" rel='stylesheet' type='text/css' />

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
{% endblock head %}
<div class="blank">
    <div class="blank-page">
        <div class="row show-grid" style="margin-bottom:300px;">
            <div class="col-sm-12 col-md-12 col-xs-12">
                <h2>Programs</h2>
                <div class="row" style="margin-top:30px;">
                    {% if request.user.is_staff %}
                    <div class="col-sm-4 col-md-4 col-xs-12">
                        <div class="border_style bg2" align="center">
                            <a href="{% url 'product:add_products' %}">
                            <span style="color:#ffffff;">Add Program</span>
                            <div>
                            
                            </div>
                            </a>
                        </div>
                     
                    </div>
                    {% endif %}
                    <div class="col-sm-4 col-md-4 col-xs-12">
                        <div class="border_style bg1" align="center">
                            <a href="{% url 'product:view_products' %}">
                            <span style="color:#ffffff;">Program List</span>
                            <div>
                           
                            </div>
                            </a>
                        </div>
                     
                    </div>
                   
                   

                </div>
                
          </div>

        </div>
    </div>
</div>
        
   

{% endblock content %}
