{% extends "erp_admin/base.html" %}
{% load static %}
{% block head %}
<style>


.fabutton {
  background: none;
  padding: 0px;
  border: none;
}

.boxes {
  margin: auto;
}

/*Checkboxes styles*/
input[type="checkbox"] { display: none; }

input[type="checkbox"] + label {
  display: block;
  position: relative;
  padding-left: 35px;
  font: 14px/20px 'Open Sans', Arial, sans-serif;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

input[type="checkbox"] + label:last-child { margin-bottom: 0; }

input[type="checkbox"] + label:before {
  content: '';
  display: block;
  margin-top: 3px;
  width: 20px;
  height: 20px;
  border: 2px solid #6cc0e5;
  position: absolute;
  left: 0;
  top: 0;
  opacity: .6;
  -webkit-transition: all .12s, border-color .08s;
  transition: all .12s, border-color .08s;
}

input[type="checkbox"]:checked + label:before {
  width: 10px;
  top: -5px;
  left: 5px;
  border-radius: 0;
  opacity: 1;
  border-top-color: transparent;
  border-left-color: transparent;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}


</style>
{% endblock head %}
{% block content %}

<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <form action="{% url 'product:add_course' product.pk %}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title" id="myModalLabel">Add Course</h4>
                </div>
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">{{ course_form.name.label }}</label><span class="req">*{{ course_form.name.errors }}</span>
                        </div>
                    </div>
                        <div class="col-sm-8">
                        <div class="form-group">
                            {{ course_form.name }}
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">{{ course_form.abbreviation.label }}</label><span class="req">*{{ course_form.abbreviation.errors }}</span>
                        </div>
                    </div>
                        <div class="col-sm-8">
                        <div class="form-group">
                            {{ course_form.abbreviation }}
                        </div>
                    </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">{{ course_form.enrollment_abbreviation.label }}</label><span class="req">*{{ course_form.enrollment_abbreviation.errors }}</span>
                        </div>
                    </div>
                        <div class="col-sm-8">
                        <div class="form-group">
                            {{ course_form.enrollment_abbreviation }}
                        </div>
                    </div>
                    </div>



                </div>
                <div class="clearfix"></div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary pull-right">Submit</button>
                </div>
            </div>

        </form>
    </div>
</div>


<div class="product_block">
    <div class="block">
        <div class="row show-grid">
            <div class="boxes"><input type="checkbox" id="box-1">
                <label for="box-1">
                    <h3 style="margin-left: 25px;">{{ product.name }}</h3>
                </label>
            </div>
        </div>
    </div>
</div>
<!-- oooooo -->
<div class="block program_block" hidden="hidden">
    <div class="row show-grid">
        <div class="col-sm-10" align="right">
            <a href="{% url 'product:edit_product' product.pk %}"><i class="fa fa-edit"></i></a>
        </div>
        <div class="col-sm-2" align="right">
            <form method="post" action="{% url 'product:delete' product.pk %}" onsubmit="remove(this, event)">
                {% csrf_token %}
                <button type="submit" class="fabutton">
                    <i class="fa fa-trash-o fa-fw"></i>
                </button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table class="table table-bordered">
                <thead>
                </thead>
                <tbody>
                <tr>
                    <td colspan="2" style="text-align: center; font-size: 20px; color:black;">Program Details</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ product.name }}</td>
                </tr>
                <tr>
                    <th>Academic Eligibility</th>
                    <td>
                        {{ product.accademic_eligibility }}
                    </td>
                </tr>

                <tr>
                    <th>No Of Certification</th>
                    <td>
                        {{ product.no_of_certification }}

                    </td>
                </tr>
                <tr>
                    <th>Certification Details</th>
                    <td>
                        {{ product.certification_details }}
                    </td>
                </tr>
                <tr>
                    <th>Placement Details</th>
                    <td>
                        {{ product.placement_details }}

                    </td>
                </tr>
                <tr>
                    <th>Abbreviation</th>
                    <td>
                        {{ product.abbreviation }}

                    </td>
                </tr>


                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- ooo -->
<div class="course_block" hidden="hidden">
    <div class="block">
        <div class="row show-grid">
            <div>
                <h3 style="text-align: center; font-size: 20px; color:black;">Courses</h3>
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Abbreviation</th>
                        <th>Enrollment Abbreviation</th>
                        <th>Edit</th>
                        <th>Delete</th>
                        <th>Certificates</th>

                    </tr>
                    </thead>
                    <tbody>
                    {% for course in product.courses.all %}
                    <tr>
                        <td>
                            <a href="{% url 'product:course_detail' course.pk %}">{{course.name}}</a>
                        </td>
                        <td>{{ course.abbreviation }}</td>
                        <td>{{ course.enrollment_abbreviation }}</td>
                        <td>
                            <a href="{% url 'product:edit_course' course.pk %}"><i class="fa fa-edit"></i></a>
                        </td>
                        <td>
                            <form method="post" action="{% url 'product:delete_course' course.pk %}"
                                  onsubmit="remove(this, event)">
                                {% csrf_token %}
                                <button type="submit" class="fabutton">
                                    <i class="fa fa-trash-o fa-fw"></i>
                                </button>
                            </form>
                        </td>
                        <td>
                            <a href="{% url 'product:add_certification' course.pk %}"><i class="fa fa-eye"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p align="right" style="padding-top:30px;">
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#filter-modal">Add Course <i
                            class="fa fa-plus"></i></button>
                </p>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block jsscript %}
<script>
$(document).ready(function() {
     $(".course_block").show();

     $(".viewprogram,#box-1").click(function(){
        $(".program_block").toggle();
     });


});



    function remove(form, e){
        e.preventDefault()
        if(confirm('Confirm Delete')){
            form.submit()
        }
    }



</script>
{% endblock jsscript %}
