{% extends "erp_admin/base.html" %}
{% load static %}

{% block content %}
<div class="block">
    <a href="{{ request.META.HTTP_REFERER }}" class="pull-right"><i class="fa fa-times"></i></a>
    <div class="row" align="center">
        <h3> Edit Certificate of Course {{ certificate.course }}</h3>

    </div>
</div>
<form class="" action="{{form_url}}" method="post" id="qForm" enctype="multipart/form-data">
    <div class="blank">
        <div class="grid-form1">

            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.field_errors }}


                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Name<span class="req">*</span></label>
                                <div class="">
                                    {{ form.name.errors }}{{ form.name }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Test Name<span class="req">*</span></label>
                                <div class="">
                                    {{ form.test_name.errors }}{{ form.test_name }}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Change Header Image<span class="req"></span></label>
                                <div class="">
                                    {{ form.header_image }}
                                    {{ form.header_image.errors }}
                                    <img src="/media/{{certificate.header_image}}" width="100" height="100">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                        <div style="padding-top:3%;">
                            <button class="btn btn-primary btn-md pull-right">Submit</button>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

</form>

{% endblock content %}
{% block jsscript %}


{% endblock jsscript %}
