{% extends "erp_admin/base.html" %}
{% load static %}

{% block content %}
<div class="banner">
    <h2>
        <a href="/">Home</a>
        <i class="fa fa-angle-right"></i>
        <span><a href="{% url 'product:detail' course.program.pk %}">Course</a></span>
        <i class="fa fa-angle-right"></i>
        <span>{{ course.name|title }}</span>
        <a href="{{request.META.HTTP_REFERER}}" class="pull-right"><i class="fa fa-times"></i></a>
    </h2>
</div>
<div class="blank">
    <div class="grid-form1">
        <div class="tab-content">
            <form class="" action="" method="post" id="qForm" enctype="multipart/form-data">

                <div class="tab-pane active" id="horizontal-form">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.field_errors }}
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label class="control-label">Name<span class="req">*</span></label>
                                <div class="">
                                    {{ form.name.errors }}{{ form.name }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label class="control-label">Abbreviation<span class="req">*</span></label>
                                <div class="">
                                    {{ form.abbreviation.errors }}{{ form.abbreviation }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label class="control-label">Enrollment Abbreviation<span class="req">*</span></label>
                                <div class="">
                                    {{ form.enrollment_abbreviation.errors }}{{ form.enrollment_abbreviation }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div style="padding-top:3%;">
                            <button class="btn btn-primary btn-md pull-right">Submit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock content %}
{% block jsscript %}
{% endblock jsscript %}
