{% extends "erp_admin/base.html" %}
{% load static tz util group_required %}
{% get_current_timezone as TIME_ZONE %}
{% block css %}
<style>
.req{
  color:#FC0404!important;
  font-size:20px!important;
}



</style>

{% endblock css %}
{% block content %}
<div class="block">
    <a href="{{ request.META.HTTP_REFERER }}" class="pull-right"><i class="fa fa-times"></i></a>
    <div class="row" align="center">
        <h3>{{ batch.batch.name }}</h3>

    </div>
</div>
<form class="" action="" method="post" id="qForm" enctype="multipart/form-data">
    <div class="blank">
        <div class="grid-form1">
            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.field_errors }}
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Duration<span class="req">*</span></label>
                                <div class="">
                                    {{ form.duration.errors }}{{ form.duration }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Time<span class="req">*</span></label>
                                <div class="">
                                    {{ form.time.errors }}{{ form.time }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Start Date<span class="req">*</span></label>
                                <div class="">
                                    {{ form.start_date }}
                                    {{ form.start_date.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Course Fee(INR)<span class="req">*</span></label>
                                <div class="">
                                    {{ form.total_fee }}
                                    {{ form.total_fee.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Course Fee(USD)<span class="req"></span></label>
                                <div class="">
                                    {{ form.course_fee }}
                                    {{ form.course_fee.errors }}
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div style="padding-top:3%;">
                            <button class="btn btn-primary btn-md pull-right">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script>

    $(document).ready(function() {
    $('.tdate').daterangepicker({
        singleDatePicker: true,
        // calender_style: "picker_4",
        showDropdowns: true,
        locale: {
            format: 'YYYY-MM-DD',
                },
    }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
    });
});

</script>
{% endblock jsscript %}
