{% extends "erp_admin/base.html" %}
{% load static tz util group_required %}
{% get_current_timezone as TIME_ZONE %}
{% block css %}
<style>
.req{
  color:#FC0404!important;
  font-size:20px!important;
}


</style>

{% endblock css %}
{% block content %}
<form class="" action="" method="post" id="qForm" enctype="multipart/form-data">
    <div class="blank">
        <div class="grid-form1">
            <a href="{{ request.META.HTTP_REFERER }}">Back</a>
            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.field_errors }}
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Name<span class="req">*</span></label>
                                    <div class="">
                                        {{ form.name.errors }}{{ form.name }}
                                    </div>
                                </div>
                            </div>                    
                        </div>
                     <div class="row">
                         <div style="padding-top:3%;"><button class="btn btn-primary btn-md pull-right">Submit</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
{% endblock jsscript %}
