{% extends "erp_admin/base.html" %}
{% load static %}
{% block css %}
<style>


#tablespan span{
    font-size: 1em!important;
    padding: 0px!important;
}




</style>
{% endblock css %}
{% block content %}
<div class="block">
    <a href="{% url 'product:detail' course.batch.program.pk %}" class="pull-right"><i class="fa fa-times"></i></a>
    <div class="row" align="center">
        <h3>{% if type == 'add' %}
            New Installments
            {% elif type == 'edit' %}
            Edit Installments
            {% endif %}</h3>
    </div>
</div>
<div class="blank">
    <div class="grid-form1">
        <div class="tab-content">
            <div class="tab-pane active" id="horizontal-form">
                <form class="form-horizontal" action="{{ form_url }}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ installment_formset.non_field_errors }}
                    {{ installment_formset.field_errors }}
                    {{ installment_formset.management_form }}


                    <div class="exp" id="insta">
                        <div class="table-responsive">
                            <table class="table table-responsive" id="tablespan">
                                <thead>
                                <tr>
                                    <th class="tcolor">Title</th>
                                    <th class="tcolor">No of Days</th>
                                    <th class="tcolor">Percentage</th>
                                </tr>
                                </thead>

                                <tbody>
                                {% for installment_form in installment_formset %}
                                {{ installment_form.id}}
                                <tr class="expense">
                                    <td>
                                        <div>
                                            {{ installment_form.title.errors }}
                                            {{ installment_form.title }}
                                        </div>
                                    </td>

                                    <td>
                                        <div>
                                            {{ installment_form.no_of_days.errors }}
                                            {{ installment_form.no_of_days }}
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            {{ installment_form.percentage.errors }}
                                            {{ installment_form.percentage }}
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            {% if installment_form.instance.pk %}
                                            {{ installment_form.DELETE }}
                                            {% endif %}

                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-8" style="padding-left:30px;">
                            <button class="btn-primary btn" type="submit">Submit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script>
	$(document).ready(function() {
    	$('.expense').formset({
			prefix: '{{ installment_formset.prefix }}',
	      	addText: '<input type="button" class="btn btn-primary btn-xs" value="Add Installments">',
	      	deleteText: '<font color="red">REMOVE</font>',
	    });
	});


</script>
{% endblock jsscript %}