{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static %}
{% block head %}
<style type="text/css">
.tbl
{
    color:#000000;
    font-size:14px;

}

</style>
{% endblock head %}
{% block content %}


<div class="content-main">
        <div class="block">


            <div class="row">


                <div class="col-sm-12">

                <p align="right"><a onclick="printDiv()" class="btn btn-primary" target="__blank"> <i class="fa fa-print fa-fw"></i> Print Report</a></p>

                </div>


            </div>





            <div class="row" id="print_receipt" style="margin-left:5%;padding-top:2%;">

                <div class="col-sm-12" style="padding-bottom:2%;">
                    <h3>
                       SOURCE SUMMARY OF TECH & MANAGEMENT ENROLMENTS

                    </h3>
                </div>
                <div class="col-sm-12" style="padding-bottom:20px;">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th><span class="tbl"> <strong>Courses</strong></span></th>
                                    <th><span class="tbl"> <strong>Count</strong></span></th>


                                </tr>

                            </thead>


                            <tbody>



                            {% for product in products %}
                            <tr>
                                    <th>{{product}}</th>
                                    <th>
                                       {{product.total_count}}
                                    </th>
                            </tr>

                            {% endfor %}
                            <tr>
                                <th>Total</th>
                                <th>{{leads.total_leads}}</th>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                </div>

                <div class="col-sm-6">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th colspan="2"><span class="tbl"> <strong>SUMMARY</strong></span></th>


                                </tr>

                            </thead>


                            <tbody>



                            {% for source in sources %}
                            <tr>
                                    <th>{{source}}</th>
                                    <th>
                                       {{source.total_sources}}
                                    </th>
                            </tr>

                            {% endfor %}
                            <tr>
                                <th>Total</th>
                                <th>{{leads.total_leads}}</th>
                            </tr>

                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block jsscript %}

<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>

<script>
$(document).ready(function(){


    $('.tdate').daterangepicker({
      "singleDatePicker": true,
       "autoUpdateInput":false,
       "autoApply": true,
       "showDropdowns": true,
      locale: {
        format: 'MMMM YYYY',
      },

    }, function(start, end, label) {
      //console.log(start.toISOString(), end.toISOString(), label);
    });



    $('.tdate').on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('MMMM YYYY'));
    });

    $('.tdate').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });


});

</script>


<script type="text/javascript">
    function printDiv() {
    var printContents = document.getElementById('print_receipt').innerHTML;
    var originalContents = document.body.innerHTML;
     document.body.innerHTML = printContents;
     window.print();
     document.body.innerHTML = originalContents;
    }
</script>

{% endblock jsscript %}