{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static %}
{% block head %}
<style type="text/css">

</style>
{% endblock head %}
{% block content %}

<!-- Modal -->
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Filters</h4>
      </div>
      <div class="modal-body">
        <form action="" method="get">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Date</label>
                        {{ filter.form.date }}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">{{ filter.form.amount.label }}</label>
                        {{ filter.form.amount }}
                    </div>
                </div>
                 
            </div>
            
           
            
            <div class="row">
                <div class="pull-left" style="padding-left:10px;">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="clearfix"></div>

            </div>

        </form>
      </div>
    </div>
  </div>
</div>


    <div class="content-main">
        <div class="block">
            <div class="row">
                <div class="col-sm-12 col-xs-12" style="padding-left:30px;">
                   
                </div>
            </div>
            <div class="row show-grid">
                <div class="col-sm-6">
                    <h3>
                        Account
                        <a href="{% url 'expense:account_create' %}" class="btn btn-link">
                              <i class="fa fa-plus-square-o fa-2x"></i>
                        </a>
                    </h3>
                </div>
                <div class="col-sm-6">
                    <div class="pull-right">
                        <!-- Button trigger modal -->
                        <a class="btn btn-warning btn-sm" href="{% url 'expense:undeposited_fund_create' %}">
                         <i class="fa fa-plus"></i> Add Undeposited Fund
                        </a>
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#filter-modal">
                          <i class="fa fa-filter"></i> Filters
                        </button>
                        <a class="btn btn-primary btn-sm" href="{% url 'expense:account_list' %}">
                         <i class="fa fa-refresh"></i> Refresh
                        </a>
                    </div>
                </div>                         
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Head</th>
                                    <th>Amount</th>
                                    <th>Description</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for account in accounts %}
                                <tr>
                                    <td scope="row">{{ forloop.counter }}</td>
                                    <td>{{ account.date }}</td>
                                    <td>
                                        {{ account.head }}

                                    </td>
                                    
                                  
                                    <td>
                                        <i class="fa fa-inr"></i> {{ account.amount }}
                                    </td>
                                    <td>
                                        {{ account.description }}
                                    </td>
                                    
                                    <td>
                                       
                                        <a href="{% url 'expense:account_edit' account.pk %}">
                                            <i class="fa fa-edit fa-1x"></i>
                                        </a>
                                    </td>
                                    
                                </tr>
                                {% empty %}
                                <tr><td colspan="8">No Accounts</td></tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <div id="pagination">
                        {{pagination|safe}}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script>
        $(document).ready(function() {
        var $date_inputs = $('.tdate')
        var date_format = 'YYYY-MM-DD';
        $date_inputs.daterangepicker(
        {
            singleDatePicker: true,
            autoUpdateInput: false,
            autoApply: true,
            showDropdowns: true,
            locale: {
                format: date_format,
            },
        }, function(start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            }
        );
        $date_inputs.on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('YYYY-MM-DD'));
        });
        $date_inputs.on('cancel.daterangepicker', function(ev, picker) {
                $(this).val('');
        });
      });
</script>
{% endblock jsscript %}