{% extends "erp_admin/base.html" %}
{% load static %} 
{% block css %}
<style>
th{
	color: #DC143C!important;
}

#tablespan span{
    font-size: 1em!important;
    padding: 0px!important;
}
.req{
  color:#FC0404!important;
  font-size:20px!important;
}

</style>
{% endblock css %}
{% block content %}

<div class="blank">
	<div class="grid-form1">
		<div class="row">
		 	<div class="col-sm-2 col-xs-12" style="padding-left:30px;%;">
		 		<a href="{% url 'expense:index' %}">Back </a>
			</div>
		 	<div class="col-sm-10 col-xs-12">
		 		{% if type == 'add' %}
		 			<h3>Bulk Add Expense</h3>
		 		{% elif type == 'edit' %}
		 			<h3>Edit Record Expense</h3>
		 		{% endif %}
		 	</div>
		</div>
	 	
        <div class="tab-content">
			<div class="tab-pane active" id="horizontal-form">
				<form class="form-horizontal" action="{{ form_url }}" method="post" enctype="multipart/form-data">{% csrf_token %}
				{{ expense_formset.non_field_errors }}
				{{ expense_formset.field_errors }}
				{{ expense_formset.management_form }}

					
					<div class="exp">
						<div class="table-responsive">
							<table class="table table-responsive" id="tablespan">
								<thead>
									<tr>
										<th class="tcolor">Date<span class="req">*</span></th>
										<th class="tcolor">Expense Type<span class="req">*</span></th> 
										<th class="tcolor">Amount (<i class="fa fa-inr"></i>)<span class="req">*</span></th>
										<th class="tcolor">Dscription</th>
									</tr>
								</thead>
								
								<tbody>
									{% for expense_form in expense_formset %}
										<tr class="expense">
											<td>
												<div>
													{{ expense_form.date.errors }}
													{{ expense_form.date }}
												</div>
											</td>
											<td style="width:20%;">
												<div>
													{{ expense_form.expense_type.errors }}
													{{ expense_form.expense_type }}
												</div>
											</td>
											<td>
												<div>
													{{ expense_form.amount.errors }}
													{{ expense_form.amount }}
												</div>
											</td>
											
											<td style="width:15%;">
												<div style="row:1;">
						                            {{ expense_form.description.errors }}{{ expense_form.description }}
						                        </div>
											</td>
											
											<td>
												<div>
						                        	{% if expense_form.instance.pk %}{{ expense_form.DELETE }}{% endif %}
													
												</div>
											</td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-8" style="padding-left:30px;">
    						<button class="btn-primary btn" type="submit">Submit</button>
    					</div>
    				</div>			
				</form>
			</div>
		</div>	
	</div>
</div>
{% endblock content %}
{% block jsscript %}

<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>

<script>
      $(document).ready(function() {
      	$('.expense').formset({
	      prefix: '{{ expense_formset.prefix }}',
	      addText: '<input type="button" class="btn btn-primary btn-xs" value="Add Expense">',
	      deleteText: '<font color="red">REMOVE</font>',
	      added: initializeFields
	    });

      	function initializeFields(row){
	        attachDateRangePicker(row.find("input.tdate"))
	        attachSelect2(row.find("select#expense_type"))
	        attachSelect2(row.find("select#vendor"))

	    }
        $('.tdate').daterangepicker({
          singleDatePicker: true,
          // timePicker: true,
          // calender_style: "picker_4",
          showDropdowns: true,
          locale: {
        		format: 'YYYY-MM-DD',
      			},


        }, function(start, end, label) {
          console.log(start.toISOString(), end.toISOString(), label);
        });

        function attachSelect2(select_box){
			// console.log("attachSelect2", select_box)
			select_box.select2({
			placeholder: "Select",
			allowClear: true
			});
		}

        function attachDateRangePicker(input_date){
	        input_date.daterangepicker({
	            singleDatePicker: true,
	            showDropdowns: true,
	            locale: {
	                format: 'YYYY-MM-DD',
	            },
	        }, function(start, end, label) {
	            console.log(start.toISOString(), end.toISOString(), label);
	        });
	    }

    attachDateRangePicker($('input.tdate'))
    attachSelect2($('select#id_payee'))
   	attachSelect2($('select#expense_type'))


	    $("#expense_type").select2({
		maximumSelectionLength: 10,
		allowClear: true,
		placeholder: "Select",
		});

		$("#vendor").select2({
		maximumSelectionLength: 10,
		allowClear: true,
		placeholder: "Select",
		});

      });
</script>

<script>
// $(document).ready(function() {
//     var subtask_input = $("#id_sub_task");
//     var subtask = subtask_input.select2({
//       ajax: {
//         url: "/select_list/",
//         dataType: 'json',
//         delay: 250,
//         data: function (params) {
//           return {
//             subtask_code: params.term, // search term
//           };
//         },
//         processResults: function (data) {
//           // parse the results into the format expected by Select2
//           // since we are using custom formatting functions we do not need to
//           // alter the remote JSON data, except to indicate that infinite
//           // scrolling can be used
//           console.log(data);
//           return {
//             results: data,
//           };
//         },
//         cache: true
//       },
//       escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
//       minimumInputLength: 3,
//       // templateResult: formatRepo, // omitted for brevity, see the source of this page
//       // templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
//     });
    
// });
</script>
{% endblock jsscript %}