{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static %}
{% block head %}
<style type="text/css">
.tbl
{
    color:#000000;
    font-size:14px;

}










</style>
{% endblock head %}
{% block content %}
<div class="banner">
    <div class="row">
        <div class="col-sm-12">

            <form id="form" action="" method="get">
                {% csrf_token %}

                <div class="col-sm-2">
                    <label>Select Date </label>
                </div>
                <div class="col-sm-3">
                    <input type="text" name="month_year" class="form-control tdate" value="">
                </div>
                <div class="col-sm-1">
                    <button type="submit" name="search" class="btn btn-primary"><i class="fa fa-search"></i>
                    </button>
                </div>
                <div class="col-sm-1">
                    <a href="{% url 'expense:cash_received_report' %}" name="search" class="btn btn-primary"> <i
                            class="fa fa-refresh"></i></a>
                </div>
                <div class="col-sm-1">
                    <a onclick="printDiv()" class="btn btn-primary" target="__blank"> <i
                            class="fa fa-print fa-fw"></i> Print Report</a>
                </div>
            </form>
        </div>

    </div>

</div>
<div class="blank">
    <div class="blank-page">
        <div class="row show-grid">
            <h3> Received Cash report : {{start|date:"d M Y"}}{% if start != end %}- {{end|date:"d M Y"}}{% endif %}</h3>

            <div class="col-md-12 table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <th>Date</th>
                    <th>Received</th>

                    </thead>
                    <tbody>
                    {% for payment in payments %}
                    <tr>
                        <td>{{ payment.day }}</td>
                        <td>{{ payment.total_amount }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="2">No Data</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="fclass"></td>
                            <td class="fclass"></td>
                        </tr>
                        </tfoot>

                </table>

            </div>

        </div>
    </div>
</div>


{% endblock content %}
{% block jsscript %}

<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>

<script>
$(function() {
  $('input[name="month_year"]').daterangepicker({
    opens: 'left',
    autoUpdateInput:false,
    locale: {
        format: 'YYYY-MM-DD',
      },
  },

);
});

    $('.tdate').on('apply.daterangepicker', function(ev, picker) {
        var dd = picker.startDate.format('YYYY-MM-DD')+"-"+picker.endDate.format('YYYY-MM-DD');
        $(this).val(dd);
    });

    $('.tdate').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });



    function printDiv() {
    var printContents = document.getElementById('print_receipt').innerHTML;
    var originalContents = document.body.innerHTML;
     document.body.innerHTML = printContents;
     window.print();
     document.body.innerHTML = originalContents;
    }




    $(document).ready(function()
    {
        $('table thead th').each(function(i)
        {
            calculateColumn(i);
        });
    });
    function calculateColumn(index)
    {
        var total = 0;
        $('table tr').each(function()
        {
            var value = parseInt($('td', this).eq(index).text());
            if (!isNaN(value))
            {
                total += value;
            }
        });

        if(index==0){
            $('table tfoot td').eq(index).text('TOTAL');
        }else{
            $('table tfoot td').eq(index).text(total);
        }
    }





</script>

{% endblock jsscript %}
