{% extends "erp_admin/base.html" %} {% load guardian_tags %} {% block content %}
{% load staticfiles %}
{% block head %}
<link href="{% static 'css/box_style.css' %}" rel='stylesheet' type='text/css' />

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">

{% endblock head %}
<div class="blank">
    <div class="blank-page">
        <div class="row show-grid" style="margin-bottom:300px;">
            <div class="col-sm-12 col-md-12 col-xs-12">
                <h2>Expense</h2>
                <div class="row" style="margin-top:30px;">

                    <div class="col-sm-12 col-md-4  col-xs-12">

                     <div class="border_style bg2" align="center">
                        
                            <a href="{% url 'expense:employee_or_vehicle' %}">
                            <span class="white">Employee/Vehicle</span>
                            <div>
                            <span class="white"><i class="fa fa-plus fa-2x"></i></span>
                            </div>
                            </a>
                        </div>
                    
                    </div>
                    <div class="col-sm-12 col-md-4 col-xs-12">
                        <div class="border_style bg1" align="center">
                            <a href="{% url 'expense:other_expense_list' %}">
                            <span class="white">Other Expense</span>
                            <div>
                            <span class="white" style="margin-top:3px;"><i class="fa fa-eye fa-2x"></i></span>
                            </div>
                            </a>
                        </div>
                     
                    </div>

                    <div class="col-sm-12 col-md-4 col-xs-12">
                        <div class="border_style bg4" align="center">
                            <a href="{% url 'expense:other_income_list' %}">
                            <span class="white">Other Income</span>
                            <div>
                            <span class="white" style="margin-top:3px;"><i class="fa fa-eye fa-2x"></i></span>
                            </div>
                            </a>
                        </div>
                     
                    </div>
                    
                    <div class="col-sm-12 col-md-4  col-xs-12">

                      <div class="border_style bg3" align="center">
                            <a href="{% url 'expense:expense_index' %}" style="text-decoration:none;">
                            <span class="white">View Employee/Vehicle Expense/Income </span>
                            <div>
                            <span class="white"><i class="fa fa-eye fa-2x"></i></span>
                            </div>
                            </a>
                        </div>
                    
                     
                    </div>
                    <div class="col-sm-12 col-md-4  col-xs-12">

                      <div class="border_style bg7" align="center">
                            <a href="{% url 'expense:expense_income_report' %}" style="text-decoration:none;">
                            <span class="white">Report</span>
                            <div>
                            <span class="white"><i class="fa fa-list fa-2x"></i></span>
                            </div>
                            </a>
                        </div>
                    
                     
                    </div>
                   
                </div>
<!--
                <div class="row">
                    <div class="col-sm-12 col-md-4  col-xs-12">

                        <div class="border_style bg5" align="center">
                            <a href="" style="text-decoration:none;">
                            <span class="white">Bill</span>
                            <div>
                            <span class="white"><i class="fa fa-money fa-2x"></i></span>
                            </div>
                            </a>
                        </div>
                     
                    </div>
                     <div class="col-sm-12 col-md-4 col-xs-12">
                        <div class="border_style bg1" align="center">
                            <a href="" style="text-decoration:none;">
                            <span class="white">Record Electricity Bill</span>
                            <div>
                            <span class="white" style="margin-top:3px;"><i class="fa fa-plus fa-2x"></i></span>
                            </div>
                            </a>
                        </div>
                     
                    </div>

                </div>
-->

            </div>
        </div>
        
    </div>
</div>


{% endblock content %}
