{% extends "erp_admin/base.html" %} {% load static tz %} {% get_current_timezone as TIME_ZONE %} 
{% block head %}
<style type="text/css">

</style>
    <style>
    </style>
{% endblock head %} {% block content %}
<div>
    <div class="block">
        <div class="col-sm-12">
            <a href="{% url 'expense:index' %}" class="btn btn-default">Back</a>
        </div>
        <div class="row show-grid">
            <div class="col-sm-10" style="padding-left:10px;">
                <h3>Expense of <mark># {{expense.expense_type}}</mark></h3>
            </div>
            <div class="col-sm-2">
                <a  href="{% url 'expense:edit_Expense' expense.pk %}">Edit
                    <i class="fa fa-edit"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="block">
    <div class="row show-grid">
        
            <div class="col-sm-6 col-xs-12">
                <span class="date_font">
                    Created Date: {{ expense.created_at | date }}
                </span>
            </div>
            <div class="pull-right" class="col-sm-6 col-xs-12">
                <span class="date_font">
                    Last Update: {{expense.updated_at | date }}
                </span>
            </div>
        
        
    </div>
    
    <div class="row show-grid" style="padding-left:10px;">
        <div class="row">
            <div class="col-sm-8 col-xs-12">
                <h4>Expense Details</h4>
            </div>
        </div>
        <div class="row">
            
            <div class="col-sm-8 col-xs-12">
                <div class="table-responsive">
                <table class="table table-bordered" style="margin-top:18px;">
                    <thead>
                        <tr>
                            <th class="tfont">Date</th>
                            <td>{{expense.date}}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="tfont">Expense Type</th>
                            <td>{{expense.expense_type}}</td>
                        </tr>
                        <tr>
                            <th class="tfont">Amount</th>
                            <td><i class="fa fa-inr"></i> {{ expense.amount }}</td>
                        </tr>
                        <tr>
                            <th class="tfont">Paid</th>
                            <td>
                                {% if expense.paid %} 
                                    <span class="label status status-paid">PAID</span> 
                                {% else %}
                                    <span class="label status status-notpaid">NOT PAID</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% if expense.payee_type%}
                            <tr>
                                <th class="tfont">{{expense.payee_type}}</th>
                                <td>
                                    <a href="{{ expense.payee.get_absolute_url }}" target="blank">{{expense.payee}}</a>
                                </td>
                            </tr>
                        {% endif %}
                        {% if expense.refernce%}
                            <tr>
                                <th class="tfont">Reference</th>
                                <td>
                                    {{ expense.refernce }}
                                </td>
                            </tr>
                        {% endif %}
                        <!--
                        {% if expense.attachment%}
                            <tr>
                                <th class="tfont">Attachment</th>
                                <th>
                                    <a class="btn btn-primary" href="/media/{{expense.attachment }}" target="blank">View Attachment</a>
                                </th>
                            </tr>
                        {% endif %}
                        -->
                        {% if expense.note%}
                            <tr>
                                <th class="tfont">Note</th>
                                <td>{{ expense.note }}</td>
                            </tr>
                        {% endif %}
                        {% if expense.customer%}
                            <tr>
                                <th class="tfont">Customer</th>
                                <td>{{ expense.customer }}</td>
                            </tr>
                        {% endif %}
                        {% if expense.tax.all %}
                        
                            <tr>
                                <th class="tfont">Tax</th>

                                <td>
                                    {% for t in expense.tax.all %}
                                        {{ t }}<br>
                                    {% endfor %}
                                </td>
                            </tr>
                        {% endif %}
                        {% if expense.attachment%}
                            <tr>
                                <td colspan="2">
                                    <a  href="/media/{{expense.attachment }}" target="blank">View Attachment</a>
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
                </div>
            </div>
        </div>
        
    </div>

</div>

{% endblock content %}
{% block jsscript %}
{% endblock jsscript %}