{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static %}
{% block head %}
<style type="text/css">
.tbl
{
    color:#000000;
    font-size:14px;

}

</style>
{% endblock head %}
{% block content %}


<div class="content-main">
        <div class="block">


            <div class="row">
                <div class="col-sm-6 col-xs-6" style="padding-left:30px;">
                   
                </div>
            

                <div class="col-sm-6">

                <p align="right"><a onclick="printDiv()" class="btn btn-primary" target="__blank"> <i class="fa fa-print fa-fw"></i> Print Report</a></p>
                
                </div>
                
                                  
            </div>

            
        <div class="row" style="margin-left:5%;">
            <div class="col-sm-12">

                <form id="form" action="" method="get">
                    {% csrf_token %}
                    
                    <div class="col-sm-2">
                        <label>Select Date</label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" name="month_year" class="form-control tdate">
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" name="search" class="btn btn-primary"> <i class="fa fa-search"></i> Search</button>
                    </div>
                    <div class="col-sm-2">
                        <a href="{% url 'expense:transaction_report' %}" name="search" class="btn btn-primary"> <i class="fa fa-refresh"></i> Refresh</a>
                    </div>
                </form>
            </div>

            </div>


            <div class="row" id="print_receipt" style="margin-left:5%;padding-top:2%;">

                <div class="col-sm-12" style="padding-bottom:2%;">
                    <h3>
                       FUND ACQUISITION REPORT : {{start|date:"d M Y"}}{% if start != end %}- {{end|date:"d M Y"}}{% endif %}

                    </h3>
                </div>
                
                <div class="col-sm-6">
                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th><span class="tbl"> <strong>Total Amount Received</strong></span></th>
                                    <th><span class="tbl"> <strong><i class="fa fa-inr"></i>
                                        {% if total_accounts.total_accounts %}
                                        {{total_accounts.total_accounts}}
                                        {% else %}
                                        0
                                        {% endif %}
                                    </strong></span></th>
                                    
                                </tr>

                            </thead>
                            
                                
                            <tbody>
                            

                    
                            {% for account in accounts %}
                            <tr>
                                    <th>{{account}}</th>
                                    <th><i class="fa fa-inr"></i>
                                        {% if not account.total_sum %}
                                        0
                                        {% else %}
                                        {{account.total_sum}}
                                        {% endif %}

                                    </th>
                            </tr>

                            {% endfor %}
                          
                            </tbody>
                        </table>
                    </div>
                    <div id="pagination">
                        {{pagination|safe}}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block jsscript %}

<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>

<script>
$(document).ready(function(){
        

    $(function() {
        $('input[name="month_year"]').daterangepicker({
            opens: 'left',
            autoUpdateInput : false,
            locale: {
            format: 'YYYY-MM-DD',
            },
        }, function(start, end, label) {
            });
        });

    $('.tdate').on('apply.daterangepicker', function(ev, picker) {
        var dd = picker.startDate.format('YYYY-MM-DD')+"-"+picker.endDate.format('YYYY-MM-DD');
        $(this).val(dd);
    });

    $('.tdate').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });

    
});

</script>  


<script type="text/javascript">
    function printDiv() {    
    var printContents = document.getElementById('print_receipt').innerHTML;
    var originalContents = document.body.innerHTML;
     document.body.innerHTML = printContents;
     window.print();
     document.body.innerHTML = originalContents;
    }
</script>

{% endblock jsscript %}