{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static %}
{% block head %}
<style type="text/css">

</style>
{% endblock head %}
{% block content %}

<!-- Modal -->
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Filters</h4>
      </div>
      <div class="modal-body">
        <form action="" method="get">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Income Type</label>
                        {{ filter.form.income_type }}
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">{{ filter.form.amount.label }}</label>
                        {{ filter.form.amount }}
                    </div>
                </div>
                 <div class="col-sm-6">
                    <div class="form-group">
                        <label class="control-label">Date & Month</label>
                        {{ filter.form.date }}
                    </div>
                </div>
            </div>
            
           
            
            <div class="row">
                <div class="pull-left" style="padding-left:10px;">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="clearfix"></div>

            </div>

        </form>
      </div>
    </div>
  </div>
</div>


    <div class="content-main">
        <div class="block">
            <div class="row">
                <div class="col-sm-12 col-xs-12" style="padding-left:30px;">
                   
                </div>
            </div>
            <div class="row show-grid">
                <div class="col-sm-6">
                    <h3>
                        Income
                        <a href="{% url 'expense:income_create' %}" class="btn btn-link">
                              <i class="fa fa-plus-square-o fa-2x"></i>
                        </a>
                    </h3>
                </div>
                <div class="col-sm-6">
                    <div class="pull-right">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#filter-modal">
                          <i class="fa fa-filter"></i> Filters
                        </button>
                        <a class="btn btn-primary btn-sm" href="{% url 'expense:income_index' %}">
                         <i class="fa fa-refresh"></i> Refresh
                        </a>
                    </div>
                </div>                         
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Date</th>
                                    <th>Type</th>
                                    <th>Amount</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for expense in expenses %}
                                <tr>
                                    <td scope="row">{{ forloop.counter }}</td>
                                    <td>{{ expense.date|date:'d/m/y' }}</td>
                                    <td>
                                        {{ expense.income_type }}

                                    </td>
                                    
                                  
                                    <td>
                                        <i class="fa fa-inr"></i> {{ expense.amount }}
                                    </td>
                                    
                                    <td>
                                       
                                        <a href="{% url 'expense:edit_income' expense.pk %}">
                                            <i class="fa fa-edit fa-1x"></i>
                                        </a>
                                    </td>
                                    
                                </tr>
                                {% empty %}
                                <tr><td colspan="8">No Income</td></tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <div id="pagination">
                        {{pagination|safe}}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script>
$(document).ready(function(){
    $('.tdate').daterangepicker({
          singleDatePicker: true,
          // timePicker: true,
          // calender_style: "picker_4",
          showDropdowns: true,
          locale: {
                format: 'YYYY-MM-DD',
                },


        }, function(start, end, label) {
          console.log(start.toISOString(), end.toISOString(), label);
    });
    $('[data-toggle="tooltip"]').tooltip();

    $("#pagination a").click(function(e){
        e.preventDefault()
        page_string = this.href.slice(this.href.indexOf("?") + 1)
        
        var query_string = ""   
        var search_query = window.location.search
        var query_obj = {}
        if(search_query){
            if(search_query.indexOf('?') > -1)
                search_query = search_query.substr(1)
            
            var searchQueryStrings = [search_query]
            if(search_query.indexOf('&') > -1)
                searchQueryStrings = search_query.split('&')
            
            searchQueryStrings.forEach(qs => {
                var query_array = qs.split('=')
                query_obj[query_array[0]] = query_array[1]
            })

        }
        
        query_obj['page'] = page_string.split('=')[1]
        for(var k in query_obj){
            query_string += k + '=' + query_obj[k] + '&'
        }
        
        // console.log(query_string, query_obj, window.location)
        window.location = window.location.pathname + "?" + query_string.slice(0, -1)
    })
    var format = 'YYYY-MM-DD'
    function cb(start, end) {
        $('#date span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        $("#id_date_0").val(start.format(format));
        $("#id_date_1").val(end.format(format));  
    }

    $('#filter-modal').on('shown.bs.modal', function () {
        console.log(moment($("#id_date_0").val()))
        var start_date = $("#id_date_0").val() ? moment($("#id_date_0").val()) : moment().subtract(29, 'days')
        var end_date = $("#id_date_1").val() ? moment($("#id_date_1").val()) : moment()
    
        $('#date').daterangepicker({
            startDate: start_date,
            endDate: end_date,
            showDropdowns: true,
            locale: {
                format: format,
            },
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);
        cb(start_date, end_date)

    })

    function remove(form, e){
        e.preventDefault()
        if(confirm('Confirm Delete')){
            form.submit()
        }
    }

});
</script>
{% endblock jsscript %}