{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static %}
{% block head %}
<style type="text/css">

</style>
{% endblock head %}
{% block content %}

<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Filters</h4>
      </div>
      <div class="modal-body">
        <form action="" method="get">
            {# {{ filter.form }} #}
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.expense_type.label }}</label>
                    {{ filter.form.expense_type }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.name.label }}</label>
                    {{ filter.form.name }}
                </div>
            </div>
             <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.amount.label }}</label>
                    {{ filter.form.amount }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.due_date.label }}</label>
                    {{ filter.form.due_date }}
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="control-label">{{ filter.form.place.label }}</label>
                    {{ filter.form.place }}
                </div>
            </div>
             
            <div class="clearfix"></div>
                
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
            <div class="clearfix"></div>
        </form>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>
  </div>
</div>


    <div class="content-main">
        <div class="block">
            <div class="row">
                <div class="col-sm-12 col-xs-12" style="padding-left:30px;">
                    <a href="{% url 'expense:dashboard' %}">Back</a>
                </div>
            </div>
            <div class="row show-grid">
                <div class="col-sm-6">
                    <h3>
                        Other Expenses
                        <a href="{% url 'expense:other_expense_create' %}" class="btn btn-link">
                              <i class="fa fa-plus-square-o fa-2x"></i>
                        </a>
                    </h3>
                </div>
                <div class="col-sm-6">
                    <div class="pull-right">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#filter-modal">
                        Apply Filters
                        </button>
                        <a href="{% url 'expense:other_expense_list' %}" class="btn btn-primary">Refresh</a>
                    </div>
                </div>                         
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Type</th>
                                    <th>Place</th>
                                    <th>Date</th>
                                    <th>Amount</th>
                                    <th>Edit</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for expense in expenses %}
                                <tr>
                                    <td scope="row">{{ forloop.counter }}</td>
                                    <td>
                                        {{ expense.expense_type }}

                                    </td>
                                    
                                    <td>{{expense.place}}</td>
                                    <td>{{expense.due_date}}</td>
                                    <td>
                                        <i class="fa fa-inr"></i> {{ expense.amount }}
                                    </td>
                                    
                                    <td>
                                       
                                        <a href="{% url 'expense:other_expense_edit' expense.pk %}">
                                            <i class="fa fa-edit fa-1x"></i>
                                        </a>
                                    </td>
                                    
                                </tr>
                                {% empty %}
                                <tr><td colspan="8">No Other Expenses</td></tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <div id="pagination">
                        {{pagination|safe}}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script>
$(document).ready(function(){
    var $date_inputs = $('.tdate')
    var date_format = 'YYYY-MM-DD';
    $date_inputs.daterangepicker({
        singleDatePicker: true,
    autoUpdateInput: false,
    // minDate:new Date(),
    // timePicker: true,
    // timePicker24Hour: false,
    autoApply: true,
    showDropdowns: true,
    locale: {
        format: date_format,
    },
        // calender_style: "picker_4",
    }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
    });

    $date_inputs.on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('YYYY-MM-DD'));
    });

    $date_inputs.on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });  

});
</script>
{% endblock jsscript %}