{% extends "erp_admin/base.html" %}
{% load static %} 
{% block head %}
<style>
	.req{
  color:#FC0404!important;
  font-size:20px!important;
}
</style>
{% endblock head %}
{% block content %}

<div class="blank">
	 <div class="grid-form1">
	 	<div class="row show-grid">
		 	<div class="col-sm-2 col-xs-12">
		 		<a href="{% url 'expense:other_income_list' %}">Back </a>
			</div>
		 	<div class="col-sm-10 col-xs-12" align="left">
		 		{% if type == 'add' %}
		 			<h3 align="left">Add Other Income</h3>
		 		{% elif type == 'edit' %}
		 			<h3 align="left">Edit Other Income</h3>
		 		{% endif %}
		 	</div>
		</div>
 	     
	    <div class="tab-content">
			<div class="tab-pane active" id="horizontal-form">
				<form class="form-horizontal" action="{{ form_url }}" method="post">{% csrf_token %}
					{{ income_form.non_field_errors }}
					{{ income_form.field_errors }}
					<div class="form-group">
						<label class="col-sm-2 col-xs-12 control-label">Income Type<span class="req">*</span></label>
						<div class="col-sm-8 col-xs-12" id="inc_type">
							{{ income_form.income_type }}{{ income_form.income_type.errors }}
						</div>
					</div>


					<div class="form-group" style="display:none" id="inc_desc">
						<label class="col-sm-2 control-label col-xs-12">{{ income_form.description.label}}<span class="req">*</span></label>
						<div class="col-sm-8">
							{{ income_form.description }}
							{{ income_form.decription.errors }}
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 col-xs-12 control-label">{{ income_form.amount.label}}<span class="req">*</span></label>
						<div class="col-sm-8 col-xs-12">
							{{ income_form.amount }}{{ income_form.amount.errors }}
						</div>
					</div>

					<div class="form-group">
						<label class="col-sm-2 col-xs-12 control-label">Date<span class="req">*</span></label>
						<div class="col-sm-8 col-xs-12">
							{{ income_form.date }}{{ income_form.date.errors }}
						</div>
					</div>


					<div class="form-group">
						<div class="col-sm-8">
    						<button class="btn-primary btn">Submit</button>
    					</div>
    				</div>
				</form>
			</div>
		</div>			
	</div>
</div>

{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/select2.min.js' %}"></script>

<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="/static/js/select2.js"></script>

<script>
      $(document).ready(function() {
        var $date_inputs = $('.tdate')
	    var date_format = 'YYYY-MM-DD';
	    $date_inputs.daterangepicker({
	        singleDatePicker: true,
        autoUpdateInput: false,
        minDate:new Date(),
        // timePicker: true,
        // timePicker24Hour: false,
        autoApply: true,
        showDropdowns: true,
        locale: {
            format: date_format,
        },
	        // calender_style: "picker_4",
	    }, function(start, end, label) {
	        console.log(start.toISOString(), end.toISOString(), label);
	    });

	    $date_inputs.on('apply.daterangepicker', function(ev, picker) {
	        $(this).val(picker.startDate.format('YYYY-MM-DD'));
	    });

	    $date_inputs.on('cancel.daterangepicker', function(ev, picker) {
	        $(this).val('');
	    });
      });

    $("#income_type").change(function () {
        if ($("#income_type").val() == 'Other' ){
        $('#inc_desc').show()
        }else{
            $('#inc_desc').hide()
        }
    });

	
	$("#location").select2({
		
		});

</script>

<script>

</script>

{% endblock jsscript %}