{% extends "erp_admin/base.html" %} {% load guardian_tags %} {% block content %}
{% load staticfiles %}
{% block head %}
<link href="{% static 'css/box_style.css' %}" rel='stylesheet' type='text/css' />
{% endblock head %}
<div class="blank">
    <div class="blank-page">
        <div class="row show-grid">
        </div>
                <div class="row" style="margin-top:30px;">
                    <div class="col-sm-12 col-md-4  col-xs-12">
                        <div class="border_style bg4" align="center" style="background-color: #177d82;">
                                <a href="{% url 'expense:expense_income_report' %}" style="color:#ffff;">
                                <span class="white" >Expense/Income Report</span>
                                <div>
                                <span class="white" ><i class="fa fa-file-text-o fa-2x" aria-hidden="true" style="color:#ffff;"></i></span>
                                </div>
                                </a>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-xs-12">
                        <div class="border_style bg5" align="center" style="background-color: #75ad1a;">
                            <a href="{% url 'product:student_course_list' %}" style="color:#ffff;">
                            <span class="white" >Student List</span>
                            <div>
                            <span class="white" ><i class="fa fa-users fa-2x" aria-hidden="true" style="color:#ffff;"></i></span>
                            </div>
                            </a>
                      </div>
                    </div>
                </div>
                <div class="row" style="">
                </div>
          </div>
        </div>
    </div>
</div>



{% endblock content %}
