{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static %}
{% block head %}
<style type="text/css">
.tbl
{
    color:#000000;
    font-size:14px;

}


</style>
{% endblock head %}
{% block content %}


<div class="content-main">
    <div class="block">


        <div class="row">
            <div class="col-sm-6 col-xs-6" style="padding-left:30px;">

            </div>


            <div class="col-sm-6">

                <p align="right"><a onclick="printDiv()" class="btn btn-primary" target="__blank"> <i
                        class="fa fa-print fa-fw"></i> Print Report</a></p>

            </div>


        </div>


        <div class="row" style="margin-left:5%;">
            <div class="col-sm-12">

                <form id="form" action="" method="get">
                    {% csrf_token %}

                    <div class="col-sm-2">
                        <label>Select Month & Year </label>
                    </div>
                    <div class="col-sm-3">
                        <input type="text" name="month_year" class="form-control tdate" value="">
                    </div>
                    <div class="col-sm-2">
                        <button type="submit" name="search" class="btn btn-primary"><i class="fa fa-search"></i> Search
                        </button>
                    </div>
                    <div class="col-sm-2">
                        <a href="{% url 'expense:expense_income_report' %}" name="search" class="btn btn-primary"> <i
                                class="fa fa-refresh"></i> Refresh</a>
                    </div>
                </form>
            </div>

        </div>


        <div class="row" id="print_receipt" style="margin-left:5%;padding-top:2%;">

            <div class="col-sm-12" style="padding-bottom:2%;">
                <h3>
                    Expense/Income Report : {{start|date:"d M Y"}}{% if start != end %}- {{end|date:"d M Y"}}{% endif %}

                </h3>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th colspan="3"><span class="tbl"> <strong>Income</strong></span></th>

                        </tr>
                        <tr>
                            <th>Date</th>
                            <th>Particulars</th>
                            <th>Amount ( <i class="fa fa-inr"></i> )</th>
                        </tr>
                        </thead>


                        <tbody>

                        {% if prev_bal %}
                        <tr>
                            <td>{{ first|date:"d M Y"}}</td>
                            <td>Carry forward from {{ prev_month|date:"M Y" }}</td>
                            <td>{{ prev_bal }}</td>
                        </tr>
                        {% endif %}
                        {% for income in incomes %}
                        <tr>
                            <th>{{income.date}}</th>
                            <th>{{income.head}}</th>
                            <th> {{income.amount}}</th>


                        </tr>

                        {% endfor %}


                        <tr>

                            <td colspan="2"><span class="tbl"> <strong> Total</strong></span></td>
                            <td><span class="tbl"> <strong> <i class="fa fa-inr"></i>{{total_selected_date_income}}</strong></span></td>


                        </tr>


                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th colspan="3"><span class="tbl"> <strong>Expense</strong></span></th>

                        </tr>
                        <tr>

                            <th>Date</th>
                            <th>Particulars</th>
                            <th>Amount ( <i class="fa fa-inr"></i> )</th>

                        </tr>
                        </thead>


                        <tbody>

                        {% for expense in expenses %}
                        <tr>

                            <th>{{expense.date}}</th>
                            <th>{{expense.expense_type}}</th>
                            <th> {{expense.amount}}</th>

                        </tr>

                        {% endfor %}


                        <tr>

                            <td colspan="2"><span class="tbl"> <strong> Total</strong></span></td>
                            <td><span class="tbl"> <strong><i class="fa fa-inr"></i> {{selected_date_total_expense}}</strong></span></td>


                        </tr>


                        </tbody>
                    </table>
                </div>

            </div>
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table  class="table table-bordered">
                        <tr>

                            <td>
                                <span class="tbl">
                                    <strong>
                                    {% if balance > 0 %}
                                    Balance figure
                                    {% else %}
                                     Due
                                    {% endif %}
                                    -
                                    {% if start == end %}
                                        {{start|date:"d M Y"}}
                                    {% else %}
                                        {{ start|date:"d M Y" }} - {{ end|date:"d M Y" }}
                                     {% endif %}
                                </strong></span>
                            </td>
                            <td colspan="5">
                                <span class="tbl"> <strong><i class="fa fa-inr"></i>{{balance}}</strong></span>
                            </td>

                        </tr>
                        <tr>

                            <td><span class="tbl"> <strong>Balance B/D From last month</strong></span></td>
                            <td colspan="5">
                                <span class="tbl"> <strong><i class="fa fa-inr"></i>{{prev_bal}}</strong></span>
                            </td>

                        </tr>

                        <tr>

                            <td><span class="tbl"> <strong>Cash in hand(current)
                                </strong></span></td>
                            <td colspan="5">
                                <span class="tbl"> <strong><i class="fa fa-inr"></i>{{current_balance}}</strong></span>
                            </td>

                        </tr>

                    </table>

                </div>

            </div>

        </div>
    </div>
</div>

{% endblock content %}
{% block jsscript %}

<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>

<script>

$(document).ready(function(){


   $(function() {
  $('input[name="month_year"]').daterangepicker({
    opens: 'left',
    autoUpdateInput:false,
    locale: {
        format: 'YYYY-MM-DD',
      },
  },

);
});

    $('.tdate').on('apply.daterangepicker', function(ev, picker) {
        var dd = picker.startDate.format('YYYY-MM-DD')+"-"+picker.endDate.format('YYYY-MM-DD');
        $(this).val(dd);
    });

    $('.tdate').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });

    
});


    function printDiv() {    
    var printContents = document.getElementById('print_receipt').innerHTML;
    var originalContents = document.body.innerHTML;
     document.body.innerHTML = printContents;
     window.print();
     document.body.innerHTML = originalContents;
    }

</script>

{% endblock jsscript %}