{% extends "erp_admin/base.html" %}
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/select2.min.css' %}" />

<style>

 .pleft{
 	padding-left:40px;
 }
 .pleft1{
 	padding-left:20px;
 }

 td span{
	font-size: 1em;
	padding: 0px;
}
.leftalign{
	text-align: left !important;
	padding-left: 40px !important;
}
label{
	padding: 7px 12px 0 !important;
	
}
.req{
  color:#FC0404!important;
  font-size:20px!important;
}
</style>
{% endblock head %}

{% block content %}

<div class="blank">
	<div class="grid-form1">
		<div class="row">
		 	<div class="col-sm-2 col-xs-12" style="padding-left:5%;">
		 		<a href="{% url 'expense:expense_index' %}">Back </a>
		 		
			</div>
		 	<div class="col-sm-10 col-xs-12">
		 		{% if type == 'add' %}
		 			<h4>Add Expense</h4>
		 		{% elif type == 'edit' %}
		 			<h4>Edit Expense</h4>
		 		{% endif %}
		 	</div>
		</div>
	 	
        <div class="tab-content">
			<div class="tab-pane active" id="horizontal-form">
				<form class="form-horizontal" action="{{ form_url }}" method="post" enctype="multipart/form-data">{% csrf_token %}
				{{ expense_formset.non_field_errors }}
				{{ expense_formset.field_errors }}
					<div class="row">
						<div class="form-group">
							
							<div class="form-inline">

								<label for="expense_type" class="col-sm-2 control-label col-xs-12">Expense Type<span class="req">*</span></label>{{ expense_form.expense_type.errors }}
								<div class="col-sm-3 col-xs-12">
									{{ expense_form.expense_type }}
								</div>
								
							</div>
							<div class="form-inline">
								<label for="name" class="col-sm-2 control-label col-xs-12">Description<span class="req"></span></label>{{ expense_form.description.errors }}
								<div class="col-sm-3 col-xs-12">
									{{ expense_form.description }}
								</div>
							</div>
						</div>
					</div>
												
					
					<div class="row">
						<div class="form-group">
							<div class="form-inline">
								<label for="amount" class="col-sm-2 control-label col-xs-12">Date</label>{{ expense_form.date.errors }}
								<div class="col-sm-3 col-xs-12">
									{{ expense_form.date }}
								</div>
							</div>
							<div class="form-inline">
								<label for="amount" class="col-sm-2 control-label col-xs-12">Amount (<i class="fa fa-inr"></i>)<span class="req">*</span></label>{{ expense_form.amount.errors }}
								<div class="col-sm-3 col-xs-12">
									{{ expense_form.amount }}
								</div>
							</div>
							
							
						</div>
					</div>
					<div class="row">
						<div class="form-group">
							<div class="form-inline">
								<label for="amount" class="col-sm-2 control-label col-xs-12">Voucher Number</label>{{ expense_form.voucher_number.errors }}
								<div class="col-sm-3 col-xs-12">
									{{ expense_form.voucher_number }}
								</div>
							</div>
							
							
							
						</div>
					</div>
					
					
					
					<div class="form-group">
						<div class="col-sm-12" style="padding-left:5%;">
    						<button class="btn-primary btn">Submit</button>
    					</div>
    				</div>			
				</form>
			</div>
		</div>	
	</div>
</div>
{% endblock content %}
{% block jsscript %}

<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>

<script>
      $(document).ready(function() {
        $('.tdate').daterangepicker({
          singleDatePicker: true,
          // timePicker: true,
          // calender_style: "picker_4",
          showDropdowns: true,
          minDate:new Date(),
          locale: {
        		format: 'YYYY-MM-DD',
      			},


        }, function(start, end, label) {
          console.log(start.toISOString(), end.toISOString(), label);
        });

       
		
		$("#expense_type").select2({
		maximumSelectionLength: 10,
		allowClear: true,

		});

		

		
		
      });
</script>

<script>
// $(document).ready(function() {
//     var subtask_input = $("#id_sub_task");
//     var subtask = subtask_input.select2({
//       ajax: {
//         url: "/select_list/",
//         dataType: 'json',
//         delay: 250,
//         data: function (params) {
//           return {
//             subtask_code: params.term, // search term
//           };
//         },
//         processResults: function (data) {
//           // parse the results into the format expected by Select2
//           // since we are using custom formatting functions we do not need to
//           // alter the remote JSON data, except to indicate that infinite
//           // scrolling can be used
//           console.log(data);
//           return {
//             results: data,
//           };
//         },
//         cache: true
//       },
//       escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
//       minimumInputLength: 3,
//       // templateResult: formatRepo, // omitted for brevity, see the source of this page
//       // templateSelection: formatRepoSelection // omitted for brevity, see the source of this page
//     });
    
// });
</script>
{% endblock jsscript %}