{% extends "erp_admin/base.html" %}
{% load static %} 
{% block css %}

{% endblock css %}
{% block content %}

<div class="blank">
	<div class="grid-form1">
		<div class="row">
		 	<div class="col-sm-12 col-xs-12" align="right">
		 		
			</div>
		 	
		 	<div class="col-sm-12 col-xs-12">
		 			<h3><mark>Current Balance : <span id="current_bal">{{dif}}</span></mark></h3>
		 	</div>
		</div>
	 	
        <div class="tab-content">
			<div class="tab-pane active" id="horizontal-form">
			<form class="form-horizontal" action="{{ form_url }}" method="post" enctype="multipart/form-data">
				{% csrf_token %}
					{{ account_form.non_field_errors }}
					{{ account_form.field_errors }}
					
					<div class="exp">
						<div class="table-responsive">
							<table class="table table-responsive" id="tablespan">
								<thead>
									<th>Date</th>
									<th>Head</th>
									<th>Amount</th>
									<th>Description</th>
								
								</thead>
								
								<tbody>
									<td>{{ account_form.date }}{{ account_form.date.errors }}</td>
									<td><input type="text" name="description" id="vendor" class="form-control" maxlength="255" value="Undeposited Fund" disabled></td>
									<td>{{ account_form.amount }}{{ account_form.amount.errors }}</td>
									<td>{{ account_form.description }}{{ account_form.description.errors }}</td>
							
								</tbody>
							</table>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12" style="padding-left:30px;">
    						<button class="btn-primary btn pull-right" type="submit">Submit</button>
    					</div>
    				</div>			
				</form>
			</div>
		</div>	
	</div>
</div>
{% endblock content %}
{% block jsscript %}

<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>

<script>
      $(document).ready(function() {
        var $date_inputs = $('.tdate')
	    var date_format = 'YYYY-MM-DD';
	    $date_inputs.daterangepicker({
	        singleDatePicker: true,
        autoUpdateInput: false,
        // minDate:new Date(),
        // timePicker: true,
        // timePicker24Hour: false,
        autoApply: true,
        showDropdowns: true,
        locale: {
            format: date_format,
        },
	        // calender_style: "picker_4",
	    }, function(start, end, label) {
	        console.log(start.toISOString(), end.toISOString(), label);
	    });

	    $date_inputs.on('apply.daterangepicker', function(ev, picker) {
	        $(this).val(picker.startDate.format('YYYY-MM-DD'));
	    });

	    $date_inputs.on('cancel.daterangepicker', function(ev, picker) {
	        $(this).val('');
	    });

      });
      

     
</script>


{% endblock jsscript %}