{% extends "erp_admin/base.html" %}
{% load static tz group_required %}
{% get_current_timezone as TIME_ZONE %}
{% block head %}


<style>

</style>
{% endblock head %} {% block content %}
<div class="banner">
    <h2>
        <a href="/">Home</a>
        <i class="fa fa-angle-right"></i>
        <span><a href="{% url 'enquiry:list' %}">Lead</a></span>
        <i class="fa fa-angle-right"></i>
        <span><a href="{% url 'enquiry:enquiry_detail' activity.enquiry.pk %}">{{activity.enquiry}}</a></span>
        <i class="fa fa-angle-right"></i>
        <span>Activities\Follow Ups </span>
        <a href="{{request.http.referer}}" class="pull-right"><i class="fa fa-times"></i></a>
    </h2>
</div>
<div>

    <div class="block">
        <div class="row show-grid">

            <div class="col-sm-12 col-xs-12 table-responsive" style="">

                <table class="table table-bordered" style="margin-top:20px;">
                    <tbody>
                    <tr>
                        <td><h4>Activity</h4></td>
                        <td>{{activity.type}}</td>
                    </tr>
                    <tr>
                        <td><h4>Activity Date/Follow Up Date</h4></td>
                        <td>{{activity.date}}</h4></td>
                    </tr>
                    <tr>
                        <td><h4>Assigned to</h4></td>
                        <td>{{activity.assigned_to }}</td>
                    </tr>
                    <tr>
                        <td><h4>Remark</h4></td>
                        <td>{{activity.remark}}</td>
                    </tr>
                    <tr>
                        <td><h4>Created By</h4></td>
                        <td>{{ activity.created_by }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                            {% if request.user.employee.primary_designation.name == "Marketing Head" or request.user.employee.primary_designation.name == "Tele-Caller" %}
                            <a href="{% url 'enquiry:edit_activity' activity.pk %}" class="btn btn-primary btn-xs"><i
                                    class="fa fa-pencil"></i></a>
                            {% endif %}
                            {% if request.user.employee.primary_designation.name == "Marketing Head"  %}
                            <a href="{% url 'enquiry:delete_activity' activity.pk %}" class="btn btn-primary btn-xs"><i
                                    class="fa fa-trash-o"></i></a>
                             {% endif %}
                            <a href="{% url 'enquiry:view_activity' activity.pk %}" class="btn btn-primary btn-xs"><i
                                    class="fa fa-eye"></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>


        </div>
    </div>
</div>


<!--Modal -->


{% endblock content %}

{% block jsscript %}
{% endblock jsscript %}

