{% extends "erp_admin/base.html" %} {% load guardian_tags %} {% block content %}
{% load staticfiles %}
{% block head %}
<link href="{% static 'css/box_style.css' %}" rel='stylesheet' type='text/css' />

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css">
{% endblock head %}
<div class="blank">
    <div class="blank-page">
        <div class="row show-grid" style="margin-bottom:300px;">
            <div class="col-sm-12 col-md-12 col-xs-12">
                <h2>REPORTS</h2>
                <div class="row" style="margin-top:30px;">
                     <div class="col-sm-4 col-md-4 col-xs-12"> 
                         <div class="border_style bg1" align="center"> 
                             <a href="{% url 'report:campaign_wise_report' %}"> 
                             <span style="color:#ffffff;">Campaign Wise</span> 
                             <div> 
                              
                             </div> 
                             </a> 
                         </div> 
                     
                     </div> 
                    <div class="col-sm-4 col-md-4 col-xs-12">
                        <div class="border_style bg2" align="center">
                            <a href="{% url 'enquiry:filter_based_on_office' %}">
                            <span style="color:#ffffff;">Branch Wise</span>
                            <div>
                            
                            </div>
                            </a>
                        </div>
                     
                    </div>

                    <div class="col-sm-4 col-md-4 col-xs-12">
                        <div class="border_style bg3" align="center">
                            <a href="{% url 'enquiry:stream_wise_report' %}">
                            <span style="color:#ffffff;">Stream Wise</span>
                            <div>
                            
                            </div>
                            </a>
                        </div>
                     
                    </div>
                   
                   

                </div>
                
          </div>

        </div>
    </div>
</div>
        
   

{% endblock content %}
