<div class="block">
  <div class="row show-grid" id="enquiry">
    <div class="col-sm-12">
      <a href="/enquiries" class="btn btn-primary">
        <i class="fa fa-left" aria-hidden="true"></i> Back to Enquiry List
      </a>
      <button class="btn btn-danger pull-right" @click.prevent="delete_enquiry">
        <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
      </button>
    </div>
    
    <div class="col-sm-6">
      <label>Contact:</label>
      {{ enquiry.contact.name }}, {{ enquiry.contact.designation }}, {{ enquiry.contact.customer.name }}
    </div>
    <div class="col-sm-6">
      <label>Code:</label><mark> {{ enquiry.code }}</mark>
    </div>
    <div class="col-sm-6">
      <label>Type: </label>
      <option-box for="type"
        :options="typeOptions"
        v-on:update="updateProp"
        v-model="enquiry.type"
        :disabled="disabled"
      ></option-box>
    </div>
    <div class="col-sm-6">
      <label>Status: </label>
      <option-box for="status" 
        :options="statusOptions"
        v-on:update="updateProp"
        v-model="enquiry.status"
        :disabled="disabled"
      ></option-box> 
    </div>
    <div class="col-sm-6">
      <label>Priority: </label>
      <option-box for="priority"
        :options="priorityOptions"
        v-on:update="updateProp"
        v-model="enquiry.priority"
        :disabled="disabled"
      ></option-box>
    </div>
    
    <div class="col-sm-12">
      <label>Follow up date:</label>{{ enquiry.follow_up_date | date }} 
    </div>
    <div class="col-sm-6">
      <label>Note:</label>
      <transition name="fade">
        <div v-if="editNote">
          <textarea v-model="note" v-focus rows="4" style="width: 100%;"></textarea>
          <button class="btn btn-xs btn-primary pull-right" @click.prevent="updateNote">save</button> 
          <button class="btn btn-xs btn-primary pull-right" @click.prevent="cancelNote">cancel</button> 
        </div>
        <span v-else class="note" @dblclick.prevent="toggleEditNote">{{ enquiry.note }}</span>
      </transition>
    </div> 
    <div class="col-sm-6" id="reason-for-lost">
      <label>Reason for lost:</label>
      <transition name="fade">
        <span v-show="reason_for_lost && editReasonForLost" class="warning">Status will be updated to rejected!</span>
      </transition>
      <transition name="fade">
        <div v-if="editReasonForLost">
          <textarea v-model="reason_for_lost" v-focus rows="4" style="width: 100%;"></textarea>
          <button class="btn btn-xs btn-primary pull-right" @click.prevent="updateReasonForLost">save</button> 
          <button class="btn btn-xs btn-primary pull-right" @click.prevent="cancelReasonForLost">cancel</button> 
        </div>
        <span class="reason-for-lost" v-else @dblclick.prevent="toggleEditReasonForLost">{{ enquiry.reason_for_lost }}</span>
      </transition>
    </div> 
    <div class="col-sm-12">
      <label>Items:</label>
      <ul class="list-group">
        <li class="list-group-item" v-for="(item, index) in  enquiry.items">
          <h4>
            {{ item.product.name }},<span class="pull-right">(Rs {{ item.price }} x {{ item.quantity }} units) = {{item.price * item.quantity }}</span>
          </h4>
        </li>
        <li class="list-group-item">
          <span class="pull-right"><label>Total Amount</label>{{ enquiry.amount }}</span>
          <div class="clearfix"></div>
        </li>
      </ul>
      
    </div>
    <div class="col-sm-12">
      <label>Activities:</label>
      <ul class="list-group">
        <li class="list-group-item" v-for="(activity, index) in  enquiry.activities">
          <div class="row">
            <div class="col-sm-11">
              <h4>{{ activity.type.name}} on {{activity.date | date }}</h4>
              <p>{{ activity.description }}</p>
            </div>
            <div class="col-sm-1">
              <a :href="'/activities/'+ activity.id +'/edit/'" class="btn btn-primary">Edit</a>
              <a :href="'/activities/'+ activity.id +'/edit/'" class="btn btn-primary">Done</a>
            </div>
          </div>
        </li>
      </ul>
      <a :href="'/enquiries/' + enquiry.id + '/activities/create/'" class="btn btn-primary">Add Activity</a>
      
    </div>

      
            <!--<select2 v-pre  class="form-control" v-model="new_enquiry.customer"></select>-->
      
       
  </div>
</div>
