<div class="block">
  <a href="/enquiries/" class="btn btn-warning">Back to Enquiries List</a>
  <form role="form" class="" method="post" @submit.prevent="saveEnquiry" id="enquiry">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group" :class="{'has-error': errors.has('code') }">
          <label class="control-label">Code:</label>
          <a href="/enquiries/code_settings/" style="font-size: 0.8em;">Manage Code</a>
          <input v-model="enquiry.code" class="form-control">
          <span v-show="errors.has('code')" class="help-block">
              <i class="fa fa-warning"></i>{{ errors.first('code') }}
          </span>
          <!--<select2 v-pre  class="form-control" v-model="enquiry.new_enquiry.customer"></select>-->
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group" :class="{'has-error': errors.has('contact') }">
          <label class="control-label">Contact:</label>
          <a href="/customers/create" style="font-size: 0.8em;">Add</a>
          <ajax-select :options="options"
            v-model="enquiry.contact"
            url="/api/contacts/select_list/"
            style="width: 100%;"
            query-parameter="name">
            <!-- <option value="">Enter ajax ajax</option> -->
          </ajax-select>
          <span v-show="errors.has('contact')" class="help-block">
              <i class="fa fa-warning"></i>{{ errors.first('contact') }}
          </span>
          <!--<select2 v-pre  class="form-control" v-model="enquiry.new_enquiry.customer"></select>-->
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group" :class="{'has-error': errors.has('employee') }">
          <label class="control-label">Sales Person:</label>
          <ajax-select :options="options"
            v-model="enquiry.employee"
            url="/api/employee/select_list/"
            style="width: 100%;"
            query-parameter="employee_name"
            :allow-clear="true">
            <!-- <option value="">Enter Customer customer</option> -->
          </ajax-select>
          <span v-show="errors.has('employee')" class="help-block">
              <i class="fa fa-warning"></i>{{ errors.first('employee') }}
          </span>
          <!--<select2 v-pre  class="form-control" v-model="enquiry.new_enquiry.customer"></select>-->
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group" :class="{'has-error': errors.has('type') }">
          <label class="control-label">Type:</label>
          <select class="form-control" v-model="enquiry.type">
            <option v-for="option in choices.types" :value="option[0]">
              {{ option[1] }}
            </option>
          </select>
          <span v-show="errors.has('type')" class="help-block">
            <i class="fa fa-warning"></i>{{ errors.first('type') }}
          </span>
        </div>
      </div>
      <!--<div class="col-sm-2">
        <div class="form-group" :class="{'has-error': errors.has('status') }">
          <label class="control-label">Status:</label>
          <select class="form-control" v-model="enquiry.status">
            <option v-for="option in choices.statuses" :value="option[0]">
              {{ option[1] }}
            </option>
          </select>
          <span v-show="errors.has('status')" class="help-block">
            <i class="fa fa-warning"></i>{{ errors.first('status') }}
          </span>
        </div>
      </div>-->
      <div class="col-sm-3">
        <div class="form-group" :class="{'has-error': errors.has('priority') }">
          <label class="control-label">Priority:</label>
          <select class="form-control" v-model="enquiry.priority">
            <option v-for="option in choices.priorities" :value="option[0]">
              {{ option[1] }}
            </option>
          </select>
          <span v-show="errors.has('priority')" class="help-block">
            <i class="fa fa-warning"></i>{{ errors.first('priority') }}
          </span>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="form-group" :class="{'has-error': errors.has('note') }">
          <label class="control-label">Note: </label>
          <textarea class="form-control" v-model="enquiry.note"></textarea>
          <span v-show="errors.has('note')" class="help-block">
            <i class="fa fa-warning"></i>{{ errors.first('note') }}
          </span>
        </div>
      </div>
    </div>
    
    <fieldset>
    <!--<items :val-errors="errors.collect('items')"
    ></items>-->
      <items :products="choices.products"
             :items="enquiry.items"
             v-model="enquiry.amount"
             :val-errors="errors.collect('items')"
      ></items>
    </fieldset>
    <fieldset>
      <!-- <activity :activity="activity"
        :val-errors="valErrors[index]"
        :types="choices.activity_types"
      ></activity> -->
      <activities :choices="choices.activity_types"
                  :activities="enquiry.activities"
                  :val-errors="errors.collect('activities')"
      ></activities>
    </fieldset>

    
    
    <!-- :value="enquiry.customer" -->
    <button type="submit" class="btn btn-default">Save</button>
    <div class="clearfix"></div>
  </form>
</div>
