<template src='./edit.template.html'></template>

<script>
import AjaxSelect from 'components/ajax-select2.vue'
import Items from './items.vue'
// import Activity from './activity/activity.vue'
import Activities from './activities.vue'
// import moment from 'moment'


export default {
	// delimiters: ['{{', '}}'],
	name: 'edit-enquiry',
	data() {
		return {
			enquiry: {
				code: undefined,
				type: undefined,
				status: undefined,
				contact: {},
				note: '',
				items: [],
				activities:[],
				//  {
				// 	id: '',
				// 	type: undefined,
				// 	// name: undefined,
				// 	description: undefined,
				// 	date: moment().format('YYYY-MM-DD H:mm'),
				// },
				amount: 0.00,
				employee: {}  
			},
			choices: {
				statuses: [],
				default_status: '',
				types: [],
				default_type: '',
				priorities: [],
				default_priority: '',
				activity_types: [],
				products: [],
			},
		}
	},

	computed:{

	},

	components: { 
		Items,
		Activities,
		AjaxSelect
	},

	created(){
		console.log('created edit-enquiry', this.enquiry)
		this.getEnquiryOptions()
	},

	methods: {
		getEnquiryOptions() { 
			this.$http.get('/api/enquiries/choices')
				.then( response => {
					this.choices.code = response.data.code
					this.choices.statuses = response.data.statuses
					this.choices.default_status = response.data.default_status
					this.choices.types = response.data.types
					this.choices.default_type = response.data.default_type
					this.choices.priorities = response.data.priorities
					this.choices.default_priority = response.data.default_priority
					this.choices.employee = response.data.employee
					response.data.products.forEach( product => { 
						this.$set(product, 'disabled', false)
					})
					this.choices.products = response.data.products
					this.choices.activity_types = response.data.activity_types
					this.set_defaults()
				})
				.catch(error => {
					this.loading = false
					console.log(error)
				})
			return
		},

		set_defaults(){
			if(!this.enquiry.type)
				this.enquiry.type = this.choices.default_type
			if(!this.enquiry.employee.hasOwnProperty('id') && !this.enquiry.employee.id){
				let employee = this.choices.employee
				let display_name = employee.user.first_name ? employee.user.first_name : employee.user.username
				this.enquiry.employee = {
					id: employee.id,
					name: display_name + '(' + employee.primary_designation.name +')'
				}
			}
			if(!this.enquiry.priority)
				this.enquiry.priority = this.choices.default_priority
			if(!this.enquiry.code){
				this.enquiry.code = this.choices.code
			}
		},
		
		saveEnquiry: function(e){
			console.log(e)
			this.$http.post('/api/enquiries/', this.formData())
				.then( response => {
					console.log(response)
					window.location.assign(response.data.success_url + '?created=1')
				})
				.catch( error => {
					console.log(error)
					if (error.response) {
						if(error.response.status == 400){
							this.$validator.errorBag.clear()
							this.handle_validation_errors(error.response.data)
						}
					} 
				})
		},

		formData() {
			return { 
				'code': this.enquiry.code,
				'type': this.enquiry.type,
				// 'status': this.enquiry.status,
				'priority': this.enquiry.priority,
				'note': this.enquiry.note,
				// 'follow_up_date': this.enquiry.follow_up_date,
				'reason_for_lost': this.enquiry.reason_for_lost,
				'contact': this.enquiry.contact.hasOwnProperty('id') ? this.enquiry.contact.id : undefined ,
				'employee': this.enquiry.employee.hasOwnProperty('id') ? this.enquiry.employee.id : undefined ,
				'items': this.format_items(),
				'activities': this.enquiry.activities,
				'amount': this.enquiry.amount
			}
		},

		format_items() {
			if (this.enquiry.items.length == 0)
				return null
			var items = this.enquiry.items.map((item) => {
				let i = Object.assign({}, item)
				i['product'] = item.product.id
				return i
			})
			return items

		},

		handle_validation_errors(errors){
			var vm = this
			vm.$validator.errorBag.clear()
			vm.update_error_bag(errors)
		},

		update_error_bag(errors){
			var vm = this
			for(var key in errors) {
				if(errors[key].length){
					errors[key].forEach(function(error_msg){
						vm.$validator.errorBag.add(key, error_msg)
					})
				}else{
					this.update_error_bag(errors[key])
				}
				// this.errors.add(key, errors[key])
				// vm.errors.push({ field: key, msg: errors[key]})
			}
		},

		cancel(i = -1){
			return this.$router.go(i)
		},

		
		// ...mapActions([
		// 	'postEnquiry' // map this.increment() to this.$store.dispatch('increment')
		// ]),
		// ...mapMutations({
		// 	setDefaults : 'SET_ENQUIRY_OPTION_DEFAULTS',
		// 	insertEnquiry : 'INSERT_ENQUIRY',
		// 	loading : 'loading',
		// 	loaded : 'loaded',
		// 	updateFIELD : 'SET_ENQUIRY_FIELD'
		// }),
	}
}
</script>
<style>
form#enquiry {
	padding: 20px 10px;
}
form#enquiry legend {
	font-size: 16px;
}
</style>