<div class="block">
    <loader :loading="loading"></loader>   
    <div class="row">
        <div class="col-sm-12">
            <a href="/enquiries/create" class="btn btn-primary">Add Enquiry</a>
            <a href="/enquiries/code_settings/" class="btn btn-primary">Manage enquiry code settings</a>
        </div>
    </div>
    <div class="row show-grid">
        <div class="col-sm-6">
            <h3>Enquiries</h3>
            <!--<div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                {{selectedType}} Enquiries
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenu1">
                <li><a href="#" @click.prevent="sort_by('type', 'All')">All</a></li>
                <li v-for="enquiry_type in choices.types">
                    <a href="#" @click.prevent="sort_by('type', enquiry_type[0])" v-text="enquiry_type[1]"></a>
                </li>
              </ul>
            </div>-->
            <!--<order-by @order-by="order_by"></order-by>-->

        </div>
        <div class="col-sm-6">
            <filter-by class="pull-right" :fields="filterable_data" @filter-by="query_by" resource-name="Enquiry"></filter-by>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <ul class="list-unstyled enquiry-list">
                <list-item v-for="(enquiry, index) in enquiries"
                   :enquiry="enquiry"
                   :index="index"
                   :key="enquiry.id"
                ></list-item>
            </ul>
            <paginate :records="pagination.count"
                :current="pagination.current"
                :page-size="pagination.page_size"
                :link-range="pagination.link_range"
                @get-page="getPage">
            </paginate>
        </div>
    </div>
</div>
