<template>
		<div id="spinner" v-show="loading">
				<i class="fa fa-3x fa-spinner"
					 :class="{'fa-spin': loading}"
					 :style="{color: color }"
					 aria-hidden="true"
				></i>
		</div>
</template>

<script>
export default {
	props: {
		loading: {
			type: Boolean,
			default: true
		},
		color: { 
			type: String,
			default: '#d95459'
		},
		size: {
			type: String,
			default: '15px'
		},
		margin: {
			type: String,
			default: '2px'
		},
		radius: {
			type: String,
			default: '100%'
		},
	}
}
</script>

<style>
#spinner {
		position: fixed;
		left:50%;
		top: 50%;
		/*right: 0px;
		bottom: 0px;*/
		width: 100%;
		height: 100%;
		z-index: 9999;
		/*background: url('/static/images/loader.gif') 50% 50% no-repeat #fff;*/
}
</style>