<template>
<nav>
	<ul class='pagination'>
		<li :class="{ 'disabled': has_previous}">
			<a :href="prev_page_url" aria-label="Previous" @click.prevent="$emit('get-page', prev_page)"><span aria-hidden='true'>«</span></a>
		</li>
		<li v-for="p in pages" :class="{active: p == current}">
			<a :href="'/?page='+ p" @click.prevent="$emit('get-page', p)">{{ p }}</a>
		</li>
		<li :class="{ 'disabled': has_next}">
			<a :href="next_page_url" aria-label="Next"  @click.prevent="$emit('get-page', next_page)"><span aria-hidden="true">»</span></a>
		</li>
	</ul>
</nav>
</template>

<script>
export default {
	name: 'paginate',
	props: {
		records:{
			type: Number,
			default: 0
		},
		current: {
			type: Number,
			default: 1,
		},
		pageSize: {
			type: Number,
			default: 3
		},
		linkRange: {
			type: Number,
			default: 2
		}	
	},
	computed: {
		has_previous(){ return this.current == 1 },
		has_next(){ return this.current == this.totalPages },
		prev_page(){ return this.current - 1 },
		prev_page_url(){ return '/?page='+ this.prev_page },
		next_page(){ return this.current + 1 },
		next_page_url(){ return '/?page='+ this.next_page },
		pages(){ 
			var pages = []
			if(this.records){
				console.log(this.current)
				var p = this.current - this.linkRange
				if(p < 1)
					p = 1
				while(p <= this.current){
					pages.push(p)
					++p
				}
				while(p < (this.current + this.linkRange) && p < this.totalPages){
					pages.push(p)
					++p
				}
			}
			console.log(pages)
			return pages
		},
		totalPages() {
			return this.records ? Math.ceil(this.records / this.pageSize) : 1
		},
	}
}
</script>

<style>
</style>