<template src='./app.template.html'></template>

<script>
import Loader from 'components/loader.vue'
import FilterBy from 'components/filter-by.vue'

export default {
	name: 'app',

	data(){
		return {
			quotations: [],
			quotation: null,
			quotation_list: true,
			edit_form: false,
			view_quotation: false,

		}
	},

	computed: {},
	
	components: {
		Loader,
			// <my-component> will only be available in Parent's template
	//     // 'customer-select2': require('./components/customer-select2.js'),
	//     'edit-enquiry': EditEnquiry,
	//     'enquiry-list': EnquiryList,
	//     'enquiry-detail': EnquiryDetail,
	},

	created(){
		console.log('created Quotation App')
		this.loading = true

	},

	methods:{
		
		add_quotation: function(){
			this.toggle_component_state()
		},

		quotation_saved: function(quotation){
			this.quotations = [quotation].concat(this.quotations) 
			// this.enquiries[enquiries.length] = enquiry
			console.log(quotation, this.quotations)
			this.quotation = {}
			this.toggle_component_state()
		},

		// view_details(enquiry){
		// 	console.log('view_details', enquiry)
		// 	this.enquiry=enquiry
		// 	this.toggle_component_state()
		// },

		// close_edit_form(){
		// 	this.edit_form = false
		// }

	}
}
</script>

<style>
#quotation-block {
	position: relative;
}
</style>
