{% extends "erp_admin/base.html" %}
{% load static tz util%}
{% get_current_timezone as TIME_ZONE %}
{% block content %}

<style>
.card-style
{
    background-color:#fff!important;
    padding:10px;
    /*border-radius:10%;*/
    

}
.card-title-color
{
    color:#D9534F;
    font-size:25px!important;

}
.card-para-size
{
  font-size:20px;
  color: #000;



}
.mx{
  margin-top:7px;margin-bottom:30px;
}

.pdb1{
  padding-bottom:8%;
}




</style>
<!--banner-->
<div class="banner">
    <h2>
        
        <span>Dashboard</span>
    </h2>
</div>

 <div class="content-top">
     <div class="col-md-12 ">
         <div class="row mx">

              <div class="col-md-4  col-xs-12">

                 <div class="card card-style pdb1">

                   <div class="card-block">
                     <h4 class="card-title card-title-color"> <i class="fa fa-book"></i> Courses</h4>

                   </div>

                     <p class="card-para-size" align="center"> <label><span class="badge">{{courses}}</span></label></p>


                 </div>


             </div>
              <div class="col-md-4 col-xs-12">
                 <div class="card card-style pdb1">

                   <div class="card-block">
                     <h4 class="card-title card-title-color"> <i class="fa fa-question-circle-o"></i> Leads</h4>

                   </div>

                     <p class="card-para-size" align="center"> <label><span class="badge">{{leads}}</span></label></p>


                 </div>


             </div>

              <div class="col-md-4  col-xs-12">
                 <div class="card card-style pdb1">

                   <div class="card-block">
                     <h4 class="card-title card-title-color"><i class="fa fa-users"></i> Students</h4>

                   </div>

                    <p class="card-para-size" align="center"> <label><span class="badge">{{students}}</span></label></p>


                 </div>

             </div>
             


       </div>

   </div>
 </div>



<div class="clearfix"></div>





{% endblock content %}

{% block jsscript %}

{% endblock jsscript %}