{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static %}
{% block head %}
<style type="text/css">

</style>
{% endblock head %}
{% block content %}


    <div class="content-main">
        <div class="block">
            <div class="row">
                <div class="col-sm-12 col-xs-12" style="padding-left:30px;">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table">
                                <thead class="thead-dark">
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Programme Name</th>
                                    <th scope="col">Enrollments</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    {% for course in courses %}
                                  <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{course.name}}</td>
                                    <td>{{course.total_students}}</td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                              </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block jsscript %}
{% endblock jsscript %}