{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static %}
{% block head %}
<style type="text/css">

</style>
{% endblock head %}
{% block content %}


<div class="content-main">
    <div class="block">
        <div class="row">
            <div class="col-sm-12 col-xs-12" style="padding-left:30px;">

            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-6">
                <h3>
                    Pending Payments
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Student</th>
                            <th scope="col">Due Amount</th>
                            <th scope="col">Course</th>
                            <th scope="col">Total Amount</th>
                            <th scope="col">Paid Amount</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for pending in pendingPayment %}
                        <tr>
                            <td scope="row">{{forloop.counter}}</td>
                            <td><a href="{% url 'student:detail' pending.student.student.pk %}">{{pending.student}}</a>
                            </td>
                            <td class="duePending{{forloop.counter}}"></td>
                            <td>{{pending.student.course}}</td>
                            <td class="totalPending{{forloop.counter}}">{{pending.student.total_amount}}</td>
                            <td class="paidPending{{forloop.counter}}">{{pending.paid_amount}}</td>

                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6">No pending payments</td>
                        </tr>
                        <script>
                                    jQuery(document).ready(function($) {
                                        var over = $('td.totalPending{{forloop.counter}}').text() - $('td.paidPending{{forloop.counter}}').text();
                                        $('td.duePending{{forloop.counter}}').html(over)
                                    });

                        </script>

                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block jsscript %}
{% endblock jsscript %}