{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static %}
{% block head %}
<style type="text/css">

</style>
{% endblock head %}
{% block content %}


<div class="content-main">
    <div class="block">
        <div class="row">
            <div class="col-sm-12 col-xs-12" style="padding-left:30px;">

            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-6">
                <h3>
                    Overdue
                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Student</th>
                            <th>Due Date</th>
                            <th scope="col">Due Amount</th>
                            <th scope="col">Course</th>
                            <th scope="col">Amount to be paid</th>
                            <th scope="col">Paid Amount</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% for overdue in overDue %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td><a href="{% url 'student:detail' overdue.student.student.pk %}">{{overdue.student}}</a></td>
                            <td>{{overdue.due_date}}</td>
                            <td class="dueAmount{{forloop.counter}}"></td>
                            <td>{{overdue.student.course}}</td>
                            <td class="totalAmount{{forloop.counter}}">{{overdue.amount_to_be_paid}}</td>
                            <td class="paidAmount{{forloop.counter}}">{{overdue.paid_amount}}</td>

                        </tr>
                        <script>
                                    jQuery(document).ready(function($) {
                                        var over = $('td.totalAmount{{forloop.counter}}').text() - $('td.paidAmount{{forloop.counter}}').text();
                                        $('td.dueAmount{{forloop.counter}}').html(over)
                                    });

                        </script>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block jsscript %}
{% endblock jsscript %}