{% extends "erp_admin/base.html" %}
{% load static tz util%}
{% get_current_timezone as TIME_ZONE %}
{% block content %}
<!--banner-->
<div class="banner">

    <h2>
        <span>Dashboard</span>
    </h2>
</div>
<!--//banner-->
<!--content-->
<div class="content-top">
    <div class="col-md-4 ">
        <!-- box1 -->
        <div class="content-top-1">
            <div class="col-md-6 top-content1">
                <div><span><i class="fa fa-warning" style="font-size: 52px; color: #efc93a; padding: 11px;"></i></span>
                </div>
            </div>
            <div class="col-md-6 top-content">
                <h5 style="margin: 0px 0px 10px -15px;">Due On: <b>{{pendingDate}}</b></h5>
                <label class="Count">{{pendingPaymentCount}}</label>
            </div>

            <div class="clearfix"></div>
        </div>
        <!-- Box2 -->
        <div class="content-top-1">
            <div class="col-md-6 top-content1">
                <div><span><i class="fa fa-hourglass-end"
                              style="font-size: 52px;color: #ef3a3a;padding: 11px;"></i></span></div>
            </div>
            <div class="col-md-6 top-content">
                <h5 style="margin: 0px 0px 10px -15px;">Overdues</h5>
                <label class="Count">{{overDueCount}}</label>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- Box3 -->
        <div class="content-top-1">
            <div class="col-md-3 top-content1">
                <div><span><i class="fa fa-inr"
                              style="font-size: 60px; margin-left: 10px;color: yellowgreen;padding: 11px;"></i></span>
                </div>
            </div>
            <div class="col-md-9 top-content">
                <h5 style="margin: 0px 0px 10px -15px;">Total Overdue</h5>
                <label class="">{{dueAmount}}</label>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <!-- pending paymrnts collapse -->
    <div class="col-md-8 content-top-2">
        <div class="content-graph">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color: #fff; border: 1px solid #ebeff6;">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse1"><h3
                                        style="color: #615d5d;font-family: 'Muli-Regular';">Pending Payments <i
                                        class="fa fa-sort-desc" style="float: right;"></i></h3></a>
                            </h4>
                        </div>
                        <div id="collapse1" class="panel-collapse collapse">
                            <table class="table">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Student</th>
                                    <th scope="col">Due Amount</th>
                                    <th scope="col">Course</th>
                                    <th scope="col">Total Amount</th>
                                    <th scope="col">Paid Amount</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for pending in pendingPayment %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td><a href="{% url 'student:detail' pending.student.student.pk %}">{{pending.student}}</a></td>
                                    <td class="duePending{{forloop.counter}}">
                                    <td>{{pending.student.course}}</td>
                                    <td class="totalPending{{forloop.counter}}">{{pending.student.total_amount}}</td>
                                    <td class="paidPending{{forloop.counter}}">{{pending.paid_amount}}</td>
                                    {% if pending.paid_amount == 0 %}
                                    <td class="">
                                        {{pending.total_amount}}

                                    </td>
                                    {% else %}



                                    </td>
                                    {% endif %}
                                </tr>
                                <script>
                                    jQuery(document).ready(function($) {
                                        var over = $('td.totalPending{{forloop.counter}}').text() - $('td.paidPending{{forloop.counter}}').text();
                                        $('td.duePending{{forloop.counter}}').html(over)
                                    });


                                </script>
                                {% endfor %}
                                </tbody>
                            </table>
                            <p style="margin: 15px 3px 10px 6px;"><a href="/pending_payments/" target="_blank"> &nbsp;View
                                all <i class="fa fa-external-link"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 000 -->

    <!-- Overdues collapse -->
    <div class="col-md-8 content-top-2">
        <div class="content-graph">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="panel-group">
                    <div class="panel panel-default">
                        <div class="panel-heading" style="background-color: #fff;border: 1px solid #ebeff6;">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" href="#collapse2"><h3
                                        style="color: #615d5d;font-family: 'Muli-Regular';">Overdues <i
                                        class="fa fa-sort-desc" style="float: right;"></i></h3></a>
                            </h4>
                        </div>
                        <div id="collapse2" class="panel-collapse collapse">
                            <table class="table">
                                <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Student</th>
                                    <th scope="col">Due Amount</th>
                                    <th scope="col">Course</th>
                                    <th scope="col">Total Amount</th>
                                    <th scope="col">Paid Amount</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for overdue in overDue %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{overdue.student}}</td>
                                    <td class="dueAmount{{forloop.counter}}"></td>
                                    <td>{{overdue.student.course}}</td>
                                    <td class="totalAmount{{forloop.counter}}">{{overdue.student.total_amount}}</td>
                                    <td class="paidAmount{{forloop.counter}}">{{overdue.paid_amount}}</td>

                                </tr>
                                <script>
                                    jQuery(document).ready(function($) {
                                        var over = $('td.totalAmount{{forloop.counter}}').text() - $('td.paidAmount{{forloop.counter}}').text();
                                        $('td.dueAmount{{forloop.counter}}').html(over)
                                    });


                                </script>
                                {% endfor %}
                                </tbody>
                            </table>
                            <p style="margin: 15px 3px 10px 6px;"><a href="/overdues/" target="_blank">&nbsp;View all <i
                                    class="fa fa-external-link"></i></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 000 -->

</div>
<div class="clearfix"></div>
</div>
<!---->
{% endblock content %}

{% block jsscript %}
<script>
  $('.Count').each(function () {
  var $this = $(this);
  jQuery({ Counter: 0 }).animate({ Counter: $this.text() }, {
    duration: 1000,
    easing: 'swing',
    step: function () {
      $this.text(Math.ceil(this.Counter));
    }
  });
});


</script>
{% endblock jsscript %}