
{% extends "erp_admin/base.html" %}
{% load static %}
{% block content %}
    <!--banner-->
    <div class="banner">
        <h2>
            <a href="index.html">Home</a>
            <i class="fa fa-angle-right"></i>
            <span>Dashboard</span>
        </h2>
    </div>
    <!--//banner-->
    <!--content-->
    <div class="content-top">
        <div class="col-md-12 ">
            <div class="content-top-1">
                <div class="col-md-6 top-content">
                    
                    <label style="text-align:center;">WELCOME</label>
                </div>
                <div class="col-md-6 top-content1">
                    <div id="demo-pie-1" class="pie-title-center" data-percent="25"> <span class="pie-value"></span> </div>
                </div>
                <div class="clearfix"> </div>
            </div>
            
            
        </div>
        <div class="col-md-8 content-top-2">
            
               
            </div>
        </div>
        <div class="clearfix"> </div>
    </div>
   
    <div class="copy">
        <p> &copy; 2016 Minimal. All Rights Reserved | Design by <a href="" target="_blank">Papercrane</a> </p>
    </div>

{% endblock content %}
