{% load sitetree %}
{% load static group_required %}


<nav class="navbar-default navbar-static-top" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
                
        <h1 style="margin: 0px;">
            <!-- <a class="navbar-brand" {% if request.user.is_staff %}href="/"{% elif user|group_required:"employee" %}href="/students/"{% endif %}><img src="{% static 'images/jawdrop.jpg' %}" class="img img-responsive"></a> -->

            <a class="navbar-brand" href="/"><img src="{% static 'images/jawdrop.jpg' %}" class="img img-responsive"></a>
        </h1>
    </div>
    <div class=" border-bottom">
        <div class="full-left">
            <section class="full-top">
                <button id="toggle"><i class="fa fa-arrows-alt"></i></button>
            </section>
            <!-- <form class=" navbar-left-right">
                <input type="text" value="Search..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search...';}">
                <input type="submit" value="" class="fa fa-search">
            </form> -->
            <div class="clearfix"> </div>
        </div>
        <!-- Brand and toggle get grouped for better mobile display -->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="drop-men">
            <ul class=" nav_1">
                <!-- <li class="dropdown at-drop">
                    <a href="#" class="dropdown-toggle dropdown-at " data-toggle="dropdown"><i class="fa fa-globe"></i> <span class="number">5</span></a>
                    <ul class="dropdown-menu menu1 " role="menu">
                        <li>
                            <a href="#">
                                <div class="user-new">
                                    <p>New user registered</p>
                                    <span>40 seconds ago</span>
                                </div>
                                <div class="user-new-left">
                                    <i class="fa fa-user-plus"></i>
                                </div>
                                <div class="clearfix"> </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="user-new">
                                    <p>Someone special liked this</p>
                                    <span>3 minutes ago</span>
                                </div>
                                <div class="user-new-left">
                                    <i class="fa fa-heart"></i>
                                </div>
                                <div class="clearfix"> </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="user-new">
                                    <p>John cancelled the event</p>
                                    <span>4 hours ago</span>
                                </div>
                                <div class="user-new-left">
                                    <i class="fa fa-times"></i>
                                </div>
                                <div class="clearfix"> </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="user-new">
                                    <p>The server is status is stable</p>
                                    <span>yesterday at 08:30am</span>
                                </div>
                                <div class="user-new-left">
                                    <i class="fa fa-info"></i>
                                </div>
                                <div class="clearfix"> </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="user-new">
                                    <p>New comments waiting approval</p>
                                    <span>Last Week</span>
                                </div>
                                <div class="user-new-left">
                                    <i class="fa fa-rss"></i>
                                </div>
                                <div class="clearfix"> </div>
                            </a>
                        </li>
                        <li><a href="#" class="view">View all messages</a></li>
                    </ul>
                </li> -->
                {% if user|group_required:"employee" %}
                    {% sitetree_menu from "account" include "trunk" template "erp_admin/account_menu.html" %}
                   
                {% else %}
                    {% sitetree_menu from "customer_account" include "trunk" template "erp_admin/account_menu.html" %}
                {% endif %}
                
            </ul>
        </div>
        <!-- /.navbar-collapse -->
        <div class="clearfix">
        </div>
        <div class="navb
        ar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    {% if user|group_required:"employee" %}
                        {% if user.is_superuser %}
                            {% sitetree_menu from "sidebar" include "trunk" template "erp_admin/sidebar_menu.html" %}
                        {% elif request.user.employee  %}
                            <!-- 0000 -->
                            {% if request.user.employee.primary_designation.name == 'Branch Head' %}
                                {% sitetree_menu from "sidebar_branch_head" include "trunk" template "erp_admin/sidebar_menu.html" %}

                            {% elif request.user.employee.primary_designation.name == 'Programme Director' %}
                                {% sitetree_menu from "sidebar_programme_director" include "trunk" template "erp_admin/sidebar_menu.html" %}

                            {% elif request.user.employee.primary_designation.name == 'Marketing Head' %}
                                {% sitetree_menu from "sidebar_marketing_head" include "trunk" template "erp_admin/sidebar_menu.html" %}

                            {% elif request.user.employee.primary_designation.name == 'Director' or request.user.employee.primary_designation.name == 'Executive Director' %}
                                {% sitetree_menu from "sidebar_director" include "trunk" template "erp_admin/sidebar_menu.html" %}

                            {% elif request.user.employee.primary_designation.name == 'Tele-Caller' %}
                                {% sitetree_menu from "sidebar_tele_caller" include "trunk" template "erp_admin/sidebar_menu.html" %}

                            {% elif request.user.employee.primary_designation.name == 'Front Office Admin' %}
                                {% sitetree_menu from "sidebar_frontofficer_admin" include "trunk" template "erp_admin/sidebar_menu.html" %}

                            {% elif request.user.employee.primary_designation.name == 'Follow Up Pcs' %}
                                {% sitetree_menu from "sidebar_followup_pcs" include "trunk" template "erp_admin/sidebar_menu.html" %}

                            {% elif request.user.employee.primary_designation.name == 'Seminar Team' %}
                                {% sitetree_menu from "sidebar_seminar_team" include "trunk" template "erp_admin/sidebar_menu.html" %}

                            {% elif request.user.employee.primary_designation.name == 'Ibis Admin' %}
                                {% sitetree_menu from "sidebar_ibis_admin" include "trunk" template "erp_admin/sidebar_menu.html" %}

                            {% elif request.user.employee.primary_designation.name == 'Tele Caller Head' %}
                                {% sitetree_menu from "sidebar_telecaller_head" include "trunk" template "erp_admin/sidebar_menu.html" %}

                            {% elif request.user.employee.primary_designation.name == 'Compliance Executive' %}
                                {% sitetree_menu from "sidebar_compliance_executive" include "trunk" template "erp_admin/sidebar_menu.html" %}


                            {% endif %}

                            <!-- 0000 -->
                        {% else %}
                        {% endif %}
                    {% elif user.is_staff %}
                            {% sitetree_menu from "sidebar" include "trunk" template "erp_admin/sidebar_menu.html" %}
                    {% elif user|group_required:"student" %}
                            {% sitetree_menu from "sidebar_student" include "trunk" template "erp_admin/sidebar_menu.html" %}
                    {% else %}
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>
