<ul class="dropdown-menu " role="menu">
    {% for item in items %}
        {% if item.visible %}
        <li>
            <a href="{{ item.url }}">
                {% if item.icon %}
                <i class="fa fa-{{item.icon}}"></i>
                {% endif %}
                {{ item.title }}
            </a>
        </li>
        {% endif %}
    {% endfor %}                    
</ul>