
{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static group_required %}

{% block head %}
<style type="text/css">
.btn {
    border-radius: 28px!important;
    }
</style>
{% endblock head %}
{% block content %}
    

<!-- Modal -->

    <div class="content-main">
        <div class="block">
            <div class="row show-grid">
                <div>

                        {% if user|group_required:"front office admin" %}

                                <a href="/admin/company/designation/" class="btn btn-primary btn-md" target="_blank">Designation
                                     <i class="fa fa-plus"></i>
                                </a>
                                 <a href="/admin/expense/expensetype/" class="btn btn-primary btn-md" target="_blank">Expense Type
                                     <i class="fa fa-plus"></i>
                                 </a>
                                 <a href="/admin/expense/incometype/" class="btn btn-primary btn-md" target="_blank">Income Type
                                     <i class="fa fa-plus"></i>
                                 </a>
                                <a href="/admin/expense/accounthead/" class="btn btn-primary btn-md" target="_blank">Account Type
                                     <i class="fa fa-plus"></i>
                                </a>

                        {% elif request.user.employee.primary_designation.name == 'Marketing Head' %}

                                <a href="/admin/erp_core/activitytype/" class="btn btn-primary btn-md" target="_blank">Activity Type
                                     <i class="fa fa-plus"></i>
                                </a>

                        {% endif %}
                </div>
                <div style="padding-top:10px;">



                                <a href="/admin/location/country/" class="btn btn-primary btn-md" target="_blank">Country & State
                                    <i class="fa fa-plus"></i>
                                </a>


                                <a href="/admin/location/state/" class="btn btn-primary btn-md" target="_blank"> City
                                     <i class="fa fa-plus"></i>
                                </a>

                                <a href="/admin/crm/media/" class="btn  btn-primary btn-md" target="_blank">Campaign Media
                                     <i class="fa fa-plus"></i>
                                </a>
                                 <a href="/admin/crm/campaigncategory/" class="btn btn-primary btn-md" target="_blank">Campaign Category
                                     <i class="fa fa-plus"></i>
                                </a>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}