{% load sitetree %}
<ul class="nav nav-second-level  collapse" role="menu">
    {% for item in sitetree_items %}
        <li role="presentation" {% if item.is_current or item.in_current_branch %}class="active"{% endif %}>
            <a role="menuitem" href="{% sitetree_url for item %}" {% if item.hint %}title="{{ item.hint }}"{% endif %} class="hvr-bounce-to-right">
                {% if item.icon_class %}
                <i class="fa fa-{{item.icon_class}} nav_icon sidebarsub"></i>
                {% endif %}
                {{ item.title_resolved }}
            </a>
        </li>
    {% endfor %}
</ul>