{% extends "erp_admin/base.html" %}
{% load static tz util group_required %}
{% get_current_timezone as TIME_ZONE %}
{% block css %}
<style>
.req{
  color:#FC0404!important;
  font-size:20px!important;
}



</style>

{% endblock css %}
{% block content %}
<div class="block">
    <a href="{% url 'student:marksheet' certificate.student.pk %}" class="pull-right"><i class="fa fa-times"></i></a>
    <div class="row" align="center">
        <h3>{{certificate.student.student}}- {{certificate.certificate}}</h3>

    </div>
</div>
<form class="" action="{% url 'student:mark_sheet_edit' certificate.pk %}" method="post">
    <div class="blank">
        <div class="grid-form1">
            <div class="tab-content">
                <div class="tab-pane active" id="horizontal-form">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                    {{ form.field_errors }}
                    <div class="row">
                         <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Certificate Number<span class="req">*</span></label>
                                <div class="">
                                    {{ form.certificate_number.errors }}{{ form.certificate_number }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Training date from<span class="req">*</span></label>
                                <div class="">
                                    {{ form.training_date_from.errors }}{{ form.training_date_from }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Training date to<span class="req">*</span></label>
                                <div class="">
                                    {{ form.training_date_to.errors }}{{ form.training_date_to }}
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Training Hours<span class="req">*</span></label>
                                <div class="">
                                    {{ form.training_hours.errors }}{{ form.training_hours }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Validity<span class="req">*</span></label>
                                <div class="">
                                    {{ form.validity.errors }}{{ form.validity }}
                                </div>
                            </div>
                        </div>
                         <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">issue_date</label>
                                <div class="">
                                    {{ form.issue_date.errors }}{{ form.issue_date }}
                                </div>
                            </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Work Experience<span class="req">*</span></label>
                                <div class="">
                                    {{ form.work_experience.errors }}{{ form.work_experience }}
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">General<span class="req">*</span></label>
                                <div class="">
                                    {{ form.general.errors }}{{ form.general }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Specific<span class="req">*</span></label>
                                <div class="">
                                    {{ form.specific.errors }}{{ form.specific }}
                                </div>
                            </div>
                        </div>
                     </div>
                     <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Practical<span class="req">*</span></label>
                                <div class="">
                                    {{ form.practical }}
                                    {{ form.practical.errors }}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Aggregate<span class="req">*</span></label>
                                <div class="">
                                    {{ form.aggregate }}
                                    {{ form.aggregate.errors }}
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
                    <div class="row">
                        <div style="padding-top:3%;">
                            <button class="btn btn-primary btn-md pull-right" type="submit">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>

<script>
$(document).ready(function() {


    var $date_inputs = $('.tdate')
         var date_format = 'YYYY-MM-DD';
           $date_inputs.daterangepicker({
               singleDatePicker: true,
               autoUpdateInput: true,
               autoApply: true,
               showDropdowns: true,
               timePicker: true,
               timePicker24Hour:true,
               locale: {
                   format: date_format,
               },
                   // calender_style: "picker_4",
               }, function(start, end, label) {
               });

               $date_inputs.on('apply.daterangepicker', function(ev, picker) {
                   $(this).val(picker.startDate.format('YYYY-MM-DD'));
               });

               $date_inputs.on('cancel.daterangepicker', function(ev, picker) {
                   $(this).val('');
               });
});
</script>
{% endblock jsscript %}


