{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static group_required %}
{% block head %}
{% endblock head %}
{% block content %}


<!-- Modal -->
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Filters</h4>
            </div>
            <div class="modal-body">
                <form action="" method="get">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{ filter.form.name.label }}</label>
                                {{ filter.form.name }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Course</label>
                                {{ filter.form.course }}
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="modal-footer">

            </div>
        </div>
    </div>
</div>

<div class="content-main">
    <div class="block">
        <div class="row show-grid">
            <div class="col-sm-3">
                <h3>
                    Students

                </h3>
            </div>
            <div class="col-sm-9">
                <div class="pull-right">

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                            data-target="#filter-modal">
                        <i class="fa fa-filter"></i> Apply Filters
                    </button>
                    <a class="btn btn-primary  btn-sm" href="{% url 'student:list' %}">
                        <i class="fa fa-refresh"></i> Refresh
                    </a>


                </div>
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12" id="print_receipt">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Course</th>
                            <th>Mark Sheet</th>
                            <th>Subjects</th>


                        </tr>
                        </thead>
                        <tbody>
                        {% for student in students %}
                        <tr class="">
                            <td scope="row">{{ forloop.counter}}</td>
                            <td>
                                {{ student}}
                            </td>
                            <td>{{ student.course }}</td>
                            <td><a href="{% url 'student:marksheet' student.pk %}"><i class="fa fa-eye"></i></a></td>
                            <td>
                                {% if student.subjects.all %}
                                    <a href="{% url 'student:course_certificate' student.pk %}"> <i
                                        class="fa fa-eye"></i></a>

                                {% else %}
                                    <a href="{% url 'student:student_course_subjects' student.pk %}"> <i
                                        class="fa fa-plus"></i></a>

                                {% endif %}
                            </td>

                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="5">No Data</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="pagination">
                {{pagination|safe}}
            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block jsscript %}
{% endblock jsscript %}