<div class="block">
  <div class="row show-grid">
    <button class="btn btn-danger" @click.prevent="delete_enquiry">
      <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
    </button>
    
    <div class="col-sm-12">
      <form role="form" method="post" class="form-horizontal" @submit.prevent="saveEnquiry">
        <div class="form-group" :class="{'has-error': errors.has('customer') }">
          <label class="col-sm-2 control-label">Customer:</label>
          <div class="col-sm-7">
            {{ enquiry.customer.name }}
            <!--<select2 v-pre  class="form-control" v-model="new_enquiry.customer"></select>-->
          </div>
        </div>
        <items :products="choices.products"
                   :items="enquiry.items"
                   v-model="enquiry.amount"
                   :val-errors="errors.collect('items')"
        ></items>
        <activities :choices="choices.activity_types"
                    :activities="enquiry.activities"
                    :val-errors="errors.collect('activities')"
        ></activities>
        <div class="form-group">
          <div class="form-inline" :class="{'has-error': errors.has('type') }">
            <label class="col-sm-2 control-label">Type:</label>
            <div class="col-sm-2">
              <select class="form-control" v-model="enquiry.type">
                <option v-for="option in choices.types" :value="option[0]">
                  {{ option[1] }}
                </option>
              </select>
              <span v-show="errors.has('type')" class="help-block">
                            <i class="fa fa-warning"></i>{{ errors.first('type') }}
                          </span>
            </div>
          </div>
          <div class="form-inline" :class="{'has-error': errors.has('status') }">
            <label class="col-sm-1 control-label">Status:</label>
            <div class="col-sm-2">
              <select class="form-control" v-model="enquiry.status">
                <option v-for="option in choices.statuses" :value="option[0]">
                  {{ option[1] }}
                </option>
              </select>
              <span v-show="errors.has('status')" class="help-block">
                            <i class="fa fa-warning"></i>{{ errors.first('status') }}
                          </span>
            </div>
          </div>
          <div class="form-inline" :class="{'has-error': errors.has('follow_up_date') }">
            <label class="col-sm-2 control-label">Follow Up Date:</label>
            <div class="col-sm-3">
              <input type="date" class="form-control" v-model="enquiry.follow_up_date">
              <span v-show="errors.has('follow_up_date')" class="help-block">
                            <i class="fa fa-warning"></i>{{ errors.first('follow_up_date') }}
                          </span>
            </div>
          </div>
        </div>
        <div class="form-group" :class="{'has-error': errors.has('note') }">
          <label class="col-sm-2 control-label">Note: </label>
          <div class="col-sm-10">
            <textarea class="form-control" v-model="enquiry.note"></textarea>
            <span v-show="errors.has('note')" class="help-block">
                            <i class="fa fa-warning"></i>{{ errors.first('note') }}
                          </span>
          </div>
        </div>
        <div class="form-group" :class="{'has-error': errors.has('reason_for_lost') }">
          <label class="col-sm-2 control-label">Reason for Lost</label>
          <div class="col-sm-10">
            <textarea class="form-control" v-model="enquiry.reson_for_lost"></textarea>
            <span v-show="errors.has('reason_for_lost')" class="help-block">
                            <i class="fa fa-warning"></i>{{ errors.first('reason_for_lost') }}
                          </span>
          </div>
        </div>
        <button type="submit" class="btn btn-default">Save</button>
      </form>
    </div>
  </div>
</div>
