<template src='./detail.template.html'></template>

<script>
//import Items from './items.vue'
//import Activities from './activities.vue'
import { mapGetters } from 'vuex'

export default {
	name: 'quotation-detail',
	// name: 'edit-quotation',
	data() {
		return {
			
		}
	},

	// components: { 
	// 	'items': Items,
	// 	Activities,
	// },

	computed: {
		quotation(){
			return this.copy(this.$store.state.quotationModel.quotation)
		},
		...mapGetters({
			choices: 'choices',
		}),
	},  

	created(){
		console.log('created quotation detail')
		this.$store.dispatch('getquotation', this.$route.params.id )

	},

	methods: {
		copy(obj){
			return JSON.parse(JSON.stringify(obj))
		},
		set_quotation(){
			if(this.quotation.id){
				this.$http.get('/api/quotation/' + this.editquotation.id +'/')
				.then(response => {
					var quotation = response.data
					this.quotation = quotation
				})
				.catch(error => {
					console.log(error)
				})
			}
		},

		set_defaults(){
			
			if(!this.quotation.status)
				this.quotation.status = this.choices.default_status[0]
		},
		

		savequotation: function(e){
			console.log(e)
			var method = 'POST'
			var url = '/api/quotations/'
			if (this.quotation.id){
				url += this.quotation.id + '/'
				method = 'PUT'
			}
			// console.log(vm.formData())
			this.$http({
				method: method,
				url: url,
				data: this.formData()
			})
			.then( response =>  {
				console.log(response)
				this.$validator.errorBag.clear()
				this.$emit('quotation_saved', response.data, response.statusText)
				// this.enquiries.push(response.data)
				// vm.new_quotation = {}
			})
			.catch( error =>  {
				console.log(error)
				if (error.response) {
					if(error.response.status == 400)
						this.handle_validation_errors(error.response.data)
				}
			})
		},

		formData() {
			return { 
				'type': this.quotation.type,
				'status': this.quotation.status,
				'note': this.quotation.note,
				'follow_up_date': this.quotation.follow_up_date,
				'reason_for_lost': this.quotation.reason_for_lost,
				'customer': this.quotation.customer,
				'items': this.format_items(),
				'activities': this.quotation.activities.length ? this.quotation.activities : null ,
				'amount': this.quotation.amount
			}
		},

		// format_items(){
		// 	if (this.quotation.items.length == 0)
		// 		return null
		// 	var items = this.quotation.items.map((item) => {
		// 		let i = Object.assign({}, item)
		// 		i['product'] = item.product.id
		// 		return i
		// 	})
		// 	return items
		// },

		delete_quotation(){
			if(confirm('Delete quotation for ' + this.quotation.customer.name)){
				this.$store.dispatch('deletequotation', this.quotation.id)
					.then(() => {
						this.$router.go('/')
					})
			}

		},

		handle_validation_errors(errors){
			var vm = this
			vm.$validator.errorBag.clear()
			vm.update_error_bag(errors)
		},

		update_error_bag(errors){
			var vm = this
			for(var key in errors) {
				if(errors[key].length){
					errors[key].forEach(function(error_msg){
						vm.$validator.errorBag.add(key, error_msg)
					})
				}else{
					this.update_error_bag(errors[key])
				}
				// this.errors.add(key, errors[key])
				// vm.errors.push({ field: key, msg: errors[key]})
			}
		}
	}
}
</script>