<template src='./edit.template.html'></template>

<script>
import CustomerSelect from 'components/ajax-select2.vue'
//import Items from './items.vue'
//import Activities from './activities.vue'
import { mapGetters, mapActions, mapMutations } from 'vuex'




export default {
	// delimiters: ['{{', '}}'],
	name: 'edit-quotation',
	data() {
		return {
			quotation: {
				code: null,
				status: null,
				customer: {},
				reference: '',
				reason_for_lost: '',
				amount: 0.00,  
			},

			//choices: {
			//statuses: [],
			//default_status: '',
			//customers: [],
			//},
		}
	},

	computed:{
		...mapGetters({
			choices: 'choices',
		}),
	},

	components: { 
		// 'items': Items,
		// Activities,
		CustomerSelect
	},

	created(){
		console.log('created edit-quotation', this.quotation)
		if(!this.choices.statuses.length)
			this.setDefaults()
	},

	methods: {
		set_defaults(){
			
			if(!this.quotation.status)
				this.quotation.status = this.choices.default_status[0]
		},
		
		saveQuotation: function(e){
			console.log(e)
			// var method = 'POST'
			// var url = '/api/enquiries/'
			// if (this.quotation.id){
			// 	url += this.quotation.id + '/'
			// 	method = 'PUT'
			// }
			// this.loading()

			this.$store.dispatch('postQuotation', this.quotation)
				.then(() => {
					this.$validator.errorBag.clear()
					this.$router.push({name: 'quotations'})
				})
				.catch( error =>  {
					console.log(error)
					if (error.response) {
						if(error.response.status == 400){
							this.$validator.errorBag.clear()
							this.handle_validation_errors(error.response.data)
						}
					}
				})
			// this.$http({
			// 	method: method,
			// 	url: url,
			// 	data: this.formData()
			// }).then( response =>  {
			// 	console.log(response)
			// 	this.$validator.errorBag.clear()
			// 	this.insertquotation({quotation: response.data, created:true})
			// 	// this.$emit('quotation_saved', response.data, response.statusText)
			// 	// this.enquiries.push(response.data)
			// 	// this.quotation = {}
			// 	this.loaded()
			// 	this.$router.push({name: 'enquiries'})

			// })
			// .catch( error =>  {
			// 	console.log(error)
			// 	if (error.response) {
			// 		if(error.response.status == 400){
			// 			this.$validator.errorBag.clear()
			// 			this.handle_validation_errors(error.response.data)
			// 		}
			// 	}
			// 	this.loaded()

			// })
		},

		

		formData() {
			return {
				'code':this.quotation.code, 
				'status': this.quotation.status,
				'reference': this.quotation.reference,
				'reason_for_lost': this.quotation.reason_for_lost,
				'customer': this.quotation.customer,
				// 'items': this.format_items(),
				// 'activities': this.quotation.activities.length ? this.quotation.activities : null ,
				'amount': this.quotation.amount
			}
		},

		// format_items(){
		// 	if (this.quotation.items.length == 0)
		// 		return null
		// 	var items = this.quotation.items.map((item) => {
		// 		let i = Object.assign({}, item)
		// 		i['product'] = item.product.id
		// 		return i
		// 	})
		// 	return items

		// },

		handle_validation_errors(errors){
			var vm = this
			vm.$validator.errorBag.clear()
			vm.update_error_bag(errors)
		},

		update_error_bag(errors){
			var vm = this
			for(var key in errors) {
				if(errors[key].length){
					errors[key].forEach(function(error_msg){
						vm.$validator.errorBag.add(key, error_msg)
					})
				}else{
					this.update_error_bag(errors[key])
				}
				// this.errors.add(key, errors[key])
				// vm.errors.push({ field: key, msg: errors[key]})
			}
		},

		cancel(i = -1){
			return this.$router.go(i)
		},

		...mapActions([
			'postQuotation' // map this.increment() to this.$store.dispatch('increment')
		]),
		...mapMutations({
			setDefaults : 'SET_QUOTATION_OPTION_DEFAULTS',
			insertQuotation : 'INSERT_QUOTATION',
			loading : 'loading',
			loaded : 'loaded',
			updateFIELD : 'SET_QUOTATION_FIELD'
		}),
	}
}
</script>