<template>
<div>
<div class="form-group" :class="{"has-error": errors.has("items") }">
		<label class="col-sm-2 control-label">Items:</label>
		<div class="col-sm-10">
				<table class="table table-bordered"  v-show="items.length">
						<thead>
								<tr>
										<th>#</th>
										<th>Item</th>
										<th>Details</th>
										<th>Price</th>
										<th>Quantity</th>
										<th>Sub-total</th>
										<th></th>
								</tr>
						</thead>
						<tbody>
								<item v-for="(item, index) in items"
											:index="index"
											:item="item"
											:products="item_products"
											:val-errors="valErrors[index]"
											@remove="remove(index)"
											:key="count + 1"
								></item>
						</tbody>
						<tfoot>
								<tr>
										<td colspan="4"><label>Total:</label></td>
										<td>{{ total  }}</td>
								</tr>
						</tfoot>
				</table>
				<span v-show="errors.has("items")" class="help-block">
					<i class="fa fa-warning"></i>{{ errors.first("items") }}
				</span>
				<button class="btn btn-primary" v-show="can_add" @click.prevent="add_item">Add Item</button>

	 </div>
</div> 
</div>

</template>

<script>
import Item from './item.vue'
// import { mapState, mapGetters, mapMutations } from 'vuex'

export default {
	props: ['valErrors', 'products', 'items', 'value'],
	data(){
		return {
				// items:[],
			item_products: [],
			count: 0,
		}
	},

	components: {
		Item
	},

	computed:{
		total(){
			if(!this.items.length)
				return 0
			var total = this.items.reduce((a, item) => {
				return a + item.total
			}, 0)
			this.$emit('input', total)
			return total
		},
		can_add(){
			var product_count = this.item_products.filter(product => {
				return product.selected === false
			}).length
			return product_count > 0
		}
	},

	created(){
		console.log('created edit-enquiry-items', this.items)
		let products = JSON.parse(JSON.stringify(this.products))
		products.forEach(product => {
			this.$set(product, 'selected', false)
			this.item_products.push(product)
		})
	},

	watch:{
		items:{
			handler(){

			},
			deep: true
		},
		valErrors(){
			this.$validator.errorBag.clear()
			if(this.valErrors.length && typeof(this.valErrors[0]) === 'string')
				this.$validator.errorBag.add('items', this.valErrors[0])
		}
	},    

	methods: {
		add_item() {
			this.items.push({
				id: "",
				product: {},
				quantity: 1,
				total: 0,
				description: null,
			})
		},

		remove(index){
			this.items.splice(index, 1)
		},
	}

}
</script>