<template>
	<li class="quotation">
		<span class="index"> {{ index + 1 }}. </span>
		<div class="customer">
			<span class="customer-name">
				<strong>{{ quotation.code }} - {{ quotation.contact.name }}</strong>
			</span>
			<br>
			
			<span class="label status" :class="statusClass">{{ quotation.status }}</span>
		</div>
		<span class="quotation-view-link">
			
		
		
		<a v-bind:href="'/quotation/'+quotation.id+'/detail'" class="btn btn-link"><i class="fa fa-info-circle fa-fw"></i>View</a>
		<a v-bind:href="'/quotation/'+quotation.id+'/edit'" class="btn btn-link"><i class="fa fa-pencil-square-o fa-fw"></i>Edit</a>
		<a v-if="!hasSalesOrder" v-bind:href="'/quotation/'+quotation.id+'/sales_orders/create'" class="btn btn-link"><i class="fa fa-pencil-square-o fa-fw"></i>Generate Sales Order</a>
		<a v-else v-bind:href="'/sales_orders/' + quotation.sales_order" class="btn btn-link"><i class="fa fa-pencil-square-o fa-fw"></i>view sales order</a>
		
		
		</span>
		<span class="right">
			<span class="btn btn-link created_on" data-toggle="tooltip" title="Created On" data-placement="left">{{ quotation.created_at | human-date }}</span> | 
			<span class="btn btn-link updated_on" data-toggle="tooltip" title="Updated On" data-placement="left">{{ quotation.updated_at | human-date }}</span>
			<br>
			<span class="label label-success amount" v-html="money(quotation.amount)"></span>
		</span>
		<div class="clearfix"></div>
	</li>   
</template>

<script>
import {  mapMutations } from 'vuex'
import Vue from 'vue'
import $ from 'jquery'
import 'bootstrap'
export default {
		
	name: 'quotation-list-item',
	
	props: {
		quotation: Object,
		index: Number,
	},

	data(){
		return {
			
			statusBadgeClass: {
				open: 'status-open',
				accepted: 'status-accepted',
				rejected: 'status-rejected',
			}
		}
	},
	
	created(){
		console.log('created quotation-list-item')
		// this.get_enquiries();
	},
	mounted(){
		$('[data-toggle="tooltip"]').tooltip()
	},

	computed: {
		
		statusClass(){
			return this.statusBadgeClass[this.quotation.status]
		},
		hasSalesOrder(){
			return Boolean(this.quotation.sales_order)
		}
	},

	methods:{
		money(amount){
			return Vue.filter('rupees')(amount)
		},
			// get_enquiries: function(){
			//   // this.new_quotation = Object.assign({}, this.new_quotation, quotation); 
			//   var vm = this;
			//   this.$http.get('/api/enquiries/')
			//   .then( response =>  {
			//     // console.log(response);
			//     vm.enquiries = response.data;
			//   })
			//   .catch( error => {
			//     console.log(error);
			//   });
			// },
		...mapMutations({     
			loading : 'loading',
			loaded : 'loaded',
		}),
	},


}    
</script>


<style>
ul.quotation-list li.quotation {
		padding: 5px;
		border: 1px solid #f1efef;
		box-shadow: 2px 2px 2px #dcd9d9;

}   
ul.quotation-list li.quotation .customer, ul.quotation-list li.quotation .label {
		display: inline-block;
}
ul.quotation-list li.quotation .index {
		padding: 3px;
		display: inline-block;
		vertical-align: top;
}
ul.quotation-list li.quotation span.right {
		float: right;
		text-align: right;
}
li.quotation .type-hot {
	background-color: #df0c14;
	font-size: 16px;
}
li.quotation .type-cold {
	background-color: #8ddef5;
	font-size: 14px;
}
li.quotation .type-hostile {
	background-color: red;
	font-size: 12px;
}

li.quotation .status-open {
	background-color: #5cb85c;
	font-size: 16px;
}
li.quotation .status-closed {
	background-color: #8ddef5;
	font-size: 14px;
}
li.quotation .status-rejected {
	background-color: red;
	font-size: 12px;
}
span.quotation-view-link a {
	vertical-align: top;
	border: 1px solid #337ab7;
	border-radius: 18px;
	padding: 0px 5px;
}
li.quotation span.created_on span.updated_on {
	font-size: 0.8em;
}

</style>

