<div class="block">
    <loader :loading="loading"></loader>
    <div class="row">
    	<div class="col-sm-12">
			<a href="/quotation/create/" class="btn btn-primary">Add Quotation</a>
			<a v-bind:href="'/quotation/code/settings/'" class="btn btn-link"><i class="fa fa-pencil-square-o fa-fw"></i>Code Settings</a>
			<a v-bind:href="'/quotation/mail/settings/'" class="btn btn-link"><i class="fa fa-pencil-square-o fa-fw"></i>Mail Settings</a>

		</div>	
    </div>   

	<div class="row show-grid">
		<div class="col-sm-6">
			<h3>Quotations</h3>
			<!-- <order-by @order-by="order_by"></order-by> -->	
		</div>
		<div class="col-sm-6">
      <filter-by class="pull-right" :fields="filterable_data" @filter-by="query_by" resource-name="Quotation"></filter-by>
    </div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<ul class="list-unstyled quotation-list">
				<list-item v-for="(quotation, index) in quotations"
				   :quotation="quotation"
				   :index="index"
				   :key="quotation.id"
				></list-item>
			</ul>
			<paginate :records="pagination.count"
			  	:current="pagination.current"
			  	:page-size="pagination.page_size"
			  	:link-range="pagination.link_range"
			  	record-type="Quotations"
			  	@get-page="getPage">
	  	    </paginate>
		</div>
	</div>
</div>
