<template src='./app.template.html'></template>

<script>
import Loader from 'components/loader.vue'
import { mapState } from 'vuex'
export default {
	name: 'app',

	data(){
		return {
			
		}
	},

	computed: {
		...mapState(['loading'])
	},
	
	components: {
		Loader,
			// <my-component> will only be available in Parent's template
	//     // 'customer-select2': require('./components/customer-select2.js'),
	//     'edit-enquiry': EditEnquiry,
	//     'enquiry-list': EnquiryList,
	//     'enquiry-detail': EnquiryDetail,
	},

	created(){
		console.log('created reimbursements App')

	},

	methods:{
		
		
	}
}
</script>

<style>
#reimbursement-block {
	position: relative;
}
</style>
