{% extends "erp_admin/base.html" %}
{% load static %}
{% block head %}
<style >
.req{
  color:#FC0404!important;
  font-size:20px!important;
}
</style>
{% endblock head %}  
{% block content %}

<div class="blank">
    <div class="grid-form1">
        <a href="{% url 'enquiry:list' %}">Cancel</a>
        <h3 style="margin-top:20px;">Prefix</h3>
        <div class="tab-content">
            <div class="tab-pane active" id="horizontal-form">
                <form class="form-horizontal" id="code_setting" action="{% url 'enquiry:code_settings' %}" method="post">{% csrf_token %}
                {{ code_form.non_field_errors }}
                {{ code_form.field_errors }}
            
                    <div class="form-group">
                        <label for="subject" class="col-sm-2 control-label">Prefix<span class="req">*</span></label>
                        <div class="col-sm-8">{{ code_form.prefix.errors }}
                            {{ code_form.prefix }}
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="subject" class="col-sm-2 control-label">Count</label>
                        <div class="col-sm-8">{{ code_form.count_index.errors }}
                            {{ code_form.count_index }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="subject" class="col-sm-2 control-label">Number Of Characters</label>
                        <div class="col-sm-8">{{ code_form.no_of_characters.errors }}
                            {{ code_form.no_of_characters }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="subject" class="col-sm-2 control-label">Opportunity  Code:</label>
                        <div class="col-sm-8 code-input">
                            <span id="code"></span>
                        </div>
                        
                    </div>
                    

                    <div class="form-group">
                        <div class="col-sm-8">
                            <button class="btn-primary btn">Submit</button>
                        </div>
                    </div>

                    
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block jsscript %}

<script>
$(document).ready(function(){
    $("form#code_setting").on('input', function(e){
        var code = ""
        var prefix = $(this).find("#prefix").val()
        // console.log(prefix)
        if(prefix){
            code += prefix.toUpperCase()
            
            var no_of_characters = $(this).find("#no_of_characters").val()
            var count = $(this).find("#count_index").val() + ""
            
            function pad(num, size) {
                var s = num+"";
                while (s.length < size) s = "0" + s;
                return s;
            }
            
            code += pad(count, no_of_characters)
            
            console.log(code)
        }
        $("#code").text(code)
    })
    $("form#code_setting").trigger('input')
})  
</script>




{% endblock jsscript %}