{% extends "erp_admin/base.html" %}
{% load static tz util %}
{% get_current_timezone as TIME_ZONE %}

{% block head %}
<style>
td span{
    font-size: 1em;
    padding: 0px;
}
.grid-form1{
    border: 0px;
}
.req{
  color:#FC0404!important;
  font-size:20px!important;
}

</style>
{% endblock head %}

{% block content %}
  

<form role="form" class="" action="{{ form_url }}" method="post" id="enquiry">
    {% csrf_token %}
    <div class="block">
        <a href="/enquiries/" class="btn btn-warning"> <i class="fa fa-arrow-left"></i> Back to lead  List</a>
        <div class="row">
          <div class="col-sm-12">
        <h3 style="padding-top:2%"> Lead Details</h3>
       </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label">{{ enquiry_form.code.label_tag }}<span class="req">*</span></label>
             {% if type != "Edit" %} 
              <a href="{% url 'enquiry:code_settings' %}" style="font-size: 0.8em;">Manage Code</a>
             {% endif %}
              {{ enquiry_form.code }}
              {{ enquiry_form.code.errors }}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label">{{ enquiry_form.location.label_tag }}<span class="req">*</span></label>
              {{ enquiry_form.location }}
              {{ enquiry_form.location.errors }}
              <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#filter-modal"><i class="fa fa-plus"></i></button>
            </div>
          </div>
         
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label">{{ enquiry_form.name_of_candidate.label_tag }} <span class="req">*</span></label>
              {{ enquiry_form.name_of_candidate }}
              {{ enquiry_form.name_of_candidate.errors }}
            </div>
          </div>
           
        </div>
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label">{{ enquiry_form.contact_number.label_tag }}</label>
              {{ enquiry_form.contact_number }}
              {{ enquiry_form.contact_number.errors }}
            </div>
          </div>
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label">Name Of The College <span class="req">*</span></label>
              {{ enquiry_form.name_of_college }}
              {{ enquiry_form.name_of_college.errors }}
            </div>
          </div>
           <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label">{{ enquiry_form.year_of_passout.label_tag }}<span class="req">*</span></label>
              {{ enquiry_form.year_of_passout }}
              {{ enquiry_form.year_of_passout.errors }}
            </div>
          </div>
         
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label">Programs</label>
              {{ enquiry_form.course }}
              {{ enquiry_form.course.errors }}
            </div>
          </div>
          
           <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label">Status <span class="req">*</span></label>
              {{ enquiry_form.status }}
              {{ enquiry_form.status.errors }}
            </div>
          </div>
           <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label">Source
                <span class="req">*</span>
              </label>
              {{ enquiry_form.campaign }}
              {{ enquiry_form.campaign.errors }}
            </div>
          </div>
          
          <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label">Refered By(Employee)<span class="req"></span>
              </label>
              {{ enquiry_form.refered_by_employee }}
              {{ enquiry_form.refered_by_employee.errors }}
            </div>
          </div>
           <div class="col-sm-4">
            <div class="form-group">
              <label class="control-label">Refered By(Student Code)<span class="req"></span>
              </label>
              {{ enquiry_form.refered_by_student }}
              {{ enquiry_form.refered_by_student.errors }}
            </div>
          </div>
          
    </div>
  </div>
   {% if type != "Edit" %} 
  <div class="block">
     {{ activity_form.non_field_errors }}
        {{ activity_form.field_errors }}
    <div class="row">
       <div class="col-sm-12">
        <h4 style="padding-bottom:2%;"> Activity Details</h4>
       </div>
     
       <div class="col-sm-4">
         
        <div class="form-group">
          <label class="control-label">{{ activity_form.type.label}}</label>
          {{ activity_form.type }}
          {{ activity_form.type.errors }}
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group">
          <label class="control-label">{{ activity_form.date.label}}</label>
          {{  activity_form.date }}
          {{  activity_form.date.errors }}
        </div>
      </div>
       <div class="col-sm-4">
        <div class="form-group">
          <label class="control-label">{{ activity_form.remark.label }}</label>
          {{ activity_form.remark }}
          {{activity_form.remark.errors }}
        </div>
      </div>
               
        <div class="col-sm-4">
          <div class="form-group">
            <label class="control-label">{{ activity_form.next_follow_up_date.label }}</label>
            {{  activity_form.next_follow_up_date }}
            {{ activity_form.next_follow_up_date.errors }}
          </div>
        </div>
                
    </div>
  </div>
  {% endif %}

       
    <div class="block">
      <div class="row">
         <button type="submit" class="btn btn-primary pull-right">Save</button>
        <div class="clearfix"></div>
      </div>
    </div>

</form>


<!--modal-->
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Location</h4>
          </div>
          <div class="modal-body">
            <form action="{% url 'location:add_city' %}" method="post"> {% csrf_token %}
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ city_form.state.label }}</label>
                            {{ city_form.state }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ city_form.name.label }}
                            </label>
                            {{ city_form.name }}
                        </div>
                    </div>
                   
                   
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Save</button>
                        </div>
                    </div>  
                </div>
                <div class="clearfix"></div>
            </form>
          </div>
          <div class="modal-footer">
            
          </div>
    </div>
  </div>
</div>


{% endblock content %}

{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script>

  $(document).ready(function() {
    $('.js-basic-multiple').select2();
    $('#id_date').daterangepicker({
        singleDatePicker: true,
        timePicker: true,
        // calender_style: "picker_4",
        minDate: new Date(),
        showDropdowns: true,
        locale: {
            format: 'YYYY-MM-DD h:mm',
        },
    }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
    });
        $('#id_next_follow_up_date').daterangepicker({
        singleDatePicker: true,
        // timePicker: true,
        // calender_style: "picker_4",
        minDate: new Date(),
        showDropdowns: true,
        locale: {
            format: 'YYYY-MM-DD',
        },
    }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
    });

    $("#id_location").select2({
    maximumSelectionLength: 10,
    allowClear: true,
    placeholder: "Select Location",


});
$("#id_course").select2({
    maximumSelectionLength: 10,
    allowClear: true,
    placeholder: "Select Course",


});
$("#state").select2({
    maximumSelectionLength: 10,
    allowClear: true,
    placeholder: "Select State",


});
$("#id_type").select2({
    maximumSelectionLength: 10,
    allowClear: true,
    placeholder: "Select Type",


});
$("#id_campaign").select2({
    maximumSelectionLength: 10,
    allowClear: true,
    placeholder: "Select Type",


});
$("#id_refered_by_employee").select2({
    maximumSelectionLength: 10,
    allowClear: true,
    placeholder: "Select Type",


});

});



</script>

{% endblock jsscript %}
