{% extends "erp_admin/base.html" %}
{% load static tz group_required %}
{% get_current_timezone as TIME_ZONE %}
{% block head %}


<style>
.btn {
    border-radius: 8px!important;
    }
.row{
    margin-left:5px;
    margin-right:5px;
}
.tdCenter {
    text-align:right; /* center textbox horizontally */
    vertical-align: middle; /* center textbox vertically */

}
.text_size{
    font-size:18px!important;
    color:#000000!important;
}
.lecolor
{
    color:#00ABE7!important;
}
.thcolor
{
color:#000;
}
mark {
    background-color:#00ABE7;
    color:#ffffff;
    border-radius:6px!important;
}


</style>
{% endblock head %} {% block content %}
<div class="banner">
    <h2>
        <a href="/">Home</a>
        <i class="fa fa-angle-right"></i>
        <span><a href="{% url 'enquiry:list' %}">Leads</a></span>
        <i class="fa fa-angle-right"></i>
        <span>{{enquiry}}</span>
        <a href="{{request.http.referer}}" class="pull-right"><i class="fa fa-times"></i></a>
    </h2>
</div>
<div>
    <div class="block">
        <div class="row show-grid">
            <div class="col-sm-12 col-xs-12 table-responsive" style="">
                {% if not enquiry.enquiry %}

                <a href="{% url 'student:create' enquiry.pk %}" class="btn btn-primary btn-xs pull-right">Enroll As
                    Student <i class="fa fa-arrow-right"></i></a>
                
                {% else %}
                <a href="{% url 'student:detail' enquiry.enquiry.pk %}" class="btn btn-primary btn-xs pull-right">Student
                    Details<i class="fa fa-arrow-right"></i></a>
                {% endif %}
                <a href="{% url 'enquiry:edit' enquiry.pk %}" class="btn btn-primary btn-xs pull-right"><i
                        class="fa fa-edit"></i></a>
                <h3>{{ enquiry.code }}</h3>
                <table class="table table-bordered" style="margin-top:20px;">
                    <tbody>

                    <tr>
                        <th><span class="thcolor">Candidate Name</span></th>
                        <th><span class="thcolor">{{enquiry.name_of_candidate|title}}</span></th>
                    </tr>
                    <tr>
                        <th><span class="thcolor">Email</span></th>
                        <th><span class="thcolor">{{enquiry.email}}</span></th>
                    </tr>
                    {% if enquiry.contact_number %}
                    <tr>
                        <th><span class="thcolor">Contact Number</span></th>
                        <th><span class="thcolor">{{enquiry.contact_number}}</span><span class="thcolor"></th>
                    </tr>
                    {% endif %}
                    {% if enquiry.whatsapp_number %}
                    <tr>
                        <th><span class="thcolor">Whatsapp Number</span></th>
                        <th><span class="thcolor">{{enquiry.whatsapp_number}}</span><span class="thcolor"></th>
                    </tr>
                    {% endif %}

                    <tr>{% if enquiry.location %}
                        <th><span class="thcolor">Location</span></th>
                        <th><span class="thcolor">{{enquiry.location}}</span></th>
                    </tr>
                    {% endif %}
                    <tr>
                        <th><span class="thcolor">Name Of College</span></th>
                        <th><span class="thcolor">{{enquiry.name_of_college}}</span></th>
                    </tr>
                    <tr>
                        <th><span class="thcolor">Year Of Passout</span></th>
                        <th><span class="thcolor">{{enquiry.year_of_passout}}</span></th>
                    </tr>
                    <tr>
                        <th><span class="thcolor">Stream</span></th>
                        <th><span class="thcolor">{{enquiry.stream}}</span></th>
                    </tr>
                    {% if enquiry.course %}
                    <tr>
                        <th><span class="thcolor">Enquired Programs</span></th>
                        <th><span class="thcolor">{% for course in enquiry.course.all  %} {{course}}
                                   {% if not forloop.last %} ,
                                   {% endif %}

                                {% endfor %}</span></th>
                    </tr>
                    {% endif %}
                    {% if enquiry.interested_course %}
                    <tr>
                        <th><span class="thcolor">Enquired Courses</span></th>
                        <th><span class="thcolor">{% for course in enquiry.interested_course.all  %} {{course}}
                                   {% if not forloop.last %} ,
                                   {% endif %}

                                {% endfor %}</span></th>
                    </tr>
                    {% endif %}
                    <tr>
                        <th><span class="thcolor">Date</span></th>
                        <th><span class="thcolor">{{enquiry.date}}</span></th>
                    </tr>
                    {% if enquiry.campaign %}
                    <tr>
                        <th><span class="thcolor">Campaign</span></th>
                        <th><span class="thcolor">{{enquiry.campaign}}</span></th>
                    </tr>
                    {% endif %}
                    {% if enquiry.refered_by_employee %}
                    <tr>
                        <th><span class="thcolor">Employee(Refered By)</span></th>
                        <th><span class="thcolor">{{enquiry.refered_by_employee}}</span></th>
                    </tr>
                    {% endif %}
                    {% if enquiry.refered_by_student %}
                    <tr>
                        <th><span class="thcolor">Employee(Student Code)</span></th>
                        <th><span class="thcolor">{{enquiry.refered_by_student}}</span></th>
                    </tr>
                    {% endif %}
                    <tr>
                        <th><span class="thcolor">Special Care</span></th>
                        <th><span class="thcolor">
                                    {% if enquiry.special_care %}
                                      Yes
                                    {% else %}
                                        No
                                    {% endif %}
                                </span></th>
                    </tr>
                    <tr>
                        <th><span class="thcolor">Created By</span></th>
                        <th><span class="thcolor">{{enquiry.employee}}</span></th>
                    </tr>
                    <tr>
                        <th><span class="thcolor">Assinged To</span></th>
                        <th><span class="thcolor">{{enquiry.assigned_to}}</span></th>
                    </tr>
                    <tr>
                        <th><span class="thcolor">Enquiry Status</span></th>
                        <th>
                            <select class="form-control enquirystatusbutton" name="status" data-value="{{enquiry.pk}}">
                                {% for status in lead_statuses %}
                                <option {% if enquiry.status == status.1 %}selected{% endif %}><a href="" data-value="{{ enquiry.pk }}">{{status.1}}</a>
                                </option>
                                {% endfor %}
                            </select>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>
            {% if activities.count > 0 %}
            <div class="col-sm-12 col-xs-12 table-responsive" style="">
                <h3>Activity</h3>
                <table class="table table-bordered" style="margin-top:20px;">
                    <thead>
                    <tr>
                        <th><span class="thcolor">Date</span></th>
                        <th><span class="thcolor">Activity</span></th>
                        <th><span class="thcolor">Assigned to</span></th>
                        <th><span class="thcolor">Created By</span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for activity in activities %}
                    <tr>
                        <td>{{activity.date}}</td>
                        <td>{{activity.type}}</td>
                        <td>{{activity.assigned_to}}</td>
                        <td>{{ activity.created_by }}</td>
                        <td><a href="{% url 'enquiry:delete_activity' activity.pk %}" class="btn btn-primary btn-xs"><i
                                    class="fa fa-trash-o"></i></a>
                            <a href="{% url 'enquiry:view_activity' activity.pk %}" class="btn btn-primary btn-xs"><i
                                    class="fa fa-eye"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endif %}
            <div class="col-sm-12 col-xs-12 table-responsive" style="">
                {% if followups.count > 0 %}
                <h3>Follow Ups</h3>
                <table class="table table-bordered" style="margin-top:20px;">
                    <thead>
                    <tr>
                        <th><span class="thcolor">Date</span></th>
                        <th><span class="thcolor">Activity</span></th>
                        <th><span class="thcolor">Status</span></th>
                        <th><span class="thcolor">Assigned To</span></th>
                        <th><span class="thcolor">Created By</span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for activity in followups %}
                    <tr>
                        <td>{{activity.date}}</td>
                        <td>{{activity.type}}</td>
                        <td>
                            <select class="form-control statusbutton" name="status" data-value="{{activity.pk}}">
                                {% for status in statuses %}
                                <option {% if activity.status == status.1 %}selected{% endif %}><a href="" data-value="{{ activity.pk }}">{{status.1}}</a>
                                </option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            {{activity.assigned_to}}
                        </td>
                        <td>{{ activity.created_by }}</td>
                        <td>
                            {% if request.user.employee.primary_designation.name == "Marketing Head" or request.user.employee.primary_designation.name == "Tele-Caller" %}
                            <a href="{% url 'enquiry:edit_activity' activity.pk %}" class="btn btn-primary btn-xs"><i
                                    class="fa fa-pencil"></i></a>
                            {% endif %}
                            {% if request.user.employee.primary_designation.name == "Marketing Head" %}
                            <a href="{% url 'enquiry:delete_activity' activity.pk %}" class="btn btn-primary btn-xs"><i
                                    class="fa fa-trash-o"></i></a>
                            {% endif %}
                            <a href="{% url 'enquiry:view_activity' activity.pk %}" class="btn btn-primary btn-xs"><i
                                    class="fa fa-eye"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endif %}
                <div style="padding-top:2%;">
                    <a href="{% url 'enquiry:add_activity' enquiry.pk %}" class="btn btn-primary btn-xs pull-right">Add
                        Follow Up <i class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Modal -->


{% endblock content %}

{% block jsscript %}
<script>
function getCookie(name) {
   var cookieValue = null;
   if (document.cookie && document.cookie != '') {
       var cookies = document.cookie.split(';');
       for (var i = 0; i < cookies.length; i++) {
           var cookie = jQuery.trim(cookies[i]);
           // Does this cookie string begin with the name we want?
           if (cookie.substring(0, name.length + 1) == (name + '=')) {
               cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
               break;
           }
       }
   }
   return cookieValue;
}
var csrftoken = getCookie('csrftoken');
function csrfSafeMethod(method) {
   // these HTTP methods do not require CSRF protection
   return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
   beforeSend: function(xhr, settings) {
       if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
           xhr.setRequestHeader("X-CSRFToken", csrftoken);
       }
   }
});
$(document).ready(function() {

    $(".statusbutton").change(function(event){
       var selectedStatus = $(this).children("option:selected").val();
       var primek = $(this).data("value")
       if (confirm("Confirm?"))
       $(this).val(selectedStatus);
       {
           $.ajax(
           {
               url : '/activity/' + primek + '/change_status/',
               type: "POST",
               data: {
                 'status': selectedStatus
               },
               success:function(data)
               {
                   console.log('success')
               },
               error: function(jqXHR, textStatus, errorThrown)
               {
                   console.log('failed')
               }
           });
       }
     });

     <!--lead status ajax-->

     $(".enquirystatusbutton").change(function(event){
     console.log('----')
       var selectedStatus = $(this).children("option:selected").val();
       var primek = $(this).data("value")
       if (confirm("Confirm?"))
       $(this).val(selectedStatus);
       {
           $.ajax(
           {
               url : '/activity/' + primek + '/enquiry_change_status/',
               type: "POST",
               data: {
                 'status': selectedStatus
               },
               success:function(data)
               {
                   console.log('success')
               },
               error: function(jqXHR, textStatus, errorThrown)
               {
                   console.log('failed')
               }
           });
       }
     });

   });
   </script>
{% endblock jsscript %}

