{% extends "erp_admin/base.html" %}
{% load static util humanize %}
{% block head %}
<style type="text/css">
.tbl
{
    color:#000000;
    font-size:14px;

}






</style>

{% endblock head %}
{% block content %}
<div class="content-main">
    <div class="block">


        <div class="row">
            <div class="col-sm-6 col-xs-6" style="padding-left:30px;">

            </div>


            <div class="col-sm-6">

                <p align="right"><a onclick="printDiv()" class="btn btn-primary" target="__blank"> <i
                        class="fa fa-print fa-fw"></i> Print Report</a></p>

            </div>


        </div>


        <div class="row" style="margin-left:5%;">


            <form id="form" action="" method="get">
                {% csrf_token %}

                <div class="col-sm-2">
                    <label>Select Date</label>
                </div>
                <div class="col-sm-3">
                    <input type="text" name="month_year" class="form-control tdate">
                </div>
                <div class="col-sm-1">
                    <button type="submit" name="search" class="btn btn-primary"><i class="fa fa-search"></i>
                    </button>
                </div>
                <div class="col-sm-1">
                    <a href="{% url 'enquiry:enrolment_report' %}" name="search" class="btn btn-primary"> <i
                            class="fa fa-refresh"></i></a>
                </div>
            </form>


        </div>


        <div class="row" id="print_receipt" style="margin-left:5%;padding-top:2%;">

            <div class="col-sm-12" style="padding-bottom:2%;">
                <h3>
                    Enrollment Details : {{start|date:"d M Y"}}
                    {% if start != end %}
                        - {{end|date:"d M Y"}}
                    {% endif %}

                </h3>
            </div>

            <ul>

            </ul>
            <div class="col-sm-7">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                        <tr>
                            <th>Course</th>
                            <th>Total Admission</th>

                            <th> Closed Admission</th>

                            <th>Current Admission</th>

                        </tr>
                        </thead>
                        <tbody>
                        {% regroup products by course as course_list %}
                        {% for course in course_list %}
                        <tr>
                            <td>{{ course.grouper }}</td>
                            <td>{% totaladmission_cal course.list %}</td>
                            <td>{% closedadmission_cal course.list %}</td>
                            <td>{% currentadmission_cal course.list %}</td>

                        </tr>
                        {% endfor %}
                        <tr>
                            <td><strong>Total</strong></td>
                            <td><strong>{{total_sum.total_admission__sum}}</strong></td>
                            <td><strong>{{total_sum.closed_admission__sum}}</strong></td>
                            <td><strong>{{total_sum.current_admission__sum}}</strong></td>
                        </tr>
                        </tbody>

                    </table>
                </div>

            </div>
        </div>
    </div>
</div>


{% endblock content %}
{% block jsscript %}

<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>

<script>

$(document).ready(function(){


    $(function() {
        $('input[name="month_year"]').daterangepicker({
            opens: 'left',
            autoUpdateInput : false,
            locale: {
            format: 'YYYY-MM-DD',
            },
        }, function(start, end, label) {
            });
        });

    $('.tdate').on('apply.daterangepicker', function(ev, picker) {
        var dd = picker.startDate.format('YYYY-MM-DD')+"-"+picker.endDate.format('YYYY-MM-DD');
        $(this).val(dd);
    });

    $('.tdate').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });


});

    function printDiv() {
    var printContents = document.getElementById('print_receipt').innerHTML;
    var originalContents = document.body.innerHTML;
     document.body.innerHTML = printContents;
     window.print();
     document.body.innerHTML = originalContents;
    }







</script>

{% endblock jsscript %}



