{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static group_required util %}
{% block head %}
<style>
.status-open {
    background-color: #2fd22f;
    font-size: 16px;
}
.status-rejected {
    background-color: red;
    font-size: 12px;
}
.fade-in {
    opacity: 0;
    font-size: 21px;
    margin-top: 25px;
    text-align: center;

    -webkit-transition: opacity .3s ease-in;
       -moz-transition: opacity .3s ease-in;
        -ms-transition: opacity .3s ease-in;
         -o-transition: opacity .3s ease-in;
            transition: opacity .3s ease-in;
}

.fade-in.load {
    opacity: 1;
}
.fabutton {
  background: none;
  padding: 0px;
  border: none;
}
.table>thead>tr>th{
    color: #00ABE7!important;
    font-size: 15px!important;
    
}

</style>
{% endblock head %}
{% block content %}


<!-- Modal -->
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Filters</h4>
            </div>
            <div class="modal-body">
                <form action="" method="get">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{ filter.form.code.label }}</label>
                                {{ filter.form.code }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{ filter.form.name_of_candidate.label }}
                                </label>
                                {{ filter.form.name_of_candidate }}
                            </div>
                        </div>


                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{ filter.form.course.label }}</label>
                                {{ filter.form.course }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{ filter.form.status.label }}</label>
                                {{ filter.form.status }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{ filter.form.campaign.label }}</label>
                                {{ filter.form.campaign }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{ filter.form.contact_number.label }}</label>
                                {{ filter.form.contact_number }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">{{ filter.form.special_care.label }}</label>
                                {{ filter.form.special_care }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Activity Status</label>
                                {{ filter.form.activity_status }}
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Date</label>
                                {{ filter.form.date }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<div class="banner">
    <h2>
        <a href="/">Home</a>
        <i class="fa fa-angle-right"></i>
        <span>Leads</span>
        <a href="{{request.http.referer}}" class="pull-right"><i class="fa fa-times"></i></a>
    </h2>
</div>
<div class="content-main">
    <div class="block">
        <div class="row show-grid">
            <div class="col-sm-12">
                {% if upload_form.errors %}
                <p style="color: red;">
                    Please correct the error{{ upload_form.errors|pluralize }} below.
                </p>
                {% else %}
                <form action="{% url 'enquiry:import' %}" enctype="multipart/form-data" method="post">
                    <table>
                        {{ upload_form.as_table }}
                    </table>
                    {% csrf_token %}
                    <button type="submit" class="btn btn-success btn-md"><i class="fa fa-upload"></i>Upload Excel
                    </button>
                </form>
                {% endif %}
            </div>
            <div class="col-sm-6">
                {% if employee in check_list1 %}
                <h3>
                    Leads
                    <a href="{% url 'enquiry:create' %}" class="btn btn-link">
                        <i class="fa fa-plus-square-o fa-2x"></i>
                    </a>
                </h3>
                {% endif %}
            </div>
            <div class="col-sm-6">
                <div class="pull-right">


                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
                            data-target="#filter-modal">
                        <i class="fa fa-filter"></i> Apply Filters
                    </button>
                    <a class="btn btn-primary btn-sm" href="{% url 'enquiry:list' %}">
                        <i class="fa fa-refresh"></i> Refresh
                    </a>
                    {% if request.user.is_staff %}
                    <div class="dropdown">
                        <button id="dLabel" class="btn btn-primary btn-sm" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            Settings
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
                            <li>
                                <a href="{% url 'enquiry:code_settings' %}" class="btn btn-link">
                                    <i class="fa fa-pencil-square-o fa-fw"></i>Manage Code Settings
                                </a>
                            </li>


                        </ul>
                    </div>
                    {% endif %}
                    <!-- mmmm -->
                    <!--<div class="dropdown">-->
                        <!--<button class="btn btn-primary btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true"-->
                                <!--aria-expanded="false">-->
                            <!--More-->
                            <!--<span class="caret"></span>-->
                        <!--</button>-->
                        <!--<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">-->
                            <!--<li>-->
                                <!--<a href="{% url 'enquiry:myfollowups' %}?followup=followup" class="btn btn-link">-->
                                    <!--<i class="fa fa-pencil-square-o fa-fw"></i>More than three follow up-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="{% url 'enquiry:myfollowups' %}?type=whatsapp" class="btn btn-link"-->
                                   <!--style="margin-right:60px;">-->
                                    <!--<i class="fa fa-pencil-square-o fa-fw"></i>Whatsapp Activity-->
                                <!--</a>-->
                            <!--</li>-->
                            <!--<li>-->
                                <!--<a href="{% url 'enquiry:myfollowups' %}?type=walk_in" class="btn btn-link"-->
                                   <!--style="margin-left:-42%;">-->
                                    <!--<i class="fa fa-pencil-square-o fa-fw"></i>Walk In-->
                                <!--</a>-->

                            <!--</li>-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!-- mmmmm -->
                </div>
            </div>
        </div>
        <div class="row show-grid">
            <div class="col-sm-12">


                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Leads</th>
                            <th>Status</th>
                            <th>Programme</th>
                            <th>Created By</th>
                            <th>Assigned To</th>
                            <th>Edit</th>
                            {% if user.is_superuser or user.employee.primary_designation.name == "Marketing Head" or user.employee.primary_designation.name == "IBIS Admin" %}
                            <th>Delete</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for enquiry in enquiries %}
                        <tr class="">
                            <td scope="row">{% pag_count forloop.counter current_page per_page %}</td>
                            <td>
                                <a href="{% url 'enquiry:enquiry_detail' enquiry.pk %}">{{ enquiry|title}}</a> {% if enquiry.activity_count > 2 %}<i style="color:red;" class="fa fa-asterisk"></i>{% endif %}
                            </td>
                            <td>{{ enquiry.status }}</td>
                            <td>{% for course in enquiry.course.all %}{{ course }}{% endfor %}</td>
                            <td scope="row">{{ enquiry.employee}}</td>
                            <td scope="row">
                                {% if enquiry.assigned_to == None %}
                                    {{enquiry.employee}}
                                {% else %}
                                    {{enquiry.assigned_to}}
                                {% endif %}
                            </td>
                            <td>
                                <a href="{% url 'enquiry:edit' enquiry.pk %}" class=""><i class="fa fa-pencil"></i></a>
                            </td>
                            {% if user.is_superuser or user.employee.primary_designation.name == "Marketing Head" or user.employee.primary_designation.name == "IBIS Admin" %}
                            <td>
                                <form class="delete" method="post" action="{% url 'enquiry:delete' enquiry.pk %}"
                                      onsubmit="remove(this, event)">{% csrf_token %}
                                    <button type="submit" class="fabutton">
                                        <i class="fa fa-trash-o fa-fw"></i>
                                    </button>
                                </form>
                            </td>
                            {% endif %}

                        </tr>
                        {% empty %}
                        <tr>
                            <td colspan="6">No Leads</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div id="pagination">
                {{pagination|safe}}

            </div>
        </div>
    </div>
</div>

{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script>

$(function() {
  $('input[name="date"]').daterangepicker({
    opens: 'left',
    autoUpdateInput:false,
    locale: {
        format: 'YYYY-MM-DD',
        },
      },
    );
    });
    $('.tdate').on('apply.daterangepicker', function(ev, picker) {
        var dd = picker.startDate.format('YYYY-MM-DD')+"-"+picker.endDate.format('YYYY-MM-DD');
        $(this).val(dd);
    });
    $('.tdate').on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });

$(document).ready(function(){
    $('form.delete').submit( function (e){
        e.preventDefault()
        e.stopPropagation()
        if(confirm('Do you want to Delete the entire student Details')){
            this.submit()
        }
    })

    $(".fade-in").addClass("load")

      $("#pagination a").click(function(e){
        e.preventDefault()
        page_string = this.href.slice(this.href.indexOf("?") + 1)
        
        var query_string = ""   
        var search_query = window.location.search
        var query_obj = {}
        if(search_query){
            if(search_query.indexOf('?') > -1)
                search_query = search_query.substr(1)
            
            var searchQueryStrings = [search_query]
            if(search_query.indexOf('&') > -1)
                searchQueryStrings = search_query.split('&')
            
            searchQueryStrings.forEach(qs => {
                var query_array = qs.split('=')
                query_obj[query_array[0]] = query_array[1]
            })

        }
        
        query_obj['page'] = page_string.split('=')[1]
        for(var k in query_obj){
            query_string += k + '=' + query_obj[k] + '&'
        }
        
        // console.log(query_string, query_obj, window.location)
        window.location = window.location.pathname + "?" + query_string.slice(0, -1)
    })


});

</script>
{% endblock jsscript %}