{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static group_required %}
{% block head %}
<style>
.status-open {
    background-color: #2fd22f;
    font-size: 16px;
}
.status-rejected {
    background-color: red;
    font-size: 12px;
}
.fade-in {
    opacity: 0;
    font-size: 21px;
    margin-top: 25px;
    text-align: center;

    -webkit-transition: opacity .3s ease-in;
       -moz-transition: opacity .3s ease-in;
        -ms-transition: opacity .3s ease-in;
         -o-transition: opacity .3s ease-in;
            transition: opacity .3s ease-in;
}

.fade-in.load {
    opacity: 1;
}
.fabutton {
  background: none;
  padding: 0px;
  border: none;
}
.table>thead>tr>th{
    color: #00ABE7!important;
    font-size: 15px!important;
    
}
</style>
{% endblock head %}
{% block content %}
    

<!-- Modal -->
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Filters</h4>
          </div>
          <div class="modal-body">
            <form action="" method="get">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ filter.form.code.label }}</label>
                            {{ filter.form.code }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ filter.form.name_of_candidate.label }}
                            </label>
                            {{ filter.form.name_of_candidate }}
                        </div>
                    </div>
                    

                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ filter.form.course.label }}</label>
                            {{ filter.form.course }}
                        </div>
                    </div>
                     <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ filter.form.status.label }}</label>
                            {{ filter.form.status }}
                        </div>
                    </div>
                     <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">{{ filter.form.campaign.label }}</label>
                            {{ filter.form.campaign }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>  
                </div>
                <div class="clearfix"></div>
            </form>
          </div>
          <div class="modal-footer">
            
          </div>
    </div>
  </div>
</div>

<div class="content-main">
        <div class="block">
            <div class="row show-grid">
                <div class="col-sm-6">
                    <h3>
                       My Leads
                       <a href="{% url 'enquiry:create' %}" class="btn btn-link">
                              <i class="fa fa-plus-square-o fa-2x"></i>
                        </a>
                    </h3>
                </div>
                <div class="col-sm-6">
                    <div class="pull-right">

                        <!-- Button trigger modal -->
                        
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#filter-modal">
                           <i class="fa fa-filter"></i> Apply Filters
                        </button>
                        <a class="btn btn-primary btn-sm" href="{% url 'enquiry:list' %}">
                            <i class="fa fa-refresh"></i> Refresh
                        </a>
                        {% if request.user.is_staff %}
                        <div class="dropdown">
                          <button id="dLabel" class="btn btn-primary btn-sm" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Settings
                            <span class="caret"></span>
                          </button>
                          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dLabel">
                            <li>
                                <a href="{% url 'enquiry:code_settings' %}" class="btn btn-link">
                                    <i class="fa fa-pencil-square-o fa-fw"></i>Manage Code Settings
                                </a>
                            </li>
                             <li>
                                <a href="/admin/erp_core/activitytype/" class="btn btn-link" target="_blank">
                                    <i class="fa fa-pencil-square-o fa-fw"></i>Manage Activity Type
                                </a>
                            </li>


                            
                          </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>                          
            </div>
            <div class="row show-grid">
                <div class="col-sm-12">

                    <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Leads (Code)</th>
                                <th>Statud</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for enquiry in enquiries %}
                                <tr class="">
                                    <td scope="row">{{ forloop.counter}}</td>
                                    <td>
                                        <a href="{% url 'enquiry:enquiry_detail' enquiry.pk %}">{{ enquiry}}</a>
                                    </td>
                                    <td>{{ enquiry.status }}</td>

                                </tr>
                                {% empty %}
                                <tr><td colspan="6">No Leads </td></tr>
                            {% endfor %}
                       </tbody>
                    </table>
                </div>
            </div>
                <div id="pagination">
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script>
$(document).ready(function(){
     var $date_inputs = $('#id_date,#id_next_follow_up_date')
    var date_format = 'YYYY-MM-DD';
    $date_inputs.daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        // timePicker: true,
        // timePicker24Hour: false,
        autoApply: true,
        showDropdowns: true,
        locale: {
            format: date_format,
        },
        // calender_style: "picker_4",
    }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
    });


    $date_inputs.on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('YYYY-MM-DD'));
    });

    $date_inputs.on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });
   
    
    $('form.delete').submit( function (e){
        e.preventDefault()
        e.stopPropagation()
        if(confirm('Do you want to Delete the entire student Details')){
            this.submit()
        }
    })

    $(".fade-in").addClass("load")


});
</script>
{% endblock jsscript %}