{% extends "erp/base.html" %}
{% block head_title %}New Registration{% endblock %}
{% block head %}
<style>
  @media (min-width: 768px){
      #page-wrapper {
          position: inherit;
          margin: 0px;
      }
  }
  div.login{
    padding-top: 5em;
  }
  form.login{
    padding: 0px;
  }
  div.login-box {
    margin-bottom: 6em;
    margin-top: 3em;
    background-color: #fff;
    padding: 2em 1em;
    border: 1px solid #ebeff6;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
  }

</style>
{% endblock head %}

{% block menu %}
{% include "erp/menu.html" %}
{% endblock menu %}
{% block content %}


<div class="login">
    <h1><a href="#">New Registration </a></h1>
    <div class="login-box col-xs-12 col-sm-4 col-sm-offset-4">
        {{ form.non_field_errors }}
        <form class="login" method="POST" action="{% url 'enquiry:new_registration' %}">
            {% csrf_token %}
            <div class="col-xs-12 col-sm-10 col-sm-offset-1">
                <!--<h2 style="margin-bottom: 10px;">Login</h2>-->
                <div class="login-mail">
                    {{ form.contact.errors }}
                    {{form.contact}}
                </div>

            </div>
            <div class="col-xs-12 col-sm-10 col-sm-offset-1 login-do">

                <label class="hvr-shutter-in-horizontal login-sub"></label>
                <input type="submit" value="Submit" style="background-color:#cc0000; color:#000000">
            </div>
        </form>
    </div>


    <div class="clearfix"></div>

</div>


{% endblock %}
