{% extends "erp_admin/base.html" %}{% load humanize %}
{% load static %}
{% block head %}
<style type="text/css">

</style>
{% endblock head %}
{% block content %}

<!-- Modal -->
<div class="modal fade" id="filter-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Filters</h4>
          </div>
          <div class="modal-body">
            <form action="" method="get">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Type</label>
                            {{ filter.form.type }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Assigned to</label>
                            {{ filter.form.assigned_to }}
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Created By</label>
                            {{ filter.form.created_by }}
                        </div>
                    </div>
                     <div class="col-sm-6">
                        <div class="form-group">
                            <label class="control-label">Date</label>
                            {{ filter.form.date }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </form>
          </div>
          <div class="modal-footer">

          </div>
    </div>
  </div>
</div>

    <div class="content-main">
        <div class="block">
            <div class="row">
                <div class="col-sm-12 col-xs-12" style="padding-left:30px;">

                </div>
            </div>
            <div class="row show-grid">
                <div class="col-sm-6">
                    <h3>
                        <span style="color:#d9534f;"><blink>Pending Follow Ups <i class="fa fa-exclamation-triangle"></i></a></blink></span>

                    </h3>
                </div>
                <div class="col-sm-6">
                    <div class="pull-right">
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#filter-modal">
                          <i class="fa fa-filter"></i> Filters
                        </button>
                        <a class="btn btn-primary btn-sm" href="{% url 'enquiry:pending_follow_ups' %}">
                         <i class="fa fa-refresh"></i> Refresh
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Name</th>
                                    <th>Date</th>
                                    <th>Assigned To</th>
                                    <th>Created By</th>
                                    <th>Enquiry Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for activity in activities %}
                                <tr>
                                    <td scope="row">{{ forloop.counter }}</td>
                                    <td><a href="{% url 'enquiry:enquiry_detail' activity.enquiry.pk %}">{{activity.enquiry}}</a></td>
                                    <td>{{activity.date}}</td>
                                    <td>{{ activity.assigned_to.user }}</td>
                                    <td>{{ activity.created_by }}</td>
                                    <td>{{ activity.enquiry.status }}</td>
                                    <td>
                                        <a href="{% url 'enquiry:view_activity' activity.pk %}" class="btn btn-primary btn-xs">
                                            <i class="fa fa-eye"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% empty %}
                                <tr><td colspan="8">No Pending Follow Ups</td></tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <div id="pagination">
                        {{pagination|safe}}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}
{% block jsscript %}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/daterangepicker.js' %}"></script>
<script>
$(document).ready(function(){
     var $date_inputs = $('#id_date')
    var date_format = 'YYYY-MM-DD';
    $date_inputs.daterangepicker({
        singleDatePicker: true,
        autoUpdateInput: false,
        // timePicker: true,
        // timePicker24Hour: false,
        autoApply: true,
        showDropdowns: true,
        locale: {
            format: date_format,
        },
        // calender_style: "picker_4",
    }, function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
    });


    $date_inputs.on('apply.daterangepicker', function(ev, picker) {
        $(this).val(picker.startDate.format('YYYY-MM-DD'));
    });

    $date_inputs.on('cancel.daterangepicker', function(ev, picker) {
        $(this).val('');
    });




});
</script>
{% endblock jsscript %}