<template>
	<div class="description">
		<label>Description: </label>
		<transition name="fade">
			<span v-if="!edit">
			{{ description }}
			</span>
			<span v-else>
				<input type="text" v-model="description" class="form-control">
				<span v-show="errors.has('description')" class="help-block">
					<i class="fa fa-warning"></i>{{ errors.first('description') }}
				</span> 
			</span>
		</transition>
			
	</div>
</template>

<script>
// selector.append($("<option>", {product:"", text:"--"}))

export default {
	name: 'item-description',
	props:{
		value: null,
		edit: {
			type: Boolean,
			default: false,
		},
	},
	data(){
		return {
			description: this.value
		}
	},
	created(){
	},

	watch: {
		description(){
			this.$emit('input', this.description )
		},
	},
}

</script>
<style>
.item .description {
	/*padding-left: 15px;*/
}
</style>