<template>
<transition name="fade">
	<li class="list-group-item item">
		<div class="gutter-10 row">
			<div class="col-xs-4">
				<div class="form-group">
					<item-product v-model="item.product" :products="products" :edit="show_form" :val-errors="errors.collect('product')"></item-product>
				</div>
			</div>
			
			<div class="col-xs-2">
				<div class="form-group">
					<item-price v-model="item.price" :edit="show_form"></item-price>
				</div>
			</div>

			<div class="col-xs-2">
				<div class="form-group">
					<item-quantity v-model="item.quantity" :edit="show_form"></item-quantity>
				</div>
			</div>
			<div class="col-xs-2">
				<div class="sub-total">
					<span v-html="total"></span>
				</div>
			</div>	
		</div>
		<div class="remove">
			<a class="destroy" @click.prevent="remove">
				<i class="fa fa-times-circle-o fa-lg"></i>
			</a>
		</div>
			<!-- <edit-item :products="products" :item="item" v-else @add_item="toggle_form"></edit-item> -->
		<div class="clearfix"></div>
	</li>  
</transition>

</template>

<script>
import ItemProduct from './item_product.vue'
import ItemPrice from './item_price.vue'
import ItemQuantity from './item_quantity.vue'
import ItemDescription from './item_description.vue'
import Vue from 'vue'
// import { mapMutations } from 'vuex'

export default {
	name: 'item',
	props: ['index', 'item', 'valErrors', 'products'],
	data(){
		return {
			show_form: false,
		}
	},

	created(){
		console.log('created enquiry-item', this.item)
		if(!this.item.id){
			this.show_form = true
		}
	},

	components: {
		ItemProduct,
		ItemQuantity,
		ItemPrice,
		ItemDescription

	},
	
	computed: {
		total(){
			this.$set(this.item, 'total', this.item.price * this.item.quantity)
			return Vue.filter('rupees')(this.item.total)
		},
	},

	watch:{
		'item.product': function(){
			console.log('item changed')
			if(this.item.product != {} && this.item.product.hasOwnProperty('price')){
				this.item.price = Number(this.item.product.price)
				this.$set(this.item, 'total', this.item.price * this.item.quantity)
			}
		},
		// 'item.price':{
		// 	handler: function(){
		// 		console.log('item changed')
		// 		if(this.item.product != {} && this.item.product.hasOwnProperty('price')){
		// 			this.item.price = Number(this.item.product.price)
		// 			this.$set(this.item, 'total', this.item.price * this.item.quantity)
		// 		}
		// 	},
		// 	deep: true
		// },
		valErrors(){
			this.handle_validation_errors(this.valErrors)
		}
	},

	methods : {
		toggle_form(){
			this.show_form = !this.show_form
		},

		remove(){
			if(this.item.product.price)
				this.remove_product(this.item.product)
			this.$emit('remove')
		},

		handle_validation_errors(errors){
			this.$validator.errorBag.clear()
			this.update_error_bag(errors)
		},

		update_error_bag(errors){
			for(var key in errors) {
				if(errors[key].length){
					errors[key].forEach( error_msg => {
						this.$validator.errorBag.add(key, error_msg)
					})
				}else{
					this.update_error_bag(errors[key])
				}
				// this.errors.add(key, errors[key])
				// vm.errors.push({ field: key, msg: errors[key]})
			}
		},

		// ...mapMutations({
		// 	remove_product: 'PRODUCT_REMOVED'
		// })

	}

}
</script>

<style>
li.item{
	position: relative;
	border-bottom: 1px solid #eee;
	padding: 5px;
	/*padding-top: 20px;*/
}
li.item .index{
    color: #999;
    /*display: inline-block;*/
    position: absolute;
    top: 0%;
    left: 0px;
    font-size: 1.1em;
    font-weight: 700;
    width: 30px;
    text-align: center;
    margin-top: 5px;
    /*float: left;*/
}
li.item .remove{
    position: absolute;
    top: -10px;
    right: 0px;
    font-size: 1.1em;
    font-weight: 700;
    width: 30px;
    text-align: center;
    margin-top: 5px;
    /*float: left;*/
}
li.item div.content {
	/*display: inline;*/
}
li.item div.product {
	/*display: inline-block;*/
}
li.item div.sub-total {
	float: right;
}

li div.edit-item{
	float: left;
	width: 100%;
}
.destroy {
	color: #d9534f;
	border-color: #d43f3a;/*position: absolute;*/
}
a.destroy:hover {
	color: #c9302c;
	border-color: #ac2925;
}
@media (min-width: 768px){
	.form-inline .form-control {
		width: auto 
	}
}
.edit-item table td {
	padding: 10px;
}
.edit-item table td span {
	padding: 0px;
	font-size: 14px;
}

</style>