<template>
	<div class="product" :class="{'has-error': errors.has('product') }">
		<product-select v-model="selected_product"
			name="product"
			class="form-control"
			style="width:100%;"
			:options="options"
			v-validate.initial
			data-vv-rules="required"
			v-if="editable"
		></product-select>
		<span v-show="errors.has('product')" class="help-block">
			<i class="fa fa-warning"></i>{{ errors.first('product') }}
		</span>	
		<!--<div class="col-sm-4">
			<transition name="fade">
				<span v-if="product.price">
					<label>Unit price: </label><span v-html="price"></span> 
				</span>
			</transition>
		</div>-->
	</div>
</template>

<script>
// selector.append($("<option>", {product:"", text:"--"}))
import ProductSelect from 'components/select2.vue'
import Vue from 'vue'

export default {
	name: 'item-product',
	props:{
		value: Object,
		edit: {
			type: Boolean,
			default: false,
		},
		editable: {
			type: Boolean,
			default: true,
		},
		valErrors: null,
		products: Array,
	},
	data(){
		return {
			selected_product: null,
			product: {
				id: null,
				name: null,
				price: 0.00,
				code: null
			}
		}
	},
	created(){

		if(this.value != {})
			this.selected_product = JSON.parse(JSON.stringify(this.value)).id
	},
	components: {
		ProductSelect
	},
	computed:{
		// product_name(){
		// 	return this.options.find(option => option.id == this.product).name
		// },
		// product(){
		// 	return JSON.parse(JSON.stringify(this.value))
		// },
		price(){
			var x = this
			return Vue.filter('rupees')(x.product.price)
		},
		options(){
			// debugger
			return this.products.map(product => {
				return {id: product.id, text: product.name, disabled: product.disabled}
			})
		},
		
	},

	watch: {
		value(){
			if(this.value.hasOwnProperty('id'))
				this.selected_product = JSON.parse(JSON.stringify(this.value)).id
		},
		selected_product(){
			if(this.selected_product){
				this.product = this.products.find(product => product.id == this.selected_product)
				this.$emit('input', this.product )
				// this.product_selected(this.product)
			}
		},
		valErrors(){
			this.handle_validation_errors(this.valErrors)
		}
	},

	methods: {
		handle_validation_errors(errors){
			this.$validator.errorBag.clear()
			// this.update_error_bag(errors)
			errors.forEach(error => {
				this.$validator.errorBag.add('product', error)
			})
		},

		// ...mapMutations({
		// 	product_selected: 'PRODUCT_SELECTED'
		// })
	}
}

</script>